<div id="CartDrawer-Skeleton" class="cart-drawer-skeleton">
    <div class="skeleton skeleton-block"></div>

    <div class="cart-drawer-skeleton__inner">
        <div class="skeleton-card">
            <div class="skeleton skeleton-img"></div>
            <div class="skeleton-card__details">
                <h2 class="skeleton skeleton-text"></h2>
                <p class="skeleton-description">
                    <span class="skeleton"></span>
                    <span class="skeleton"></span>
                </p>
            </div>

            <div class="skeleton skeleton-icon"></div>
        </div>
        <div class="skeleton-card">
            <div class="skeleton skeleton-img"></div>
            <div class="skeleton-card__details">
                <h2 class="skeleton skeleton-text"></h2>
                <p class="skeleton-description">
                    <span class="skeleton"></span>
                    <span class="skeleton"></span>
                </p>
            </div>

            <div class="skeleton skeleton-icon"></div>
        </div>
        <div class="skeleton skeleton-body"></div>
    </div>


    <div class="skeleton skeleton-block"></div>
</div>
