<div
  data-ship-next="{{ 'cart.banner.ship_next_business_day' | t }}"
  data-ship-now="{{ 'cart.banner.ship_today' | t }}"
  class="cart-banner"
>
  <div class="cart-banner__free-shipping">
    <img
      src="//cdn.shopify.com/s/files/1/0592/8570/0771/files/free_delivery_blue.png?v=1664864442"
      width="28" height="auto" loading="lazy"
    >
  </div>
  <p class="cart-banner__content"></p>
</div>
