<!-- cart_upsell snippet add  ( render )in ajax-cart-template.liquid file (line number 102) -->

<div class="cart_upsell_pro">
  <div class="upsell_inner">
    <div class="subtt">
      <h6>
        {% if cart.items.size == 0%}
        shop our bestsellers
        {% else %}
        complete your set
        {% endif%}
      </h6>
    </div>
    <div class="prod_lists" id="cart__drawer_items">
    </div>
  </div>
</div>
