<cart-icon-bubble id="cart-icon-bubble">
  <div class="cart-icon-bubble">
    {% render 'icon-cart' %}

    <loading-overlay></loading-overlay>

    {%- if cart.item_count != 0 -%}
      <div class="cart-count-bubble">
        <span aria-hidden="true" class="hidden">{{ cart.item_count }}</span>
        {%- if cart.item_count < 100 -%}
          <span aria-hidden="true">{{ cart.item_count }}</span>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</cart-icon-bubble>
