<div class="checkout-countdown">
 <div id="checkout-timer">
 </div>
</div>
<script>
    const DEFAULT_COUNTDOWN_STR = '10:00';
    const countDownTimerStr = sessionStorage.countdown || DEFAULT_COUNTDOWN_STR;
    const countDownArr = countDownTimerStr.split(':');
    const countdownTimer = parseInt(countDownArr[0]) * 60 + parseInt(countDownArr[1]);
    var countdownInterVal;

    initCountText();
    
    setTime(countdownTimer, document.querySelector('#timer'));
    
    function initCountText() {
        var countDownStr = `<p>An item in your cart is in high demand. <br/>Your order is reserved for <span id="timer" style="width: 40px">${countDownTimerStr}</span> minutes. Check out soon!</p>`; 
        {% if request.locale.iso_code == 'fr' %}
            countDownStr = `<p>Un produit dans votre panier est forte demande. <br/>Votre panier est réservé pour <span id="timer" style="width: 40px">${countDownTimerStr}</span> minutes.</p>`; 
        {% endif %}
        document.getElementById("checkout-timer").innerHTML = countDownStr;
    }
    
    function setTime(duration, display) {
        var timer = duration, minutes, seconds;
        countdownInterVal = setInterval(function() {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);
    
            display.innerHTML = `${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;

            var user = {'minutes': minutes, 'seconds': seconds};
    
            if (--timer < 0) {
                document.getElementsByClassName('checkout-countdown')[0].style.display = 'none';
                document.getElementById('timer').innerHTML = '';
                sessionStorage.removeItem('countdown');
                clearInterval(countdownInterVal);
            }
        }, 1000);
    }
</script>
<style>
 #checkout-timer {
  background-color: #FDFAEF;
  padding: 1rem;
  border: solid 1px #F7E1A1;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
 }

 .checkout-countdown .subtitle {
  text-align: center;
  margin-bottom: 1rem;
 }
</style>