<div
  data-ship-now="{{ 'shopify.checkout.banner.ship_today' | t }}"
  data-ship-next="{{ 'shopify.checkout.banner.ship_next_business_day' | t }}"
  class="checkout-banner"></div>

<script>
  $(document).ready(function () {
    const $banner = $('.checkout-banner')

    if (!$banner.length) return

    const dateInEst = (new Date()).toLocaleString('en-US', { timeZone: 'America/New_York', hour12: false })
    const estDate = new Date(dateInEst)

    $banner.text(isShippedOutNextDay(estDate.getHours(), estDate.getMinutes()) ? $banner.data('shipNext') : $banner.data('shipNow'))
  })

  function isShippedOutNextDay(hour, minute) {
    if (hour === 14 && minute === 0) return false
    return hour >= 14 && hour <= 23;
  }
</script>
