{% comment %} UPSELL items code start under here! {% endcomment %}
<!-- <script type="text/javascript">

  function addItemToCart(variant_id, qty) {
    var data = {
      "id": variant_id,
      "quantity": qty
    };
    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function () {
        location.reload();
      }
    });
  };

  $(document).on('click', "#add-to-cart-button", function () {
    var variant_id = $(this).parents('.prod_item').find('.js-select2').val();
    var qty = "1";
    addItemToCart(variant_id, qty);
  });

  function remove_Dumplicate_Value(myArray) {
    var newArray = [];
    $.each(myArray, function (key, value) {
      var exists = false;
      $.each(newArray, function (k, val2) {
        if (value.id == val2.id) {
          exists = true;
        };
      });
      if (exists == false && value.id != "") {
        newArray.push(value);
      }
    });

    return newArray;
  };

  function getMultipleRandom(arr, num) {
    var shuffled = arr.sort(() => 0.5 - Math.random());
    return shuffled.slice(0, num);
  };

  function showUpsells(upsells) {
    $.each(upsells, function (u, e) {
      upsells[u] = remove_Dumplicate_Value(e);
    });
    var arr = Object.keys(upsells);
    var final_keys = getMultipleRandom(arr, 3);

    // ****************** upsell item html start ******************
    var html = "";
    var currency_format = document.getElementsByTagName('body');
    currency_format = currency_format[0].dataset.format;

    $.each(final_keys, function (final_k, final_v) {
      if (Object.keys(upsells[final_v]).length > 1) {
        let random_key = getMultipleRandom(Object.keys(upsells[final_v]), 1)[0];
        let single_upsells = upsells[final_v][random_key];
        upsells[final_v] = {};
        upsells[final_v][0] = single_upsells;
      }
      if ((upsells[final_v] != 'undefined' && upsells[final_v] != undefined && upsells[final_v] != null)) {
        $.each(upsells[final_v], function (html_k, html_v) {
          if ((typeof html_v != undefined) && (typeof html_v != 'undefined')) {
            var tag = html_v.tags[0];
            var img = html_v.images[0];
            var variant = html_v.variants[0];

            $(document).on('change', "select.product-form__variants", function () {
              var data_price = $(this).children("option:selected").data('price');
              var data_compare_price = $(this).children("option:selected").data('compare_price');
              $(this).parents(".prod_item ").find(".prod_sale_price").text(data_compare_price);
              $(this).parents(".prod_item ").find(".prod_price").text(data_price);
            });

            html += '<div class="prod_item">';
            if ((tag != 'undefined') && (tag != null) && (tag != undefined)) {
              html += '<div class="prod_tag"><p>' + tag + '</p></div>';
            }
            html += '<div class="prod_img">';
            html += '<div class="prod_img_inner">';
            if ((img != 'undefined') && (img != null) && (img != undefined)) {
              html += '<div class="backimg" style="background-image:url(' + img.src + ');">';
            }
            html += '<svg class="transparent_svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 76">';
            html += '<rect class="cls-1" x="0.5" y="0.5" width="100" height="75"></rect>';
            html += '</svg>';
            html += '</div>';
            html += '</div>';
            html += '</div>';
            html += '<div class="prod_info">';
            html += '<div class="prod_tt">';
            html += '<a href="/products/' + html_v.handle + '">' + html_v.title + '</a>';
            html += '</div>';

            html += '<div class="compare_pro_price">';
            html += '<div class="prod_price">$' + variant.price + '</div>';

            html += '<div class="prod_sale_price">$' + variant.compare_at_price + '</div>';

            html += '</div>';
            if ((variant != 'undefined') && (variant != null) && (variant != undefined)) {
              html += '<div class="prod_type">';
              if (variant.available) {
                html += '<select name="id" class="js-select2" id="ProductSelect-' + html_v.id + '"';
                if (variant.title == 'Default Title') {
                  html += ' style="display:none"';
                  html += ' data-default="" ';
                }
                html += ' class="product-form__variants no-js">';
                $.each(html_v.variants, function (var_key, var_val) {
                  if (var_val.available) {
                    html += '<option';
                    if (var_key == 0) {
                      html += ' selected="selected"';
                    }
                    html += ' data-price=" $' + var_val.price + ' " data-compare_price=" $' + var_val.compare_at_price + ' "   data-availability="true" value="' + var_val.id + '">' + var_val.title + '</option>';
                  }
                });
                html += '</select>';
              }
              html += '</div>'

            }
            html += '</div>';
            html += '<div class="add_prod">';
            html += '<div class="add_btn">';
            html += '<a href="javascript:void(0);" id="add-to-cart-button" class="btn btn--secondary btn--full marztop">';
            html += '<span class="icon icon-plus" aria-hidden="true"></span> ADD';
            html += '</a>';
            html += '</div>';
            html += '</div>';

            //      ============== addto cart end ==============`

            html += '</div>';
          }
        });
      }
    });
    document.getElementById('cart__drawer_items').innerHTML = '';
    document.getElementById('cart__drawer_items').insertAdjacentHTML('beforeend', html);
    jQuery(".js-select2").select2();
  };
  jQuery(document).ready(function () {
    jQuery.getJSON('/cart.js', function (cart) {
      let items = cart.items;
      if (cart.items.length > 0) {
        jQuery.getJSON('https://emma-sleep.ca/products.json', function (product) {

          // Static UPSELL items Object
          var upsell_pro = {
            "mattress": ['protector', 'pillow', 'topper'],
            "pillow": ['mattress', 'topper', 'protector'],
            "protector": ['mattress', 'pillow', 'topper'],
            "topper": ['mattress', 'pillow', 'protector'],
            "bed-frame-with-mattress": ['protector', 'pillow', 'topper'],
            "bed-frame-without-mattress": ['mattress', 'protector', 'pillow']
          }

          var upsell_results = {};

          // This is the cart items loop
          $(cart.items).each(function (i, c_item) {
            var cart_pro_type = (c_item.product_type).toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/-$/, '').replace(/^-/, '');

            // got the same type from upsell object
            if ((typeof upsell_pro[cart_pro_type] != undefined) && (typeof upsell_pro[cart_pro_type] != 'undefined') && (upsell_pro[cart_pro_type].length > 0)) {
              var upsell_type = upsell_pro[cart_pro_type];

              // each loop of current cart product type from upsell object
              $(upsell_type).each(function (k, upsell_type) {

                if ((typeof upsell_type != 'undefined') && (typeof upsell_type != undefined) && (typeof upsell_type != null)) {

                  // find products which match upsell types
                  $(product['products']).each(function (p, e) {
                    var protype_data = (e.product_type).toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/-$/, '').replace(/^-/, '');

                    // match the type of product with the upsell type
                    if (upsell_type == protype_data) {
                      if ((typeof upsell_results[protype_data] != undefined) && (typeof upsell_results[protype_data] != 'undefined') && (upsell_results[protype_data] != null)) {
                        upsell_results[protype_data].push(e);
                      } else {
                        upsell_results[protype_data] = [e];
                      }
                    }
                  });
                }
              });
            }
          });
          if ((typeof upsell_results != undefined) && (typeof upsell_results != 'undefined') && (upsell_results != null)) {

            showUpsells(upsell_results);
            //      console.log(upsell_results);
          }
        });
      }
    });

  });
</script> -->
{% comment %} UPSELL items code end under here! {% endcomment %}