<announcement-bar-countdown-timer end-time="{{ end_time }}" timer-text="{{ timer_text }}">
  <span id="announcement-message" class="weglot-dynamic-content-translate">{{ text }}&nbsp;</span>
  <span id="countdown-timer" class="font-bold"></span>
</announcement-bar-countdown-timer>
