<div class="product_step_inner">
  <div class="step_head">
    <h3 class=""> Achetez maintenant, payez plus tard </h3>
    <p class="sub_head"> <strong>avec</strong> <img class="model_img" src="https://cdn.shopify.com/s/files/1/0562/9873/3706/files/paybright.svg"></p>
  </div>

  <div class="pay_steps">

    <div class="step_item">
      <p class="para_txt">Vous pouvez financer votre achat via PayBright comme indiqué sur la page de paiement (en sélectionnant "PayBright" lors du paiement).</p>
    </div>
	
    <div class="shop_btn">
	<a href="#" data-fancybox-close class=""><span class="">continuer les achats</span></a>
    </div>
   </div>
  

</div>

  <div class="pro_note">
    	<div class="pro_note_inner">
          <p>*Non disponible pour les achats inférieurs à 300,00 $.</p>
          <p>*PayBright ne peut pas être utilisé conjointement avec d'autres remises et promotions.</p>
    	</div>
  </div>