<ul id="header-right">
	<li><a tabindex="-1" class="language-redirection"></a></li>
	{%- if shop.customer_accounts_enabled -%}
		<li>
			<a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
				<img src="{{ 'account.svg' | asset_url }}" loading="lazy" width="28" height="35">
			</a>
		</li>
	{% endif %}
	<li>{% render 'cart-icon-bubble' %}</li>
</ul>
