<div class="minimal-nav-dropdown">
  <ul
    class="minimal-site-subnav"
  >
    {% for childlink in link.links %}
      <li
        class="site-subnav__item{% if childlink.active %} site-nav--active{% endif %}"
      >
        <a
          href="{{ childlink.url }}"
          class="site-subnav__link"
          {% if childlink.active %}aria-current="page"{% endif %}
          tabindex="-1"
        >
          {{ childlink.title | escape }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
