<div
  class="product__media media media--transparent"
  style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;"
>
  {% render 'product-image-tag', media: media %}
</div>
