<div class="product_step_inner">
  <div class="step_head">
    <h3 class="">Hit the snooze button on payments. </h3>
    <p class="sub_head"> <strong>with</strong> <img class="model_img" src="https://cdn.shopify.com/s/files/1/0562/9873/3706/files/paybright.svg"></p>
  </div>

  <div class="pay_steps">

    <div class="step_item">
      <div class="step_icon">
        <div class="step_icon_inner">
          <div class="backimg" style="background-image:url(https://cdn.shopify.com/s/files/1/0562/9873/3706/files/newcheckbox-svg.svg?v=1651902508);">
            <svg class="transparent_svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 378 378">
              <rect class="cls-1" x="0.5" y="0.5" width="377" height="377"></rect>
            </svg>
          </div>
        </div>                

      </div>
      <div class="step_data">
        <div class="step_item_head">Instant Approval</div>
        <div class="step_info">Get quick real-time decision with PayBright.</div>
      </div>
    </div>

    <div class="step_item">
      <div class="step_icon">
        <div class="step_icon_inner">
        <div class="backimg" style="background-image:url(https://cdn.shopify.com/s/files/1/0562/9873/3706/files/new-percentage.svg?v=1652071855);">
          <svg class="transparent_svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 378 378">
            <rect class="cls-1" x="0.5" y="0.5" width="377" height="377"></rect>
          </svg>
        </div>
        </div>  
      </div>
      <div class="step_data">
        <div class="step_item_head">0% APR (over 6 months)</div>
        <div class="step_info">No secrets, no surprises.</div>
      </div>
    </div>

    <div class="step_item">
      <div class="step_icon">
        <div class="step_icon_inner">
        <div class="backimg" style="background-image:url(https://cdn.shopify.com/s/files/1/0562/9873/3706/files/new-calender-svg.svg?v=1651902705);">
          <svg class="transparent_svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 378 378">
            <rect class="cls-1" x="0.5" y="0.5" width="377" height="377"></rect>
          </svg>
        </div>
        </div>
      </div>
      <div class="step_data">
        <div class="step_item_head">Easy Monthly Payments</div>
        <div class="step_info">Sleep in, stress-free.</div>
      </div>
    </div>
    
    <div class="step_item">
      <p class="para_txt">Just select "PayBright" at checkout.</p> 
    </div>
	
    <div class="shop_btn">
	<a href="#" data-fancybox-close class=""><span class="">continue shopping</span></a>
    </div>
   </div>  

</div>

  <div class="pro_note">
    	<div class="pro_note_inner">
          <p>*Not available for purchase under $300 CAD</p>
          <p>*PayBright cannot be used in conjunction with other discounts and promotions.</p>
    	</div>
  </div>