<p>Delivery Information:</p>
<p>Single-sized Emma Originals is expected to be delivered 2 weeks from order </p>

<p>King and Queen Emma Original mattress delivery is expected late-January to mid-February due to high demand</p>

