<style>
    .promotion-capsule {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        padding: 4px 8px;
        background-color: #3c4196;
        color: white;
        font-weight: bold;

        text-transform: uppercase;
    }

    .promotion-capsule--mobile {
        background-color: white;
        color: #3c4196;
    }
</style>

{% assign capsule = "" %}
{% assign collectionCount = 0 %}

{% assign collectionIds = "265877848202,271340208266,271182332042,271340241034,271400468618" %}

{% for collection in collections %}
	{% if collectionIds contains collection.id %}
		{% assign collectionCount = collectionCount | plus: 1 %}
		{% assign capsule = collection.description %}
	{% endif %}
{% endfor %}

{% if capsule != blank %}
	<div class="promotion-capsule{% if isMobile == true %} promotion-capsule--mobile{% endif %}">
		{% if collectionCount > 1 %}
			PROMO
		{% else %}
			{{ capsule }}
		{% endif %}
	</div>
{% endif %}
