<div class="splide__arrows">
	<button class="splide__arrow splide__arrow--prev">
		<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M19.5303 8.46973L11.5303 0.469728C11.2373 0.176757 10.7627 0.176757 10.4697 0.469728C10.1767 0.762698 10.1767 1.23731 10.4697 1.53028L17.1894 8.25H1C0.58594 8.25 0.25 8.58594 0.25 9C0.25 9.41406 0.58594 9.75 1 9.75H17.1894L10.4697 16.4697C10.1767 16.7627 10.1767 17.2373 10.4697 17.5303C10.6162 17.6768 10.8076 17.75 11 17.75C11.1924 17.75 11.3838 17.6768 11.5303 17.5303L19.5303 9.53027C19.666 9.39453 19.75 9.20703 19.75 9C19.75 8.79297 19.666 8.60547 19.5303 8.46973Z" fill="white"/>
		</svg>
	</button>
	<button class="splide__arrow splide__arrow--next">
		<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M19.5303 8.46973L11.5303 0.469728C11.2373 0.176757 10.7627 0.176757 10.4697 0.469728C10.1767 0.762698 10.1767 1.23731 10.4697 1.53028L17.1894 8.25H1C0.58594 8.25 0.25 8.58594 0.25 9C0.25 9.41406 0.58594 9.75 1 9.75H17.1894L10.4697 16.4697C10.1767 16.7627 10.1767 17.2373 10.4697 17.5303C10.6162 17.6768 10.8076 17.75 11 17.75C11.1924 17.75 11.3838 17.6768 11.5303 17.5303L19.5303 9.53027C19.666 9.39453 19.75 9.20703 19.75 9C19.75 8.79297 19.666 8.60547 19.5303 8.46973Z" fill="white"/>
		</svg>
	</button>
</div>
