{{ 'store-localization.css' | asset_url | stylesheet_tag }}

<div id="store-localization-popup">
    <div class="store-localization__wrapper">
        <div class="store-localization__sidebar">
            {% render 'icon-pin-rotate' %}
        </div>
        <div class="change-country">
            <p class="from-abroad">It seems you are visiting Emma from abroad.</p>

            <p class="change-country__dropdown-label">You can choose your country from the list below:</p>
            <select class="change-country__dropdown">
                <option value="">Select your country</option>
            </select>
            <div class="keep-me-container" onclick="closePopup()">
                <a class="keep-me">Keep me on this site</a>
            </div>
        </div>
    </div>
</div>

<script>
    const GEOLOCATION_API_KEY = "dedf743cfea543cfa1ce4f08be16125b"

    const allStores = [
        {
            "languageCode": "en",
            "countryCode": "AU",
            "storeName": "Emma Australia (AU)",
            "storeUrl": "https://www.emma-sleep.com.au/"
        },
        {
            "languageCode": "de",
            "countryCode": "AT",
            "storeName": "Emma Austria (AT)",
            "storeUrl": "https://www.emma-matratze.at/"
        },
        {
            "languageCode": "fr",
            "countryCode": "BE",
            "storeName": "Emma Belgium (FR)",
            "storeUrl": "https://www.emma-matelas.be/"
        },
        {
            "languageCode": "nl",
            "countryCode": "BE",
            "storeName": "Emma Belgium (NL)",
            "storeUrl": "https://www.emma-matras.be/"
        },
        {
            "languageCode": "pt",
            "countryCode": "BR",
            "storeName": "Emma Brazil (BR)",
            "storeUrl": "https://www.colchoesemma.com.br/"
        },
        {
            "languageCode": "en",
            "countryCode": "CA",
            "storeName": "Emma Canada (EN)",
            "storeUrl": "https://www.emma-sleep.ca/"
        },
        {
            "languageCode": "fr",
            "countryCode": "CA",
            "storeName": "Emma Canada (FR)",
            "storeUrl": "https://qc.emma-sleep.ca/"
        },
        {
            "languageCode": "es",
            "countryCode": "CL",
            "storeName": "Emma Chile (CL)",
            "storeUrl": "https://www.emma-colchon.cl/"
        },
        {
            "languageCode": "da",
            "countryCode": "DK",
            "storeName": "Emma Denmark (DK)",
            "storeUrl": "https://www.emma.dk/"
        },
        {
            "languageCode": "fr",
            "countryCode": "FR",
            "storeName": "Emma France (FR)",
            "storeUrl": "https://www.emma.fr/"
        },
        {
            "languageCode": "de",
            "countryCode": "DE",
            "storeName": "Emma Germany (DE)",
            "storeUrl": "https://www.emma-matratze.de/"
        },
        {
            "languageCode": "en",
            "countryCode": "HK",
            "storeName": "Emma Hong Kong SAR China (EN)",
            "storeUrl": "https://www.emma-mattress.hk/en/"
        },
        {
            "languageCode": "zh",
            "countryCode": "HK",
            "storeName": "Emma Hong Kong SAR China (簡体中文)",
            "storeUrl": "https://www.emma-mattress.hk/cn/"
        },
        {
            "languageCode": "zh",
            "countryCode": "HK",
            "storeName": "Emma Hong Kong SAR China (繁體中文)",
            "storeUrl": "https://www.emma-mattress.hk/zh/"
        },
        {
            "languageCode": "en",
            "countryCode": "IN",
            "storeName": "Emma India (IN)",
            "storeUrl": "https://www.emma-mattress.in/"
        },
        {
            "languageCode": "id",
            "countryCode": "ID",
            "storeName": "Emma Indonesia (ID)",
            "storeUrl": "https://www.emma-sleep.co.id/"
        },
        {
            "languageCode": "en",
            "countryCode": "IE",
            "storeName": "Emma Ireland (IE)",
            "storeUrl": "https://www.emma-sleep.ie/"
        },
        {
            "languageCode": "it",
            "countryCode": "IT",
            "storeName": "Emma Italy (IT)",
            "storeUrl": "https://www.emma-materasso.it/"
        },
        {
            "languageCode": "en",
            "countryCode": "JP",
            "storeName": "Emma Japan (JP)",
            "storeUrl": "https://www.emma-sleep.jp/"
        },
        {
            "languageCode": "en",
            "countryCode": "MY",
            "storeName": "Emma Malaysia (MY)",
            "storeUrl": "https://www.emma-sleep.com.my/"
        },
        {
            "languageCode": "es",
            "countryCode": "MX",
            "storeName": "Emma Mexico (MX)",
            "storeUrl": "https://www.emma-colchon.com.mx/"
        },
        {
            "languageCode": "nl",
            "countryCode": "NL",
            "storeName": "Emma Netherlands (NL)",
            "storeUrl": "https://www.emma-sleep.nl/"
        },
        {
            "languageCode": "en",
            "countryCode": "NZ",
            "storeName": "Emma New Zealand (NZ)",
            "storeUrl": "https://www.emma-sleep.co.nz/"
        },
        {
            "languageCode": "en",
            "countryCode": "PH",
            "storeName": "Emma Philippines (PH)",
            "storeUrl": "https://www.emma-sleep.com.ph/"
        },
        {
            "languageCode": "pl",
            "countryCode": "PL",
            "storeName": "Emma Poland (PL)",
            "storeUrl": "https://www.emma-materac.pl/"
        },
        {
            "languageCode": "pt",
            "countryCode": "PT",
            "storeName": "Emma Portugal (PT)",
            "storeUrl": "https://www.colchaoemma.pt/"
        },
        {
            "languageCode": "en",
            "countryCode": "SG",
            "storeName": "Emma Singapore (SG)",
            "storeUrl": "https://www.emma-sleep.com.sg/"
        },
        {
            "languageCode": "ko",
            "countryCode": "KR",
            "storeName": "Emma South Korea (KR)",
            "storeUrl": "https://www.emma-mattress.co.kr/"
        },
        {
            "languageCode": "es",
            "countryCode": "ES",
            "storeName": "Emma Spain (ES)",
            "storeUrl": "https://www.emma-colchon.es/"
        },
        {
            "languageCode": "sv",
            "countryCode": "SE",
            "storeName": "Emma Sweden (SE)",
            "storeUrl": "https://www.emma.se/"
        },
        {
            "languageCode": "de",
            "countryCode": "CH",
            "storeName": "Emma Switzerland (CH)",
            "storeUrl": "https://www.emma-matratze.ch/"
        },
        {
            "languageCode": "fr",
            "countryCode": "CH",
            "storeName": "Emma Switzerland (FR)",
            "storeUrl": "https://www.emma-matelas.ch/"
        },
        {
            "languageCode": "it",
            "countryCode": "CH",
            "storeName": "Emma Switzerland (IT)",
            "storeUrl": "https://www.emma-materasso.ch/"
        },
        {
            "languageCode": "en",
            "countryCode": "TW",
            "storeName": "Emma Taiwan (TW_EN)",
            "storeUrl": "https://www.emma-sleep.com.tw/en/"
        },
        {
            "languageCode": "zh",
            "countryCode": "TW",
            "storeName": "Emma Taiwan (TW_ZH)",
            "storeUrl": "https://www.emma-sleep.com.tw/"
        },
        {
            "languageCode": "th",
            "countryCode": "TH",
            "storeName": "Emma Thailand (TH)",
            "storeUrl": "https://www.emma.co.th/"
        },
        {
            "languageCode": "en",
            "countryCode": "GB",
            "storeName": "Emma U.K. (UK)",
            "storeUrl": "https://www.emma-sleep.co.uk/"
        },
        {
            "languageCode": "en",
            "countryCode": "US",
            "storeName": "Emma U.S. (US)",
            "storeUrl": "https://www.emma-sleep.com/"
        },
        {
            "languageCode": "en",
            "countryCode": "VN",
            "storeName": "Emma Vietnam (VN)",
            "storeUrl": "https://www.emma-sleep.vn/"
        }
    ]

    function checkGeolocation() {
        fetch(`https://api.ipgeolocation.io/ipgeo?apiKey=${GEOLOCATION_API_KEY}`)
            .then(res => res.json())
            .then(ipgeo => {
                quebecProvinceGuard(ipgeo)
                
                localizationGuard(ipgeo)
            })
    }

    function localizationGuard(ipgeo) {
        const popupShowed = !!sessionStorage.getItem('storeLocalizationPopupShowed')

        if (!popupShowed && ipgeo.country_code2 !== 'CA') {
            showPopup();

            sessionStorage.setItem('storeLocalizationPopupShowed', 'true');

            renderQuickRedirectElement()

            checkCountryAvailability(ipgeo);

            renderStoreOptions();
        }
    }

    // Automatically redirect all customers from Quebec to Canada French subdomain
    function quebecProvinceGuard(ipgeo) {
        if (ipgeo.state_prov === 'Quebec') {
            window.location.href = 'https://qc.emma-sleep.ca'
        }
    }

    function redirectToOtherStore () {
        const $selectedOption = $(this).find('option:selected');

        const selectedStore = $selectedOption.data().countryCode

        changeRedirectButton(selectedStore)
    }

    function showPopup() {
        $("#store-localization-popup").modal({
            fadeDuration: 100,
            modalClass: "",
            closeText: '×',
        });
    }

    function closePopup() {
        $.modal.close();
    }

    function renderStoreOptions() {
        const $countryDropdown = $('.change-country__dropdown');

        allStores.forEach(store => {
            const opt = document.createElement('option');
            opt.value = store.storeUrl;
            opt.text = store.storeName;
            opt.dataset.languageCode = store.languageCode;
            opt.dataset.countryCode = store.countryCode;

            $countryDropdown.append(opt)
        })


        $countryDropdown.change(redirectToOtherStore)
    }

    function checkCountryAvailability(ipgeo) {
        const allStoreCountryCodes = allStores.map(({ countryCode }) => countryCode);

        if (allStoreCountryCodes.includes(ipgeo.country_code2)) {
            const selectCountryTextEl = document.querySelector('#store-localization-popup .change-country__dropdown-label')

            selectCountryTextEl.textContent = `Alternatively you can choose your country from the list below:`;

            changeRedirectButton(ipgeo.country_code2)
        }
    }

    function renderQuickRedirectElement() {
        const changeCountryEl = document.querySelector('#store-localization-popup .change-country');
        const el = document.createElement('div');
        el.classList.add('quick-redirect')
        el.innerHTML = `<a class="redirect-button"></a>`;

        changeCountryEl.firstElementChild.insertAdjacentElement('afterend', el)
    }

    function changeRedirectButton(targetCountryCode) {
        const store = allStores.find(({ countryCode }) => countryCode === targetCountryCode);

        const redirectBtnEl = document.querySelector('#store-localization-popup .change-country .redirect-button')

        redirectBtnEl.href = store.storeUrl
        redirectBtnEl.text = `Go to ${store.storeName}`
    }


    checkGeolocation();
</script>
