{{ 'store-localization.css' | asset_url | stylesheet_tag }}

<div id="store-localization-popup">
	<div class="store-localization__wrapper">
		<div class="store-localization__sidebar">
			{% render 'icon-pin-rotate' %}
		</div>
		<div class="change-country">
			<p class="from-abroad">It seems you are visiting Emma from abroad.</p>
			
			<p class="change-country__dropdown-label">You can choose your country from the list below:</p>
			<select class="change-country__dropdown">
				<option value="">Select your country</option>
			</select>
			<div class="keep-me-container" onclick="closePopup()">
				<a class="keep-me">Keep me on this site</a>
			</div>
		</div>
	</div>
</div>

