<div class="swiper-arrow swiper-arrow--prev">
  <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M0.417482 7.42509C0.416982 7.01909 0.591481 6.63259 0.895981 6.36459L7.73598 0.347092C8.20748 -0.048408 8.90848 0.00459197 9.31498 0.466592C9.72148 0.928592 9.68448 1.63059 9.23198 2.04759L3.25098 7.30959C3.21798 7.33859 3.19848 7.38059 3.19848 7.42509C3.19848 7.46959 3.21748 7.51109 3.25098 7.54059L9.23198 12.8026C9.54698 13.0666 9.69398 13.4806 9.61648 13.8846C9.53898 14.2886 9.24848 14.6181 8.85848 14.7466C8.46798 14.8751 8.03848 14.7821 7.73648 14.5036L0.898981 8.48809C0.593481 8.21959 0.418482 7.83259 0.417982 7.42559L0.417482 7.42509Z"
      fill="white"
    />
  </svg>
</div>

<div class="swiper-arrow swiper-arrow--next">
  <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M9.58252 7.42509C9.58302 7.01909 9.40852 6.63259 9.10402 6.36459L2.26402 0.347092C1.79252 -0.048408 1.09152 0.00459197 0.685019 0.466592C0.27852 0.928592 0.315519 1.63059 0.768019 2.04759L6.74902 7.30959C6.78202 7.33859 6.80152 7.38059 6.80152 7.42509C6.80152 7.46959 6.78252 7.51109 6.74902 7.54059L0.768019 12.8026C0.453019 13.0666 0.30602 13.4806 0.383519 13.8846C0.46102 14.2886 0.751519 14.6181 1.14152 14.7466C1.53202 14.8751 1.96152 14.7821 2.26352 14.5036L9.10102 8.48809C9.40652 8.21959 9.58152 7.83259 9.58202 7.42559L9.58252 7.42509Z"
      fill="white"
    />
  </svg>
</div>

<div class="swiper-scrollbar"></div>
