{{ 'legal-notice.css' | asset_url | stylesheet_tag }}

<section class="section-container">
  <div class="page-boundary">
    <h1 class="text-[40px] md:text-[60px] mb-[20px] md:mb-[40px]">LegalLegal Notice</h1>
    <div class="text-[16px] md:text-[19px]">
      <p class="mb-5">
        Emma Sleep Canada Inc. <br>
        1055 West Georgia Street, 1500 Royal Centre, P.O. Box 11, Vancouver, BC, <br>
        V6E 4N7 <br>
        Canada
      </p>
      <p class="mb-5">
        Web: team.emma-sleep.ca <br>
        E-Mail: info@emma-sleep.ca
      </p>
      <p>Press Enquiries: <span></span>press@emma-sleep.ca</p>
    </div>
  </div>
</section>
