:root {
    --color-primary: #ffa235;
    --color-secondary: #3c4196;
    --color-charade: #2e2f3c;
    --color-comet: #55576f;
    --color-chambray: #3c4196;
    --color-pizazz: #ff8900;
    --color-jade: #00b67a;
    --color-cultured: #f7f7f9;
    --color-spun-pearl: #b0b1c2;
    --color-athens-gray: #e6e7ec;
    --color-lochinvar: #288e7c;
    --color-scampi: #6469aa;
    --color-lapis-blue: #2c3183;
    --color-steel: #7f819d;
    --color-calm-600: #693f73;
    --color-scarlet: #f03306;
}

.announcement-bar-wrapper {
    position: sticky;
    top: -1px;
    z-index: 999;
}

#announcement-bar .anno-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 769px) {
    #announcement-bar .anno-cta,
    #announcement-bar .countdown-container:empty {
        display: none;
    }
}

#announcement-bar .anno-tooltip {
    display: block;
}

#announcement-bar countdown-timer .timer-display {
    color: var(--section-text-color);
}

#announcement-bar .countdown-container {
    display: block;
}

#announcement-bar .page-boundary {
    justify-content: center !important;
}
