:root {
  --color-primary: #ffa235;
  --color-secondary: #3c4196;
  --color-charade: #2e2f3c;
  --color-comet: #55576f;
  --color-chambray: #3c4196;
  --color-pizazz: #ff8900;
  --color-jade: #00b67a;
  --color-cultured: #f7f7f9;
  --color-spun-pearl: #b0b1c2;
  --color-athens-gray: #e6e7ec;
  --color-lochinvar: #288e7c;
  --color-scampi: #6469aa;
  --color-lapis-blue: #2c3183;
  --color-steel: #7f819d;
  --color-calm-600: #693f73;
  --color-scarlet: #f03306;
}

site-subnav .site-subnav__link {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: flex-start;
    position: relative;
    padding-right: 70px;
}
nav-spotlight .spotlight-body a p {
    font-size: 22px!important;
}
site-subnav .site-subnav__link ul {
    display: none;
}
site-subnav .subnav-container__badge {
    position: absolute;
    right: 00;
    top: 0;
}
site-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.sub-item-content img {
    display: none;
}
.subnav-container[data-name="Mattresses"] .sub-item-content img {
    display: block;
}


.subnav-container[data-name="Mattresses"] p.subnav-container__badge {
    position: absolute;
    top: -10px;
    left: 10px;
  right:auto;
}

.subnav-container[data-name="Mattresses"] a.site-subnav__link {
    position: relative;
    border: 1px solid #f1f1f1;
    padding: 15px;
    border-radius: 10px;
    box-shadow:0 10px 10px rgba(0 0 0 / 0%);
    background:#f7f7f9;
}

.subnav-container[data-name="Mattresses"] a.site-subnav__link:hover{
    box-shadow:0 10px 10px rgba(0 0 0 / 5%);
    border-color:#e2e2e2
}
.subnav-container[data-name="Mattresses"] .sub-item-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.subnav-container[data-name="Mattresses"] .sub-item-content img {
    width: 80px;
}

.subnav-container[data-name="Mattresses"] .sub-item-content ul li {
    font-size: 12px;
    color:#2e2f3c;
}

.subnav-container[data-name="Mattresses"] .sub-item-content ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
    line-height: normal;
}

.subnav-container[data-name="Mattresses"] .sub-item-content ul li:before {
    content: '✓';
    display:inline-block;
    margin-right:5px;
    font-size:12px;
    font-weight:800;
}
nav-spotlight{
  display:flex !important;
  flex-direction:column;
}
nav-spotlight .spotlight-media{
  background-color:#f7f7f9 !important;
}
@media screen and (min-width: 1024px) {
  site-nav {
    position: static;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
  }
}
site-nav-item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 12px;
}
site-nav-item.is-minimal {
  position: relative;
}
site-nav-item.is-minimal:hover .minimal-nav-dropdown {
  opacity: 1;
  visibility: visible;
}
site-nav-item.highlighted {
  color: #f03306;
}
.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 4rem;
  padding: 9px 0;
  cursor: pointer;
  text-transform: capitalize;
  word-break: keep-all;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .main_nav_wrapper{
       padding-top: 5px;
    padding-bottom: 5px;
  }
  .site-nav .site-nav__item:nth-child(6), .site-nav .site-nav__item:nth-child(7), .site-nav .site-nav__item:nth-child(8){
    display: none !important;
}
  .nav-link {
    width: initial;
    height: auto;
    padding: 0 12px;
  }
}
.nav-link--is-open .nav-link__title {
  pointer-events: all !important;
}
.nav-link--is-open .nav-link__arrow {
  transform: rotate(180deg);
}
.nav-link:not(.nav-link--has-dropdown) .nav-link__title {
  width: 100%;
  position: static;
  pointer-events: all;
}
.nav-link__url {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.nav-link__title {
  position: absolute;
  left: 0;
  z-index: 10;
  pointer-events: none;
  cursor: pointer;
}
.nav-link__title:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff8900;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.15s ease-out;
}
.nav-link__title:hover:after {
  transform: scaleX(1);
}
.nav-link__title p {
  font-family: "Inter";
  font-size: 16px;
  line-height: 35px;
  font-weight:500
}
.nav-link__arrow {
  transition: transform 0.2s ease-in;
}
nav-dropdown {
  position: static;
  opacity: 1;
  z-index: 110;
  display: none;
  width: 100%;
  background: #fff;
  text-transform: none;
  box-shadow: none;
  pointer-events: auto;
}
@media (min-width: 1024px) {
  site-nav-item {
    position: inherit;
    width: initial;
    padding: 0;
  }
  .nav-link__title {
    position: static;
    pointer-events: all;
  }
  .nav-link__arrow {
    display: none;
  }
  nav-dropdown {
    position: absolute;
    top: 50px;
    left: 0;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    will-change: opacity, transform;
    transform-origin: top;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    filter: drop-shadow(0 20px 13px rgb(0 0 0/0.03))
      drop-shadow(0 8px 5px rgb(0 0 0/0.08));
    max-width:1000px;
    width:100%;
    left:50px;
        /* left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); */
    border-radius:10px
  }
}
site-subnav {
  display: grid;
  gap: 20px;
  width: 100%;
}
site-subnav .site-subnav__link {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-start;
}
nav-sidebar {
  position: relative;
  display: grid;
  gap: 30px;
  align-content: flex-start;
  height: 100%;
}
@media screen and (max-width: 1024px) {

  nav-dropdown{
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  site-nav {
    /* overflow-y: scroll; */
    max-height: calc(100vh - (56px * 4));
  }
  site-subnav .subnav-container__title {
    display: none;
  }
}
site-subnav .subnav-container__links {
  display: grid;
  gap: 20px;
}
site-subnav .subnav-container__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 8px;
  color: #fff;
  background: #ff8900;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
site-subnav .subnav-container__badge:empty {
  display: none;
}
site-subnav .subnav-container .compare-btn {
  font-size: 13px;
}
.subnav-container[data-name=Mattresses]  .compare-btn{
  width:100%;
  margin-top:0
}
@media screen and (max-width: 768px) {
  nav-dropdown{
    left: 0;
    -webkit-transform: inherit;
    transform: inherit;
  }
  site-subnav .subnav-container .compare-btn {
    width: 100%;
  }
}
nav-spotlight {
  display: grid;
  gap: 12px;
  transition: opacity 250ms ease;
  height: 100%;
}
nav-spotlight .spotlight__badge {
  position: absolute;
  top: 20px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px 3px;
  background: #ff8900;
  border-radius: 4px;
  overflow: hidden;
}
nav-spotlight .spotlight__badge p {
  color: #fff;
  font-size: 13px;
}
nav-spotlight .spotlight-body {
  display: grid;
  gap: 4px;
}
nav-spotlight .spotlight-media {
  position: relative;
  height: 259px;
  border-radius: 8px;
}
.minimal-nav-dropdown {
  position: static;
  opacity: 1;
  z-index: 110;
  display: none;
  width: 100%;
  padding: 9px 0;
  background: #fff;
  text-transform: none;
  box-shadow: none;
  pointer-events: auto;
}
@media screen and (min-width: 1024px) {
  site-subnav {
    gap: 8.75rem;
    grid-template-columns: minmax(0, 0.4fr) minmax(0, 0.6fr);
    width: 90%;
    min-height: 250px;
    padding: 20px 0 20px;
  }
  site-subnav .subnav-container .compare-btn {
    margin-top: 1.25rem;
  }
  .minimal-nav-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    width: initial;
    height: initial;
    padding: 9px 15px;
    pointer-events: all;
    box-shadow: none;
    will-change: opacity, transform;
    transform-origin: top;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    filter: drop-shadow(0 20px 13px rgb(0 0 0/0.03))
      drop-shadow(0 8px 5px rgb(0 0 0/0.08));
  }
}
.minimal-site-subnav {
  display: grid;
  gap: 9px;
  grid-template-rows: repeat(5, minmax(0, auto));
  grid-template-columns: repeat(2, minmax(170px, auto));
  width: 100%;
}
.minimal-site-subnav .site-subnav__link {
  white-space: nowrap;
  word-break: keep-all;
}
.minimal-site-subnav .site-subnav__link:hover {
  font-weight: 600;
}
#navbar {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 110;
  display: none;
  width: 100%;
  height: 100%;
}
.nav_btns{
display: none;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 14px;
    margin-top: 10px;
}
.nav_btns a.btn{
padding: 8px 16px;
    font-size: 14px;
    border: 2px solid #2E2F3C;
    background: #fff;
    text-transform: capitalize;
    flex: 1;
    color: #1E2F3C;
    display: flex;
    gap: 4px;
}
.nav_btns a.btn.account_btn{
  display:none;
}
header[data-template="customers/account"] .nav_btns a.btn.account_btn{
    display:flex !important
}
header[data-template="customers/account"] .nav_btns a.btn.login_btn{
  display:none
}
@media (min-width: 1024px) {
  #navbar {
    position: static;
    display: block;
  }
}
nav-overlay:empty {
  display: block;
}
@media screen and (max-width: 769px) {
  .subnav-container[data-name=Mattresses] .subnav-container__links {
    margin-top: 20px;
}

site-subnav .subnav-container {
    gap: 20px;
}
  .nav_btns{
    display:flex !important
  }
  nav-spotlight{
    display:none !important;
  }
  .nav-link__title p{
    font-size:18px;
  }
  #navbar{
    position:fixed;
    top:100px;
  }
  .nav-link{
    height:3rem;
  }
  site-nav{
    height:100%;
    max-height:100%
  }
  nav-overlay {
    width: 100vw;
    height: 100vh;
  }
}

