.slider-container {
  overflow: initial;
}

#main-carousel .splide__arrow {
  width: auto;
  height: auto;
  padding: 16px 4px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0;
}

#main-carousel .splide__arrow--prev {
  left: 0;
}

#main-carousel .splide__arrow--next {
  right: 0;
}

#main-carousel .splide__arrow svg {
  fill: none;
}

@media (min-width: 768px) {
  #main-carousel .splide__pagination {
    display: none;
  }
}

#thumbnail-carousel {
  height: 80px;
  padding: 20px 16px 0;
}

#thumbnail-carousel .splide__track {
  height: 100%;
}

#thumbnail-carousel li {
  border-radius: 8px;
}

#thumbnail-carousel li.is-active {
  border: 3px solid rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.16));
}

#thumbnail-carousel li .product__media {
  padding-top: 100% !important;
  border-radius: 8px;
}

#thumbnail-carousel li .product__media-icon {
  display: none;
}

.large-image-item:not(:first-child) {
  display: block !important;
}

.product__media-wrapper {
  position: relative;
}

.receive-now-badge {
  position: absolute;
  top: 170px;
  right: 0;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  transform: rotate(10deg);
  color: rgb(255, 255, 255);
  background: rgb(255, 137, 0);
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    top: -20px;
    right: -20px;
    height: 140px;
    width: 140px;
  }

  .badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 100%;
    padding: 0 !important;
    font-weight: 500;
    font-size: .7rem;
    text-align: center;
    text-transform: initial !important;
    @media screen and (min-width: 768px) {
      width: 70%;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
