<section class="about-us-right-column  about-us-awards-section hidden">
  <div class="py-4">
    <div class="accordion-wrapper">
      <button class="about-us-accordion-button accordion">
        <span class="text-[26px]">{{ section.settings.title }}</span>
        <svg width="27" height="15" viewBox="0 0 27 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L13.5 13.5L26 1" stroke="black" stroke-width="2"/>
        </svg>
      </button>
      <div class="accordion__content">
        <div class="pt-4 pb-6">
          <ul class="award-list">
            {% for block in section.blocks %}
              <li>{{ block.settings.content }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About Us Awards",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "about-us-awards",
      "name": "Award",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}