<section id="brand-vs-brand-section">
  <div class="wrapper">
    <h2 class="heading-2 text-center text-charade">{{ section.settings.title | strip_html }}</h2>

    <div class="main-content">
      <div class="emma-logo__wrapper">
        <div class="emma-logo">
          <img class="emma-logo__image" src="{{ 'emma-logo.svg' | asset_url }}" alt="emma-logo" height="50">
        </div>
      </div>

      <p class="versus-text">vs</p>

      <div class="competitor-brands">
        {% assign competitorBlocks = section.blocks | where: "type", "competitor-brand" %}
        <div class="splide">
          {% include 'splide-arrows' %}

          <div class="splide__track">
            <ul class="splide__list">
              {%- for block in competitorBlocks -%}
                <li class="splide__slide">
                  <div class="competitor-brands__item">
                    <p class="font-semibold">{{ block.settings.name }}</p>
                    <a class="btn btn--secondary btn--compact competitor-brands__compare-btn w-full" href="{{ block.settings.url }}">Compare</a>
                  </div>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    new Splide('#brand-vs-brand-section .splide', {
      gap: '20px',
      padding: '8.5rem',
      autoWidth: true,
      type: 'loop',
      breakpoints: {
        412: {
          padding: '7rem',
        }
      }
    }).mount();
  })
</script>

{% schema %}
{
  "name": "Brand Vs Brand",
  "blocks": [
    {
      "type": "competitor-brand",
      "name": "Competitor Brand",
      "settings": [
        {
          "id": "name",
          "type": "text",
          "label": "Brand Name",
          "default": "Brand Name"
        },
        {
          "id": "url",
          "type": "url",
          "label": "Brand Url"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "title",
      "type": "richtext",
      "label": "Title",
      "default": "<p>Brand vs Brand</p>"
    }
  ]
}
{% endschema %}
