<style>
    .star-rating {
        display: none
    }
</style>

<section id="product-catalog-section" class="section-container spacing-{{ section.settings.container_spacing }}">
  <div class="section-chassis page-boundary">
    {% render 'section-header' %}

    {% render 'product-catalog', catalog: collection.products %}
  </div>
</section>


{% schema %}
{
  "name": "Collection Catalog",
  "blocks": [
    {
      "type": "catalog_item",
      "name": "Catalog Item",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Product Catalog"
    },
    {
      "id": "heading_alignment",
      "type": "select",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "options": [
        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "md",
          "label": "Medium (40px)"
        }
      ],
      "default": "md",
      "label": "Container Spacing"
    }
  ]
}
{% endschema %}
