{% assign yotpo_star_rating = section.blocks | where: 'type', 'yotpo_star_rating' | first %}

<h2 id="product-title" class="paragraph-24 font-inter font-semibold">
    {{ product.title }}
    {% comment %}{{ section.settings.title | default: product.title }}{% endcomment %}
    {% if section.settings.badge != blank %}
        <div
                class="inline-flex bg-scarlet text-white py-[5px] px-[8px] uppercase rounded text-[13px] ml-[10px] leading-normal"
        >
            {{ section.settings.badge }}
        </div>
    {% endif %}
</h2>

{% if yotpo_star_rating %}
    {% render 'yotpo_star_rating', settings: yotpo_star_rating.settings %}
{% endif %}

<div class="product-description">
    {{ section.settings.desc | default: product.description }}
</div>

{% schema %}
{
  "name": "Product Summary",
  "class": "hidden",
  "blocks": [
    {
      "type": "yotpo_star_rating",
      "name": "Yotpo Product Reviews",
      "settings": [
        {
          "id": "product",
          "type": "product",
          "label": "Product"
        },
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Icon"
        },
        {
          "id": "new_layout",
          "type": "checkbox",
          "label": "Enable New Layout?"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "desc",
      "type": "richtext",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "disclaimer",
      "label": "Disclaimer"
    }
  ]
}
{% endschema %}
