<section id="{{ section.id }}" data-section-type="product-collage-section" class="section-container">
    <div class="section-chassis page-boundary">
        {% render 'section-header' %}

        <div class="grid md:grid-cols-2 md:grid-rows-[repeat(2,_minmax(0,_240px))] gap-5">
            {% assign collection_index = 0 %}
            {% for collection in section.settings.collection_list %}
                {% assign collection_index = collection_index | plus: 1 %}
                {% assign collection_handle = collection.handle %}

                {% include 'collage-grid-item' %}

            {% endfor %}
        </div>
    </div>
</section>


{% schema %}
{
  "name": "Product Collage",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Emma's Advanced Sleep Range"
    },
    {
      "id": "header_font",
      "type": "select",
      "label": "Header Font",
      "options": [
        {
          "value": "inter",
          "label": "Inter"
        },
        {
          "value": "tiempos",
          "label": "Tiempos"
        }
      ],
      "default": "tiempos"
    },
    {
      "id": "heading_alignment",
      "type": "select",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "options": [
        {
          "value": "md",
          "label": "Medium (40px)"
        },
        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "xl",
          "label": "XL (80px)"
        }
      ],
      "default": "md",
      "label": "Container Spacing"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections",
      "limit": 9
    }
  ]
}
{% endschema %}
