@import "../partials/about-us/about-us-header";
@import "../partials/about-us/our-team";
@import "../partials/about-us/mini-cta";
@import "../partials/about-us/awards-accordion";

#about-us {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    display: block;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 0.5em;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'header-text', serif;
  }

  h1,
  .h1 {
    font-size: 60px;
    line-height: 1.2em;
    font-family: 'header-text' !important;
  }

  h2, .h2 {
    font-size: 50px;
    line-height: 1.2em;
  }

  h3, .h3 {
    font-size: 40px;
    line-height: 1.2em;
  }

  h4, .h4 {
    font-size: 36px;
    line-height: 1.2em;
  }

  h5, .h5 {
    font-size: 33px;
    line-height: 1.2em;

  }

  h6, .h6 {
    font-size: 30px;
    line-height: 1.2em;
  }

  p {
    margin-bottom: 16px;
  }

  .main-content {
    padding-top: 0
  }

  @media (min-width: 1024px) {
    .about-us-content-row {
      display: flex;
      justify-content: space-between;
      padding-bottom: 80px
    }

    .about-us-content-row .about-us-content-row--col:first-child {
      width: 70%
    }

    .about-us-content-row .about-us-content-row--col:last-child {
      width: 25%
    }
  }

  @media (max-width: 768px) {
    .about-us-content-row .about-us-content-row--col:first-child {
      margin-bottom: 50px
    }
  }
}