countdown-timer {
  display: grid;
  gap: 4px;
  justify-items: center;

  @media screen and (min-width: 768px) {
    justify-items: flex-start;
  }

  .timer {
    display: grid;
    gap: 0.25rem;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, auto);
    align-items: center;
    justify-content: center;
    width: 100%;
    @media screen and (min-width: 768px) {
      gap: 1rem;
      justify-content: flex-start;
    }

    .time-display {
      display: grid;
      justify-content: center;

      text-align: center;
    }

    &-caption {
      font-size: 14px;
    }
  }
}

countdown-timer[\:type='full'] {
  .time-display {
    border-radius: 4px;
    background-color: #fff;

    width: 69px;
    padding: 4px;

    > * {
      color: var(--color-charade);
      line-height: 125%;

    }

    .digit {
      font-size: 20px;
      font-weight: 600;
      @media screen and (min-width: 768px) {
        font-size: 32px;
      }
    }

    .label {
      font-size: 12px;

      @media screen and (min-width: 768px) {
        font-weight: 400;
      }
    }
  }
}

countdown-timer[\:type='minimal'] {
  .timer {
    grid-auto-columns: minmax(0, auto);
  }

  .time-display {
    gap: 0.25rem;
    grid-template-columns: repeat(2, minmax(0, auto));
    justify-content: flex-start;

    > * {
      font-size: 14px;
    }
  }
}
