countdown-timer {
  display: grid;
  gap: 4px;
  justify-items: center;

  @media screen and (min-width: 768px) {
    justify-items: flex-start;
  }

  .timer {
    display: grid;
    gap: 0.25rem;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    align-items: center;
    justify-content: flex-start;
    width: 100%;


    .time-display {
      display: grid;
      justify-content: center;

      text-align: center;
    }

    &-caption {
      font-size: 14px;
    }
  }
}

countdown-timer[\:type='full'] {
  .time-display {
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;

    @media screen and (min-width: 768px) {
      width: 69px;
      padding: 4px;
    }

    > * {
      color: var(--color-charade);
    }

    .digit {
      font-size: 20px;

      @media screen and (min-width: 768px) {
        font-weight: 600;
        font-size: 32px;
        line-height: 125%;
      }
    }

    .label {
      font-size: 8px;

      @media screen and (min-width: 768px) {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

countdown-timer[\:type='minimal'] {
  .timer {
    grid-auto-columns: minmax(0, auto);
  }

  .time-display {
    gap: 0.25rem;
    grid-template-columns: repeat(2, minmax(0, auto));
    justify-content: flex-start;

    > * {
      font-size: 14px;
    }
  }
}
