#featured-catalog-section {

  .section-header {
    @media screen and (max-width: 769px) {
      color: white;
    }
  }
  .section-ornament {
    position: absolute;
    top: 0;
    z-index: -1;

    width: 996px;
    transform: rotate(-12.66deg) translate(-15%, -56%) scale(.8);

    @media screen and (min-width: 769px) {
      transform: translate(30%, -17%);
    }
  }
}
