.shoppable-frame {
  display: flex;

  aspect-ratio: 9/16;
  overflow: hidden;

  border-radius: 8px;
  border: 1px solid black;

  cursor: pointer;


}

shoppable-card {
  position: relative;
  flex: 1;

  .video-container {
    width: 100%;
    height: 100%;
  }

  .card-content {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: .5rem;
  }

  img, video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

shoppable-player {
  display: none;
  &.player-container {
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;

    background: #2e2f3c;
    color: white;
  }

  .shoppable-player-thumbnails {
    padding: 1rem;
  }

  .media-item {
    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .media-poster {
    display: flex;
    align-items: center;
    justify-content: center;

    .poster-button {
      position: absolute;
    }
  }

  .video-container {
    position: absolute;
    inset: 0;

    .splide {
      &__track, &__slide {
        height: 100%;
        padding: 0 !important;
      }
    }
  }

  .thumbnail-carousel {
    height: 258px;

    .media-container {
      border-radius: 4px;

      &.is-active {
        border: 3px solid #000;
      }
    }

    .splide {
      &__slide {
        width: 80px;
        height: 80px;

        &.is-active {
          .media-container {
            border: 2px solid white;
          }
        }

      }

      &__arrow {
        &--prev {
          @media screen and (min-width: 769px) {
            top: 0;
            transform: translate(-50%, -120%);
          }
        }

        &--next {
          @media screen and (min-width: 769px) {
            bottom: 0;
            transform: translate(-50%, 120%);

          }
        }
      }
    }
  }


  .splide {
    &__slide {
      border: none !important;
    }

    &__track {
      padding: 0;
    }

    &__arrow {
      pointer-events: all;
      width: 30px;
      height: 30px;

      transform: none;

      @media screen and (min-width: 769px) {
        width: 40px;
        height: 40px;
      }

      &--prev {
        left: 10px;
      }

      &--next {
        right: 10px;
      }
    }

    &.is-initialized:not(.is-active) {
      display: none;
    }
  }
}


shoppable-video {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;

  .player-container {
    aspect-ratio: 9/16;

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }


  .player-controls {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .play-icon {
      position: absolute;
    }
  }

  .player-buttons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    padding: 1rem;

    .sound-button {
      > * {
        pointer-events: none;
      }

    }
  }

  .player-interaction {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9999;

    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 1rem 1.25rem 1rem;
    opacity: 0;

    box-sizing: border-box;
    transform: translateY(100%);

    &--transition {
      opacity: 1;
      transform: translateY(0);
      transition: transform 1s ease-out 2s, opacity 1s ease-out 1s;
    }

    @media (min-width: 1024px) {
      padding: 1rem 1rem 2rem 1rem;
    }

    .interaction-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;

      display: block;

      width: 100%;
      height: 216px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, calc(70 / 100)) 100%);
    }

    .cta-card {
      display: grid;
      gap: 1rem;
      grid-auto-rows: minmax(0, auto);
      justify-content: center;
      justify-items: center;
      width: 100%;
      min-width: 400px;

      .cta-title-container {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 150%;
      }
    }
  }
}


shoppable-manager {
  position: relative;
  max-height: 500px;
}


.shoppable-fancybox {
  .fancybox__toolbar {
    --f-button-bg: transparent;
    --f-button-width: 50px;
    --f-button-height: 50px;

    padding: 1rem;
  }
}
