$colorPrimary: #FFA235;
$colorSecondary: #3C4196;
$colorCharade: #2E2F3C;
$colorComet: #55576F;
$colorChambray: #3C4196;
$colorPizazz: #FF8900;
$colorJade: #00B67A;

:root {
  --color-primary: #{$colorPrimary};
  --color-secondary: #{$colorSecondary};
  --color-charade: #{$colorCharade};
  --color-comet: #{$colorComet};
  --color-chambray: #{$colorChambray};
  --color-pizazz: #{$colorPizazz};
  --color-jade: #{$colorJade}
}
