#customer-sentiment-section {
  padding: 40px 0;

  background-color: #F7F7F9;

  .page-boundary {
    display: grid;
    gap: 40px;
    grid-template-columns: minmax(0, 1fr);
  }

  .customer-review {
    gap: 1rem;
    display: flex;
    max-width: 302px;
    height: 100%;
    padding: 1.5rem 1rem;
    background: #FFFFFF;
    backdrop-filter: blur(4px);
    border-radius: 8px;
    text-align: left;
    flex-direction: column;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &__date {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
    }

    &__content {
      font-size: 13px;
      line-height: 125%;
    }

    .target-product {
      display: grid;
      gap: .5rem;
      align-items: center;
      justify-content: flex-start;
      grid-auto-flow: column;

      &__name {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;

        text-decoration: underline;
      }
    }

    .reviewer {
      display: grid;
      gap: 4px;
      align-items: center;
      align-content: center;
      margin-top: auto;

      &__name {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
      }

      &__verified {
        display: flex;
        gap: 8px;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .splide__track {
    padding: 0 0 40px;

    @media (min-width: 768px) {
      padding: 0 0 20px;
    }
  }
}
