section#usp {
  display: block;

  .usp-list {
    --cols: 2;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(var(--cols), minmax(0, auto));
    grid-template-rows: minmax(0, 1fr);
    text-align: center;
    @media screen and (min-width: 768px) {
      --cols: 4;
      justify-content: space-between;
    }

    .usp-item {
      display: grid;
      gap: 1rem;
      grid-template-rows: repeat(2, minmax(0, auto));
      align-items: center;
      justify-content: center;
      justify-items: center;
      @media screen and (min-width: 768px) {
        grid-template-rows: minmax(0, 1fr);
        grid-template-columns: repeat(2, minmax(0, auto));
      }
      @media screen and (min-width: 1024px) {
        gap: 1.5rem;
      }
    }

    .banner-media {
      width: 32px;
      height: 32px;
      @media screen and (min-width: 768px) {
        width: 54px;
        height: 54px;
      }
    }
  }

}

#featured-usp-modal {
  display: grid;
  gap: 1rem;
  grid-template-rows: minmax(0, auto) minmax(0, 1fr);

  .usp-m {
    &__media {
      border-radius: .5rem;
      overflow: hidden;
    }

    &__content {
      h1, h2 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 125%;
        @media screen and (min-width: 768px) {
          font-size: 2.5rem;
        }
      }
    }
  }

}
