.hero-sale-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  transform: rotate(10deg);
  color: rgb(255, 255, 255);
  background: rgb(255, 137, 0);
  border-radius: 50%;


  @media screen and (min-width: 768px) {
    position: absolute;
    right: 20px;
    top: calc(100% - 25px);

    height: 110px;
    width: 110px;
  }

  .badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 98%;
    font-weight: 500;
    font-size: .6rem;
    @media screen and (min-width: 768px) {
      font-size: .8rem;
    }
    .discount-percent {
      font-size: 1rem;
      font-weight: 600;
      @media screen and (min-width: 768px) {
        font-size: 1.4rem;
      }
    }
  }
}
