.media-with-text-banners-wrapper {
  .banners-container {
    .banner-item {
      display: none;
      flex-direction: column;

      .media-wrapper {
        position: relative;

        iframe,
        img,
        video {
          object-fit: cover;
          width: 100%;
          aspect-ratio: 656 / 369;

          border-radius: 8px;
          overflow: hidden;
        }
      }

      .content-wrapper {
        .title {
          font-family: "Tiempos";
          font-weight: 400;
          font-size: 26px;
          margin: 1rem 0;
        }

        .content {
          font-size: 14px;
          margin-bottom: 10px;
        }
      }

      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 24px;
        height: 36px;
        padding: 16px;
        font-weight: bold;
        font-size: 18px;
        user-select: none;
        background: rgba(255, 255, 255, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
      }

      .next {
        right: 0;
      }
    }

    .progress-bars {
      width: 100%;
      height: 8px;
      background: #f0f0f5;
      border-radius: 8px;
      display: flex;

      .bar {
        display: inline-block;
        height: 100%;
        width: 25%;
        border-radius: 8px;
        flex: 1 1 0;

        &.active {
          background-color: #55576f;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .media-with-text-banners-wrapper {
    .banners-container {
      .banner-item {
        display: flex !important;
        flex-direction: row;
        margin-bottom: 2.5rem;
        justify-content: space-between;

        &.is-reversed {
          flex-direction: row-reverse;

          .content-wrapper {
            padding-left: 0;
          }
        }

        .prev,
        .next {
          display: none;
        }

        .media-wrapper {
          width: calc(50% - 16px);
        }

        .content-wrapper {
          width: calc(50% - 16px);
          display: flex;
          flex-flow: column;
          padding: 0 3rem;
          justify-content: center;

          .title {
            font-size: 36px;
          }

          .content {
            font-size: 16px;
          }
        }
      }

      .progress-bars {
        display: none;
      }
    }
  }
}
