product-auxiliary {
  position: relative;
  width: 100%;

  .auxiliary-container {
    display: grid;
    gap: 8px;
    grid-template-columns: minmax(0, 100px) minmax(0, 1fr);
    align-items: center;
    justify-content: center;

    padding: 1rem;
    border: 2px solid #2e2f3c;
    border-radius: 8px;
    cursor: pointer;
  }
}


