@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.shopifycdn.com/helvetica/helvetica_n4.fe093fe9ca22a15354813c912484945a36b79146.woff2?h1=ZW1tYS1zbGVlcC5jYQ&hmac=83ac66ae0b2bd5b89612e00a92064bcffb7af263d85aac9e9797ab4f56df785b) format("woff2"), url(https://fonts.shopifycdn.com/helvetica/helvetica_n4.8bddb85c18a0094c427a9bf65dee963ad88de4e8.woff?h1=ZW1tYS1zbGVlcC5jYQ&hmac=99aa4e819b118dd4f73a5d9439237d4c8beb9329401556042f56c60cc2d5be3f) format("woff")
}

@font-face {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.shopifycdn.com/playfair_display/playfairdisplay_n4.9cf7fc4f6a5a48eb27738cad395f0eba18922755.woff2?h1=ZW1tYS1zbGVlcC5jYQ&hmac=97bd8dde8d00a7997d00ad5cebc84eb806610291f7d1c5a4808006f010d2ba5c) format("woff2"), url(https://fonts.shopifycdn.com/playfair_display/playfairdisplay_n4.8a3fef162b1f576396eb89e46872ef50eeb08158.woff?h1=ZW1tYS1zbGVlcC5jYQ&hmac=a5225621374981fb45144913249529c7d17cdf0623667097c257ce5562420647) format("woff")
}

@font-face {
  font-family: Helvetica;
  font-style: oblique;
  font-weight: 400;
  src: url(https://fonts.shopifycdn.com/helvetica/helvetica_o4.f9832a0fc1ee8fc5a359636e410d6941e1e4ca03.woff2?h1=ZW1tYS1zbGVlcC5jYQ&hmac=0e1c19e901fc82bbc9c3769b3d1659360bf2ac1e2e9c8dce29eb8a55bb96c21a) format("woff2"), url(https://fonts.shopifycdn.com/helvetica/helvetica_o4.0063286aec443697ebae04eeb9c78b820f9f7805.woff?h1=ZW1tYS1zbGVlcC5jYQ&hmac=9d417be6ee14d2d42a1c1a83eae93300222b44fa4b857a85f395da55b9d0dc81) format("woff")
}

@font-face {
  font-family: Helvetica;
  font-style: oblique;
  font-weight: 700;
  src: url(https://fonts.shopifycdn.com/helvetica/helvetica_o7.215fd4ca1a06214fa01e44328a1992c977700ea2.woff2?h1=ZW1tYS1zbGVlcC5jYQ&hmac=6b2798c807eb7aa95865c6bbbcc229d53049a9b82078ae252a8deef8e57c1bfe) format("woff2"), url(https://fonts.shopifycdn.com/helvetica/helvetica_o7.b0a2026ae2aa64d060f9ce0ee1b3c3c1aa21bf88.woff?h1=ZW1tYS1zbGVlcC5jYQ&hmac=78bda662385ac873b11148e9b7ab8cb945db82b88670bd8f7e6aed222a3a4c2b) format("woff")
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.shopifycdn.com/helvetica/helvetica_n7.39bee04bd277a9c4e94e2fd42d53f4e3c0afb8a5.woff2?h1=ZW1tYS1zbGVlcC5jYQ&hmac=382793b1c2f3fc63ccbe121425ecf5c24a6bfc4b0b5efca575d1b205e2a53a57) format("woff2"), url(https://fonts.shopifycdn.com/helvetica/helvetica_n7.b95359461a6788d5549e702cb2123bc40c227e49.woff?h1=ZW1tYS1zbGVlcC5jYQ&hmac=4a1c64df6cf4f521bb75aac1fb7cef6ca789263c0ae80ce76d9435ba70c74a29) format("woff")
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.shopifycdn.com/helvetica/helvetica_n4.fe093fe9ca22a15354813c912484945a36b79146.woff2?h1=ZW1tYS1zbGVlcC5jYQ&hmac=83ac66ae0b2bd5b89612e00a92064bcffb7af263d85aac9e9797ab4f56df785b) format("woff2"), url(https://fonts.shopifycdn.com/helvetica/helvetica_n4.8bddb85c18a0094c427a9bf65dee963ad88de4e8.woff?h1=ZW1tYS1zbGVlcC5jYQ&hmac=99aa4e819b118dd4f73a5d9439237d4c8beb9329401556042f56c60cc2d5be3f) format("woff")
}

@font-face {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.shopifycdn.com/playfair_display/playfairdisplay_n4.9cf7fc4f6a5a48eb27738cad395f0eba18922755.woff2?h1=ZW1tYS1zbGVlcC5jYQ&hmac=97bd8dde8d00a7997d00ad5cebc84eb806610291f7d1c5a4808006f010d2ba5c) format("woff2"), url(https://fonts.shopifycdn.com/playfair_display/playfairdisplay_n4.8a3fef162b1f576396eb89e46872ef50eeb08158.woff?h1=ZW1tYS1zbGVlcC5jYQ&hmac=a5225621374981fb45144913249529c7d17cdf0623667097c257ce5562420647) format("woff")
}

@font-face {
  font-family: Helvetica;
  font-style: oblique;
  font-weight: 400;
  src: url(https://fonts.shopifycdn.com/helvetica/helvetica_o4.f9832a0fc1ee8fc5a359636e410d6941e1e4ca03.woff2?h1=ZW1tYS1zbGVlcC5jYQ&hmac=0e1c19e901fc82bbc9c3769b3d1659360bf2ac1e2e9c8dce29eb8a55bb96c21a) format("woff2"), url(https://fonts.shopifycdn.com/helvetica/helvetica_o4.0063286aec443697ebae04eeb9c78b820f9f7805.woff?h1=ZW1tYS1zbGVlcC5jYQ&hmac=9d417be6ee14d2d42a1c1a83eae93300222b44fa4b857a85f395da55b9d0dc81) format("woff")
}

@font-face {
  font-family: Helvetica;
  font-style: oblique;
  font-weight: 700;
  src: url(https://fonts.shopifycdn.com/helvetica/helvetica_o7.215fd4ca1a06214fa01e44328a1992c977700ea2.woff2?h1=ZW1tYS1zbGVlcC5jYQ&hmac=6b2798c807eb7aa95865c6bbbcc229d53049a9b82078ae252a8deef8e57c1bfe) format("woff2"), url(https://fonts.shopifycdn.com/helvetica/helvetica_o7.b0a2026ae2aa64d060f9ce0ee1b3c3c1aa21bf88.woff?h1=ZW1tYS1zbGVlcC5jYQ&hmac=78bda662385ac873b11148e9b7ab8cb945db82b88670bd8f7e6aed222a3a4c2b) format("woff")
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.shopifycdn.com/helvetica/helvetica_n7.39bee04bd277a9c4e94e2fd42d53f4e3c0afb8a5.woff2?h1=ZW1tYS1zbGVlcC5jYQ&hmac=382793b1c2f3fc63ccbe121425ecf5c24a6bfc4b0b5efca575d1b205e2a53a57) format("woff2"), url(https://fonts.shopifycdn.com/helvetica/helvetica_n7.b95359461a6788d5549e702cb2123bc40c227e49.woff?h1=ZW1tYS1zbGVlcC5jYQ&hmac=4a1c64df6cf4f521bb75aac1fb7cef6ca789263c0ae80ce76d9435ba70c74a29) format("woff")
}

@font-face {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  src: url(//cdn.shopify.com/s/files/1/0562/9873/3706/t/176/assets/icons.eot?v=112981532348062652561665542501);
  src: url(//cdn.shopify.com/s/files/1/0562/9873/3706/t/176/assets/icons.eot?v=112981532348062652561665542501#iefix) format("embedded-opentype"), url(//cdn.shopify.com/s/files/1/0562/9873/3706/t/176/assets/icons.woff?v=24089382976848351381665542503) format("woff"), url(//cdn.shopify.com/s/files/1/0562/9873/3706/t/176/assets/icons.ttf?v=177851439206450752971665542502) format("truetype"), url(//cdn.shopify.com/s/files/1/0562/9873/3706/t/176/assets/icons.svg?v=182753167674510223691665542502#timber-icons) format("svg")
}

@font-face {
  font-family: body-text;
  font-style: normal;
  font-weight: 400;
  src: url(acuminpro-medium-webfont.woff) format("woff")
}

@font-face {
  font-family: body-text;
  font-style: normal;
  font-weight: 700;
  src: url(acuminpro-medium-webfont.woff) format("woff")
}

@font-face {
  font-family: header-text;
  font-style: normal;
  font-weight: 700;
  src: url(utopiastd-disp-webfont.woff) format("woff")
}

@font-face {
  font-family: header-text;
  font-style: normal;
  font-weight: 500;
  src: url(utopiastd-disp-webfont.woff) format("woff")
}

@font-face {
  font-family: other-text;
  font-style: normal;
  font-weight: 400;
  src: url(utopiastd-disp-webfont.woff) format("woff")
}

@font-face {
  font-family: other-text;
  font-style: normal;
  font-weight: 700;
  src: url(utopiastd-disp-webfont.woff) format("woff")
}