#buy-box-products,
.product-configuration {
  display: grid;
  gap: .5rem
}

.attribute-configurator .product-form__input {
  position: relative
}

.attribute-configurator .form__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 4px;
  background-color: #fff;
  transform: translate(16px, -50%);
  font-size: .875rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.25rem;
  max-width: calc(100% - 1.5rem)
}

.buy-box-products-section__header {
  border-bottom: .0625rem solid #9a9cb2;
  font-size: .875rem;
  letter-spacing: 0;
  line-height: 1.25rem;
  font-weight: 600
}

.product-bundle-hr {
  background: #e6e7ec;
  border: 0;
  height: .0625rem;
  margin: 0;
  width: 100%
}

.bundle-layout  {
  .attribute-configurator {
    grid-template-columns: minmax(0, 1fr);
  }
  #quantity-selector {
    margin: 1rem 0;
  }
}
