#buy-box-products,
.product-configuration {
  display: grid;
  gap: .5rem
}

.attribute-configurator .product-form__input {
  position: relative
}

.attribute-configurator .form__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 4px;
  background-color: #fff;
  transform: translate(16px, -50%);
  font-size: .875rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.25rem;
  max-width: calc(100% - 1.5rem)
}

.buy-box-products-section__header {
  border-bottom: .0625rem solid #9a9cb2;
  font-size: .875rem;
  letter-spacing: 0;
  line-height: 1.25rem;
  font-weight: 600
}

.product-bundle-hr {
  background: #e6e7ec;
  border: 0;
  height: .0625rem;
  margin: 0;
  width: 100%
}


bundle-variant-selects {
  display: block
}

bundle-variant-selects .form__label {
  display: block;
  margin-bottom: .6rem
}

bundle-variant-selects .select {
  display: inline-block;
  position: relative;
  width: 100%
}

bundle-variant-selects .select .icon {
  height: .6rem;
  pointer-events: none;
  position: absolute;
  top: calc(50% - .2rem);
  right: 1.5rem
}

bundle-variant-selects .select__select {
  display: flex;
  width: 100%;
  min-height: 48px;
  max-height: 48px;
  padding: 0 16px;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  color: #000;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%
}
