.product-info {
  width: 100%;
  background-color: #fff;
}

.product-info-wrapper {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.product-layout {
  position: relative;
}

#product-configurator {
  width: 100%
}

#product-configurator h3 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

#product-configurator label {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

#product-configurator .badge-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1.5rem;
}

#product-configurator .badge-wrapper .badge {
  background: #fff0ed;
  color: red;
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 32px;
  width: fit-content;
  border-radius: 16px;
  font-weight: 600;
  padding: 5px 8px 3px;
}

#product-configurator .badge-wrapper .text {
  font-size: 12px;
  width: 50%;
  flex-grow: 1;
  margin-left: .5rem;
}

#product-configurator .product-form__item {
  flex-basis: 100%
}

@media screen and (min-width: 769px) {
  .product-info-wrapper {
    display: grid;
    gap: 40px;
    grid-template-columns: minmax(0, .6fr) minmax(0, .4fr);
  }
  #product-configurator {
    position: sticky;
    height: -moz-max-content;
    height: max-content;
    top: 0;
  }
}

.product-info .installment-widgets {
  display: grid;
  gap: 8px;
}

.product-info .product-description {
  color: #000;
  margin: 16px 0 24px;
}

.product-info .product-description h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.product-info .product-description p {
  margin-top: 2px;
  font-size: 16px;
  color: #000;
}

.product-info .product-description ul {
  list-style-type: "\2713 ";
  margin-top: 20px;
  padding: 0 14px;
}

.product-info .product-description li {
  padding-left: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2e2f3c;
}

.product-info .product-dimensions {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}


.product-form {
  position: relative;
  display: grid;
  gap: 16px;
  align-content: flex-start;
  margin-bottom: 24px;
}

.product-form .overlay {
  z-index: 2;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#product-viewer {
  display: grid;
  gap: .5rem;

  width: 100%;
  @media screen and (min-width: 769px) {
    position: sticky;
    top: 159px;
    height: max-content;

    gap: 1.5rem;
  }

  .main-frame {
    position: relative;
  }
}


.product-badges {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(3, minmax(0, auto));
  align-items: flex-start;
  justify-content: flex-start;
}

.product-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%
}

.product-badge img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}


@media screen and (min-width: 769px) {
  .product-badges {
    gap: 1rem;
  }
  .product-badge {
    width: 90px;
    height: 90px;
  }
}


.promotion-overlay {
  position: absolute;
  inset: 0;
  z-index: 5;

  margin: 8px;

  pointer-events: none;

  @media screen and (min-width: 769px) {
    margin: 10px 10px 10px calc(100px + 8px + 10px);
  }
}


.product__info-container .container {
  font-weight: 400;
  color: #2e2f3c;
}

.product__info-container .shopify-block {
  margin: 0 !important;
}


.price-block + .shopify-app-block {
  margin: 0;
}

.qp-widget-container {
  margin-bottom: 0 !important;
  font-weight: 400;
  color: #2e2f3c;
  font-size: 12px;
  line-height: 16px;
}

.qp--wrapped-content {
  flex-basis: 0;
}

#product-form-installment {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2e2f3c;
}

@media (min-width: 768px) {
  #product-form-installment, .qp-widget-container {
    font-size: 13px;
    line-height: 20px;
  }
}

#shoppay-container, .ca-promotional-widget {
  margin: 0;
}

.ca-promotional-widget-container {
  font-size: 13px;
  text-align: left;
  color: #2e2f3c;
}

.ca-promotional-widget-link {
  font-weight: 400;
  color: #2e2f3c;
}

.ca-promotional-widget-text-links-container div {
  display: flex !important;
  align-items: flex-end !important;
  justify-content: left !important;
}

.ca-promotional-widget-image img {
  max-height: 22px;
  min-height: 22px;
}

.ca-promotional-widget-text-container {
  font-size: 13px;
  text-align: left;
}

@media screen and (min-width: 749px) {
  .ca-promotional-widget-container {
    display: inline-block;
  }
  .ca-promotional-widget-text-container {
    margin-left: 6px;
  }
}

.ca-promotional-widget-text-container b {
  color: #2e2f3c;
  margin: 0 3px;
}

body {
  background-color: #fff;
}

.splide__pagination__page {
  height: 8px;
  width: 8px;
}

.splide__pagination__page.is-active {
  transform: none;
  background: #ff8900 !important;
  border-radius: 8px;
  width: 26.4px;
  height: 8px;
  opacity: 1;
}


.yotpo .yotpo-pager {
  margin: 20px 0 50px
}

.yotpo .yotpo-pager .yotpo-page-element {
  color: #6A6C77 !important;
  line-height: 20px;
}

.yotpo .yotpo-pager .yotpo-page-element.yotpo-active {
  font-weight: bold;
  color: #2f84ed;
  background: #3c4196 !important;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 100%;
  color: #fff !important;
}


.risk-reversal {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 100px);

  @media screen and (max-width: 769px) {
    display: none;
  }

  &__item {
    display: grid;
    gap: 4px;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    justify-items: center;
    height: 100%;

    img {
      height: 40px;
      width: 40px;
    }

    p {
      font-size: 14px;
      text-align: center;
    }
  }
}

