.product-info {
  width: 100%;
  background-color: #fff;
}

.product-info-wrapper {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

#product-configurator {
  width: 100%
}

#product-configurator h3 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

#product-configurator label {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

#product-configurator .trustpilot-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.8rem 0 1rem;
}

#product-configurator .trustpilot-wrapper img {
  height: 17px;
}

#product-configurator .trustpilot-wrapper .rating-stars-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#product-configurator .trustpilot-wrapper .rating-stars-container img {
  margin-right: 4px;
}

#product-configurator .badge-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1.5rem;
}

#product-configurator .badge-wrapper .badge {
  background: #fff0ed;
  color: red;
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 32px;
  width: fit-content;
  border-radius: 16px;
  font-weight: 600;
  padding: 5px 8px 3px;
}

#product-configurator .badge-wrapper .text {
  font-size: 12px;
  width: 50%;
  flex-grow: 1;
  margin-left: .5rem;
}

#product-configurator .product-form__item {
  flex-basis: 100%
}

#product-configurator .price-badge-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 4px 1px;
  gap: 10px;
  min-width: fit-content;
  height: 23.6px;
  background: #f03306;
  border-radius: 4px;
}

#product-configurator .price-badge-wrapper .price-badge {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

#product-configurator .price__pricing-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

#product-configurator .price__pricing-group .price__badges, #product-configurator .price__pricing-group .price__regular, #product-configurator .price__pricing-group .price__sale {
  width: 100%
}

#product-configurator .price__pricing-group .price__sale {
  display: flex;
  flex-direction: column-reverse;
}

#product-configurator .price__pricing-group .price__sale .price-item {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
}

#product-configurator .price__pricing-group .price__sale .price-item--sale {
  color: #f03306;
}


#product-configurator .quantity_wrapper {
  display: grid;
  gap: 24px;
  grid-template-columns: minmax(0, 1fr) minmax(0, auto);
  align-items: center;
  margin-bottom: 1rem;
}

#product-configurator .quantity_wrapper .input-container {
  display: flex;
}

#product-configurator .quantity_wrapper .input-container #minus, #product-configurator .quantity_wrapper .input-container #plus {
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: #e6e7ec;
  opacity: .5;
  border-radius: 100%
}

#product-configurator .tax-wrapper .tax-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2e2f3c;
  margin-bottom: 8px;
}

#product-configurator .stock-wrapper .stock-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #f03306;
}

@media screen and (min-width: 769px) {
  .product-info-wrapper {
    display: grid;
    gap: 40px;
    grid-template-columns: minmax(0, .6fr) minmax(0, .4fr);
  }
  #product-configurator {
    position: sticky;
    height: -moz-max-content;
    height: max-content;
    top: 0;
  }
}

.product-info .installment-widgets {
  display: grid;
  gap: 8px;
}

.product-info variant-selects {
  display: block;
}

.product-info variant-selects .form__label {
  display: block;
  margin-bottom: .6rem;
}

.product-info variant-selects .select {
  display: inline-block;
  position: relative;
  width: 100%
}

.product-info variant-selects .select .icon {
  height: .6rem;
  pointer-events: none;
  position: absolute;
  top: calc(50% - .2rem);
  right: 1.5rem;
}

.product-info variant-selects .select__select {
  display: flex;
  width: 100%;
  min-height: 48px;
  max-height: 48px;
  padding: 0 16px;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  color: #000;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 48px
}

.product-info .product-description {
  color: #000;
  margin: 16px 0 24px;
}

.product-info .product-description h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.product-info .product-description p {
  margin-top: 2px;
  font-size: 16px;
  color: #000;
}

.product-info .product-description ul {
  list-style-type: "\2713 ";
  margin-top: 20px;
  padding: 0 14px;
}

.product-info .product-description li {
  padding-left: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2e2f3c;
}

.product-info .product-dimensions {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}


.product-form {
  position: relative;
  display: grid;
  gap: 16px;
  align-content: flex-start;
  margin-bottom: 24px;
}

.product-form .overlay {
  z-index: 2;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#product-viewer {
  display: grid;
  gap: .5rem;

  width: 100%;
  @media screen and (min-width: 769px) {
    position: sticky;
    top: 159px;
    height: max-content;

    gap: 1.5rem;
  }

  .main-frame {
    position: relative;
  }
}


.product-badges {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(3, minmax(0, auto));
  align-items: flex-start;
  justify-content: flex-start;
}

.product-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%
}

.product-badge img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}


@media screen and (min-width: 769px) {
  .product-badges {
    gap: 1rem;
  }
  .product-badge {
    width: 90px;
    height: 90px;
  }
}


.promotion-overlay {
  position: absolute;
  inset: 0;
  z-index: 5;

  margin: 10px;

  pointer-events: none;
}

.add-to-cart-btn {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, auto);
  height: 38px;
  min-height: initial;
  max-height: 50px;
  min-width: initial;
  margin: 0;
  padding: 0;
  border-radius: 50px !important;
  border: none;
  text-transform: none !important;
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 20px !important;
  background-color: #ff8900;
  color: #fff;
}

.add-to-cart-btn svg {
  width: 16px;
}

@media screen and (min-width: 768px) {
  .add-to-cart-btn {
    height: 50px;
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .add-to-cart-btn svg {
    width: 25px;
  }
}

.add-to-cart-btn svg path {
  fill: #fff;
}

.add-to-cart-btn .loading-overlay__spinner {
  display: none;
}

.add-to-cart-btn.loading {
  position: relative;
}

.add-to-cart-btn.loading > :not(.loading-overlay__spinner) {
  display: none;
}

.add-to-cart-btn.loading .loading-overlay__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  height: 100%
}


.product__info-container .container {
  font-weight: 400;
  color: #2e2f3c;
}

.product__info-container .shopify-block {
  margin: 0 !important;
}


.price-block + .shopify-app-block {
  margin: 0;
}

.qp-widget-container {
  margin-bottom: 0 !important;
  font-weight: 400;
  color: #2e2f3c;
  font-size: 12px;
  line-height: 16px;
}

.qp--wrapped-content {
  flex-basis: 0;
}

#product-form-installment {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2e2f3c;
}

@media (min-width: 768px) {
  #product-form-installment, .qp-widget-container {
    font-size: 13px;
    line-height: 20px;
  }
}

#shoppay-container, .ca-promotional-widget {
  margin: 0;
}

.ca-promotional-widget-container {
  font-size: 13px;
  text-align: left;
  color: #2e2f3c;
}

.ca-promotional-widget-link {
  font-weight: 400;
  color: #2e2f3c;
}

.ca-promotional-widget-text-links-container div {
  display: flex !important;
  align-items: flex-end !important;
  justify-content: left !important;
}

.ca-promotional-widget-image img {
  max-height: 22px;
  min-height: 22px;
}

.ca-promotional-widget-text-container {
  font-size: 13px;
  text-align: left;
}

@media screen and (min-width: 749px) {
  .ca-promotional-widget-container {
    display: inline-block;
  }
  .ca-promotional-widget-text-container {
    margin-left: 6px;
  }
}

.ca-promotional-widget-text-container b {
  color: #2e2f3c;
  margin: 0 3px;
}

body {
  background-color: #fff;
}

.splide__pagination__page {
  height: 8px;
  width: 8px;
}

.splide__pagination__page.is-active {
  transform: none;
  background: #ff8900 !important;
  border-radius: 8px;
  width: 26.4px;
  height: 8px;
  opacity: 1;
}


#product-configurator .price__pricing-group .price__sale {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.yotpo .yotpo-pager {
  margin: 20px 0 50px
}

.yotpo .yotpo-pager .yotpo-page-element {
  color: #6A6C77 !important;
  line-height: 20px;
}

.yotpo .yotpo-pager .yotpo-page-element.yotpo-active {
  font-weight: bold;
  color: #2f84ed;
  background: #3c4196 !important;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 100%;
  color: #fff !important;
}

.product-info .product-quantity-selector .quantity-input {
  display: flex;
  align-items: center
}

.product-info .product-quantity-selector {
  display: grid;
  gap: 24px;
  grid-template-columns:minmax(0, 1fr) minmax(0, auto);
  align-items: center;
  margin-top: 0;
  border: 0 solid #b3b3b3;
  min-height: 48px;
  border-radius: 8px;
  font-size: 16px
}

.attribute-configurator {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(0, .6fr) minmax(0, .4fr);
  align-items: flex-end;
  transition: 500ms;

  variant-selects {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &--single {
    gap: 0;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0);

    variant-selects {
      display: none;
    }
  }

  &--unavailable {
    gap: 0;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0);

    #quantity-selector {
      display: none !important;
    }
  }
}


.product-info .product-quantity-selector .quantity-input__button {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: #f1f1f1;
  opacity: 1;
  border-radius: 100%;
  color: #000
}

.product-info .product-quantity-selector {
  padding: 0;
  text-align: left;
  gap: 9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start
}

.product-info .product-quantity-selector .quantity-input {
  width: 100%;
  justify-content: space-between;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  min-height: 48px;
  max-height: 48px;
  padding: 10px
}

.product-info .product-quantity-selector .quantity-input__button {
  border: 0;
  font-size: 19px
}


.risk-reversal {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 100px);

  @media screen and (max-width: 769px) {
    display: none;
  }

  &__item {
    display: grid;
    gap: 4px;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    justify-items: center;
    height: 100%;

    img {
      height: 40px;
      width: 40px;
    }

    p {
      font-size: 14px;
      text-align: center;
    }
  }
}

