#content_for_additional_checkout_buttons {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.buy-buttons-container {
  display: grid;
  gap: 1rem;
}

express-checkout-button {
  display: block;
  max-height: 44px;
  border-radius: 60px;
  overflow: hidden;
  @media screen and (min-width: 769px) {
    display: flex;
  }

  iframe {
    width: 100%;
  }
}
