<style>
  #about-us-header-section .terms-bg {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2f3c;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url('https://emma-sleep.ca/cdn/shop/t/11/assets/about-us-gradientbg.png');
  }

  @media (min-width: 768px) {
    #about-us-header-section .terms-bg {
      background-position: center bottom;
    }
  }
</style>

<section id="about-us-header-section">
  <div class="terms-bg">
    <h1 class="text-[30px] lg:text-[42px] text-[#2e2f3c] text-center max-w-[200px] sm:max-w-full">Awaken your best.</h1>
  </div>
</section>
