<section id="about-us-statistics-section" class="about-us-left-column hidden">
  <div class="py-4">
    <div class="flex flex-wrap">
      {% for block in section.blocks %}
        <div class="w-1/2 mb-6">
          <h2 class="text-[#ffa355] text-[50px] mb-4">{{ block.settings.number }}</h2>
          <p class="text-[18px]">{{ block.settings.text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About Us Statistics",
  "blocks": [
    {
      "type": "about-us-statistics",
      "name": "Statistic",
      "settings": [
        {
          "type": "number",
          "id": "number",
          "label": "Statistic number"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Statistic text"
        }
      ]
    }
  ]
}
{% endschema %}