<section id="about-us-header">
  <div class="global-wrapper text-center">
    <h1 class="h2 mb-0 wow fadeIn">
      Awaken your best.
    </h1>
  </div>
</section>

{% schema %}
{
  "name": "About Us Header",
  "class": "about-us-header",
  "settings": [
    {
      "type": "text",
      "id": "page-title",
      "label": "Page Title"
    }
  ]
}
{% endschema %}
