<style>
  #affiliate-program-section .prose a.btn {
    color: white !important;
    text-decoration: none !important;
  }
</style>

<section id="affiliate-program-section" class="section-container">
  <div class="page-boundary">
    <div class="prose mx-auto">
      {{ page.content }}
    </div>
  </div>
</section>