{% liquid
  assign home_page_only = section.settings.home_page_only
  assign background_color = section.settings.background_color
  assign text_color = section.settings.text_color
%}

<style>
  .announcement-bar {
    --section-setting-background-color: {{ background_color }};
    --section-setting-text-color: {{ text_color }};
  }

  #shopify-section-announcement-bar [type=button],#shopify-section-announcement-bar [type=reset],#shopify-section-announcement-bar [type=submit],#shopify-section-announcement-bar button{-webkit-appearance:button;background-color:transparent;background-image:none}#shopify-section-announcement-bar .announcement-bar{height:70px;width:100%;background-color:var(--section-setting-background-color);color:var(--section-setting-text-color);box-shadow:0 42px 65px rgba(0,0,0,.03),0 9.38125px 14.5186px rgba(0,0,0,.018),0 2.79304px 4.32257px rgba(0,0,0,.012)}#shopify-section-announcement-bar .announcement-bar__content{font-variant-numeric:tabular-nums;text-align:center;letter-spacing:0;height:100%;margin:0;padding:0 30px;display:flex;justify-content:center;align-items:center;flex-wrap:wrap}#shopify-section-announcement-bar .announcement-bar__content *{color:var(--section-setting-text-color)}@media (min-width:768px){#shopify-section-announcement-bar .announcement-bar{height:40px}}#shopify-section-announcement-bar .splide__list{width:100%}#shopify-section-announcement-bar .splide__track{padding:0}#shopify-section-announcement-bar .splide__arrow{transform:translateY(-50%);transition:opacity .3s}#shopify-section-announcement-bar .splide__arrow:disabled{opacity:0;pointer-events:none}
</style>

{% if home_page_only == false or request.page_type == 'index' %}
  <div class="announcement-bar splide">
    <div class="splide__track">
      <ul class="splide__list">
        {% for block in section.blocks %}
          <li class="splide__slide">
            <p class="announcement-bar__content">
              {% case block.type %}
                {% when 'text_slide' %}
                  {{ block.settings.text | remove: '<p>' | remove: '</p>' }}

                {% when 'countdown_slide' %}
                  {% liquid
                    assign text = block.settings.text | remove: '<p>' | remove: '</p>'
                    assign timer_text = block.settings.timer_text | remove: '<p>' | remove: '</p>'
                    assign end_time = block.settings.end_time
                  %}
                  {% render 'countdown-timer', text: text, timer_text: timer_text, end_time: end_time %}
              {% endcase %}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Bar Color",
      "default": "#1c1d1d"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "text_slide",
      "name": "Text Only Slide",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ],
      "limit": 2
    },
    {
      "type": "countdown_slide",
      "name": "Countdown Slide",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "richtext",
          "id": "timer_text",
          "label": "Timer Text",
          "default": "<p>This countdown will end in</p>"
        },
        {
          "type": "text",
          "id": "end_time",
          "label": "End Time",
          "info": "Please follow format: YYYY-MM-DD HH:mm"
        }
      ],
      "limit": 1
    }
  ]
}
{% endschema %}
