<div id="CartDrawerHeader" class="drawer-header">
  <div class="drawer-title-container">
    <div class="drawer-title font-tiempos {% if cart.item_count == 0 %}is-empty{% endif %}">
      <h2 class="text-white">{{ 'cart.title' | t }}</h2>
      {% if cart.item_count != 0 %}
        <span>-</span>
        <div class="cart-item-count">{{ cart.item_count | json }} Item{% if cart.item_count > 1 %}s{% endif %}</div>
      {% endif %}

    </div>
  </div>

  <button
      id="CartDrawer-Close"
      class="drawer-close-btn"
      aria-label="{{ 'accessibility.close' | t }}"
  >
    {% render 'icon-close-small' %}
  </button>
</div>
