{% for item in cart.items %}
  {% assign compare_price = item.variant.compare_at_price| default: item.variant.price | times: item.quantity %}
  {% assign total_cart_compare_price = total_cart_compare_price | plus: compare_price %}
{% endfor %}

<cart-drawer-summary id="CartDrawerSummary" class="hidden" :originalPrice="{{ total_cart_compare_price }}">
  <div class="summary-container">
    <ul class="summary-list">
      <li class="summary-item">
        <p class="summary-item__label paragraph-14">{{ 'cart.subtotal' | t }}</p>


        <p class="summary-item__value invisible-on-loading paragraph-14">
          {{ cart.total_price | money_without_trailing_zeros }}
        </p>
      </li>
    </ul>

    {% render 'cart-redeem-code' %}
    {% render 'cart-totals' %}

    {% render 'loading-three-dots' %}
  </div>
</cart-drawer-summary>

{% schema %}
{
  "name": "Cart Drawer Summary",
  "limit": 1,
  "settings": [
    {
      "id": "finance-tagline",
      "type": "richtext",
      "label": "Finance Tagline"
    }
  ]
}
{% endschema %}
