{% if section.settings.text != empty %}
  <div class="checkout-banner">{{ section.settings.text }}</div>
{% endif %}

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "id": "text",
      "type": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}
