<lazy-stylesheet href="{{ 'copyright.css' | asset_url }}"></lazy-stylesheet>
<footer id="copyright" class="bg-charade">
  <div class="page-boundary">
    <div class="wrapper">
      <p class="copyright-notice">Emma &copy; {{ 'now' | date: "%Y" }} all rights reserved </p>

      <div class="legal-content">
        <small class="legal-content__item">
          <a href="/pages/legal-notice" target="_blank">Legal Notice</a>
        </small>

        <small class="legal-content__item">
          <a href="/pages/privacy-policy" target="_blank">Privacy Policy</a>
        </small>

        <small class="legal-content__item">
          <a href="/pages/terms-and-conditions" target="_blank">Terms and Conditions</a>
        </small>
      </div>
    </div>
  </div>
</footer>
