<style>
  #faq-qna-section:empty {
    display: block;
  }

  #faq-qna-section .accordion-wrapper button svg {
    transform: rotate(-90deg);
  }
  #faq-qna-section .accordion-wrapper.is-open button svg {
    transform: rotate(0deg);
  }
  #faq-qna-section .accordion-wrapper button:hover > svg {
    fill: #ff8900;
  }
  #faq-qna-section .accordion__content p {
    margin-bottom: 16px;
  }
  #faq-qna-section .accordion__content p:last-child {
    margin-bottom: 0;
  }
  #faq-qna-section .accordion__content ul {
    list-style: disc;
    margin: inherit;
    padding: inherit;
    padding-top: 0;
  }
  #faq-qna-section .accordion__content ul:last-child {
    padding-bottom: 0;
  }
  #faq-qna-section .accordion__content ul li {
    font-size: 16px;
    margin-bottom: 4px;
  }
  #faq-qna-section .faq-subtopic-title {
    margin-top: 52px;
  }
  #faq-qna-section .accordion__content a,
  #faq-qna-section .accordion__content a:visited {
    color: #3C4196;
    text-decoration: underline;
  }
  #faq-qna-section .accordion__content tr:first-child td:after,
  #faq-qna-section .accordion__content tr:first-child th:after {
    border-bottom: 0;
  }
</style>

<section id="faq-qna-section" class="mb-10"></section>

<script type="module">
  addClickFAQSearchListener()
  autoSelectFirstFAQSearch()
  wrapFaqSearch()

  function wrapFaqSearch() {
    $('<div/>', { id: 'faq-search-section', class: 'mx-auto max-w-7xl px-4 sm:px-6 md:px-8 md:flex flex-wrap gap-3 justify-center' }).insertAfter('.faq-header-wrapper')
    $('.faq-search-wrapper').appendTo('#faq-search-section')
    $('.faq-search-btn').removeClass('hidden')
  }

  function autoSelectFirstFAQSearch() {
    $('.faq-search-section .faq-search-btn').first().click()
  }

  function addClickFAQSearchListener() {
    $('.faq-search-section .faq-search-btn').click(function () {
      document.getElementById('faq-qna-section').scrollIntoView({ behavior: 'smooth' });
      $('.faq-search-section .faq-search-btn').addClass('opacity-40')
      $(this).removeClass('opacity-40');

      const $wrapper = $($(this).parent().parent())
      const $qnaContent =  $($wrapper.find('.faq-qna-content'))
      const $qnaSection = $('#faq-qna-section')
      $qnaSection.html($qnaContent.html())
      $qnaSection.find('.accordion-wrapper').beefup({ trigger: ".accordion", content: ".accordion__content", openSingle: true, openSpeed: 100, closeSpeed: 100 })
    })
  }
</script>
