<section id="faq-header-section" class="bg-[#3c4196] mb-7">
  <div class="mx-auto max-w-7xl px-4 py-7 sm:px-6 md:px-8">
    <h1 class="text-center text-white mb-3 font-bold text-[32px] lg:text-[42px]">{{ section.settings.heading }}</h1>
    <p class="text-center text-white">{{ section.settings.subheading }}</p>
  </div>
</section>

{% schema %}
{
  "name": "FAQ Header",
  "class": "faq-header-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    }
  ]
}
{% endschema %}