<style>
  #financing-affirm-section .financing-affirm-background-image {
    background-image: url({{ section.settings.background_image | img_url: 'master' }});
    height: 75vh;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

<section id="financing-affirm-section">
  <div class="financing-affirm-background-image relative py-5 text-center">
    <div style="top: 40%;" class="absolute left-1/2 w-full -translate-x-1/2 -translate-y-1/2">
      <div class="mx-auto max-w-7xl px-4 text-center sm:px-6 md:px-8">
        <h3 class="mb-3 text-center text-[32px] lg:text-[42px] text-[#3c4196] font-bold">{{ section.settings.title | newline_to_br }}</h3>
        <p class="mb-3 text-center text-[20px]">{{ section.settings.description | newline_to_br }}</p>
        <a href="{{ section.settings.link }}" target="_blank" class="btn btn--secondary mx-auto w-max">More About Affirm</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Financing Affirm",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "url",
      "id": "link",
      "label": "CTA link"
    }
  ]
}
{% endschema %}