<style>
  .information-tabs-section {
    background-color: white;
    padding: 3rem 1rem;
  }

  .information-tabs-wrapper {
    min-height: 30rem;
    background-image:url("{{ section.settings.image.src | image_url }}");
    background-size: 100% 15rem;
    background-position: center 1rem;
    background-repeat: no-repeat;
  }

  .information-tabs-section h2 {
    font-family: 'Tiempos';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    margin-bottom: 16rem;
  }

  .information-tabs-wrapper custom-tab {
    cursor: pointer;
    padding: 0.5rem 0;
    margin-right: 1.25rem;
    font-size: 14px;
    font-size: "Inter";
  }

  .information-tabs-wrapper custom-tab[aria-selected=true],
  .information-tabs-wrapper custom-tab:hover {
    border-bottom: 2px solid #2E2F3C;
    font-weight: 600;
  }

  .information-tabs-wrapper custom-panel {
    border-top: 1px solid #E6E7EC;
    padding: 0.5rem 0;
  }

  @media (min-width: 768px) {
    .information-tabs-wrapper {
      background-size: 50%;
      background-position: left center;
    }

    .information-tabs-wrapper .tabs-container {
      width: 50%;
      margin-left: 50%;
    }

    .information-tabs-section h2 {
      font-size: 39px;
      line-height: 47px;
      text-align: start;
      margin-bottom: 1rem;
    }

    .information-tabs-wrapper custom-tab {
      margin-right: 2.5rem;
      font-size: 20px;
    }
  }

</style>
<section class="information-tabs-section">
  <div class="information-tabs-wrapper">
    <div class="tabs-container">
      <h2>{{ section.settings.title }}</h2>
      <custom-tabs>
        {% for tab in section.blocks %}
        <custom-tab role="heading" slot="tab">{{tab.settings.tab_title}}</custom-tab>
        <custom-panel role="region" slot="panel">{{tab.settings.tab_content}}</custom-panel>
        {% endfor %}
      </custom-tabs>
    </div>
</section>
{% schema %}
{
"name": "Information Tabs",
"max_blocks": 3,
"blocks": [
{
"type": "tab",
"name": "Tab",
"settings": [
{
"type": "text",
"id": "tab_title",
"label": "Tab Title"
},
{
"type": "richtext",
"id": "tab_content",
"label": "Tab Content"
}
]
}
],
"settings": [
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Bed information"
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
}
]
}
{% endschema %}
