{% assign items = section.blocks | where: "type", "item" %}

<section id="risk-reversal-section">
  <div class="risk-reversal">
    {%- for item in items -%}
      <div class="risk-reversal__item">
        <img src="{{ item.settings.icon | img_url: '100x100' }}" width="60" height="auto" loading="lazy">
        <p class="paragraph-18 font-semibold">{{ item.settings.title | remove: "<p>" | remove: "</p>" }}</p>
      </div>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Risk Reversal Banner",
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Item Icon"
        },
        {
          "id": "title",
          "type": "richtext",
          "label": "Item Title"
        }
      ]
    }
  ]
}
{% endschema %}
