<div id="LandbotFrame" class="widget-wrapper{% unless section.settings.boundless%} page-boundary{% endunless %}">
  <iframe frameborder="0" width="100%" src="{{ section.settings.url }}"></iframe>
</div>

{% schema %}
{
  "name": "Landbot Widget",
  "tag": "section",
  "class": "widget-layout-section",
  "settings": [
    {
      "id": "url",
      "type": "url",
      "label": "Landbot URL"
    },
    {
      "id": "boundless",
      "type": "checkbox",
      "label": "Boundless?",
      "default": false
    }
  ]
}
{% endschema %}
