<div class="w-full flex flex-col items-center justify-start text-center my-16">
  <img src="{{ 'sleep-moon.svg' | asset_url }}" width="auto" height="auto" class="w-9 h-9 md:w-16 md:h-16" />
  <div class="py-4">Oops! Looks like this page is on snooze</div>
  <a href="{{ routes.all_products_collection_url }}"
    class="text-white text-2xl uppercase font-semibold rounded-lg bg-chambray hover:bg-blue-800 px-10 py-1">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
