{% assign home_page_url = 'https://emma-sleep.ca/' %}
{% if request.locale.iso_code == 'fr' %}
  {% assign home_page_url = 'https://qc.emma-sleep.ca/' %}
{% endif %}

<div class="page-404">
  <img class="page-404__image" src="{{ 'sleep-moon.svg' | asset_url }}" width="auto" height="auto" />
  <div class="page-404__message">{{ 'general.404.page_not_found_message' | t }}</div>
  <a href="{{ home_page_url }}" class="page-404__home-link">{{ 'general.404.continue_shopping' | t }}</a>
</div>

{% stylesheet %}
.page-404 {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.page-404__image {
  width: 2.25rem;
  height: 2.25rem;
}

@media (min-width: 768px) {
  .page-404__image {
    width: 4rem;
    height: 4rem;
  }
}

.page-404__message {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.page-404__home-link {
  padding: 0.25rem 2.5rem;
  background-color: rgb(60, 65, 150);
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.page-404__home-link:hover {
  background-color: #1E40AF;
  color: #ffffff;
}
{% endstylesheet %}