
{% if request.design_mode %}
<style>.pf-ph{font-size:14px!important;background:#fafafa;padding:20px;text-align:center;border:1px solid #f0f0f0;border-radius:4px;margin:15px}.pf-ph span{display:block;background:#e6f7ff;padding:8px 15px;border:1px solid #91d5ff}</style>
{% endif %}
{% if section.settings.section_id.size > 0 %}
  {% assign snippet_name = section.settings.section_id %}
  {% capture content %}{% include snippet_name %}{% endcapture %}
  {% if content contains "Liquid error" %}
    
    {% if request.design_mode %}
      <div class="pf-ph">
        <h3>PageFly Section</h3>
        <span>No section selected. Please select your section from the list</span>
      </div>
    {% endif %}
  
  {% else %}
    {% render 'pagefly-settings' %}
    {% include snippet_name %}
  {% endif %}
  {% else %}
    
    {% if request.design_mode %}
      <div class="pf-ph">
        <h3>PageFly Section</h3>
        <span>No section selected. Please select your section from the list</span>
      </div>
    {% endif %}
  
{% endif %}

{% schema %}
{
  "name": "PageFly Section",
  "settings": [
    {
      "id": "section_id",
      "type": "select",
      "label": "Sections",
      "options": [
        {
          "label": "Select section",
          "value": ""
        },
        {
          "label": "Reviews Highlight",
          "value": "pf-a197a588"
        },
        {
          "label": "Blue USP",
          "value": "pf-525b93a2"
        },
        {
          "label": "New Hero",
          "value": "pf-7bbd33cb"
        },
        {
          "label": "New Press Bar",
          "value": "pf-3f11c699"
        },
        {
          "label": "Product Suggestions Home Page",
          "value": "pf-f3d01820"
        },
        {
          "label": "Awards tab section",
          "value": "pf-d8fd566d"
        },
        {
          "label": "USP PHOTO MOBILE FINAL",
          "value": "pf-37fbbff3"
        },
        {
          "label": "USP Mobile",
          "value": "pf-960b46b9"
        },
        {
          "label": "USP Picture",
          "value": "pf-11aa15e2"
        },
        {
          "label": "home page awards",
          "value": "pf-c3392e4a"
        },
        {
          "label": "New USP",
          "value": "pf-bd153ae1"
        },
        {
          "label": "old motion / 3zone",
          "value": "pf-93db9a2f"
        },
        {
          "label": "Press&Awards homepage section",
          "value": "pf-b4f0b078"
        },
        {
          "label": "Bed 3",
          "value": "pf-01393b84"
        },
        {
          "label": "Home Section",
          "value": "pf-fd9485a5"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "Find and edit your section on the [section listing](https://apps.pagefly.io/sections)"
    },
    {
      "type": "paragraph",
      "content": "To add block to a section, please use the App Block element on PageFly section editor."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "PageFly Section"
    }
  ]
}
{% endschema %}
