{{ 'product-summary.css' | asset_url | stylesheet_tag }}

<section id="ProductSummary">
    <h2 id="product-title" class="paragraph-24 font-inter font-semibold">
        {{ section.settings.title | default: product.title }}
    </h2>

    {% render 'yotpo-review-stars', product: product %}

    <div class="product-description">
        {{ section.settings.desc | default: product.description }}
    </div>
</section>

{% schema %}
{
  "name": "Product Summary",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "desc",
      "type": "richtext",
      "label": "Description"
    }
  ]
}
{% endschema %}
