{% assign items = section.blocks | where: "type", "item" %}

<section id="promotional-banner-section">
  <div class="wrapper bg-chambray">
    {%- for block in items -%}
      <div class="banner-item">
        <img src="{{ block.settings.icon | image_url: width: 20 }}" width="20" height="20" loading="lazy" />
        <p class="text-white text-left">{{ block.settings.text }}</p>
      </div>
      {% unless forloop.last %}
        <div class="dot">&nbsp;</div>{% endunless %}
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Promotional Banner",
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Item Icon"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Item Text"
        }
      ]
    }
  ]
}
{% endschema %}
