{% assign items = section.blocks | where: 'type', 'item' %}

<style>
  #promotional-banner-section{height: 71px}#promotional-banner-section .promotional-banner{display: grid;gap: 8px;align-items: center;justify-content: center;min-height: 48px;padding: 8px 0}@media screen and (min-width: 769px){#promotional-banner-section{height: 48px}#promotional-banner-section .promotional-banner{gap: 40px;grid-template-columns: repeat(2, minmax(0, auto))}}#promotional-banner-section .section-content{display: grid;gap: 8px;grid-template-columns: minmax(0, auto) minmax(0, 1fr);align-items: center}#promotional-banner-section .top-brands{display: grid;gap: 24px;grid-auto-flow: column;align-items: center;justify-content: center;justify-items: center}
</style>

<section id="promotional-banner-section" class="bg-chambray">
  <div class="promotional-banner page-boundary">
    <div class="section-content">
      {% render 'image-tag', image_src: section.settings.lead_icon, width: 20, height: 20 %}
      <p class="text-white text-left">{{ section.settings.heading | remove: '<p>' | remove: '</p>' }}</p>
    </div>

    <div class="top-brands">
      {%- for block in items -%}
        <div class="banner-item">
          {% render 'image-tag', image_src: block.settings.icon, width: 60, height: 23 %}
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Promotional Banner",
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Item Icon"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "lead_icon",
      "type": "image_picker",
      "label": "Lead Icon"
    },
    {
      "id": "heading",
      "type": "richtext",
      "label": "Heading"
    }
  ]
}
{% endschema %}
