<div class="bg-[#3c4196] py-7 text-center text-white mb-7">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
    <h1 class="mb-3 text-[38px] lg:text-[60px]">{{ section.settings.title }}</h1>
    <div class="mb-7 text-[16px]">
      <p>{{ section.settings.description }}</p>
    </div>
    <a href="{{ section.settings.link }}" class="btn btn-no--hover mx-auto max-w-max">Shop Now</a>
  </div>
</div>

{% schema %}
{
  "name": "Awards Header",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Header description"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Header link"
    }
  ]
}
{% endschema %}