{% assign catalogItems = section.blocks | where: 'type', 'catalog_item' %}
<style>
  .star-rating{
    display:none
  }
  product-card .product-card-metadata{
    align-content: start;
  }

  .smart-tabs .smart-container {
    gap: 80px;
  }
  .smart-tabs .smart-tabs-content-section {
    padding: 0 !important;
  }
</style>
<section id="sale-catalog-section" class="section-container spacing-{{ section.settings.container_spacing }}">
  <div class="section-chassis page-boundary">
    <smart-tabs class="material">
      {% for collection in section.settings.sale_collection_list %}
        <smart-tab-item label="{{ collection.title }}">
          <div class="catalog-grid">
            {% for product in collection.products %}
              <a href="{{ product.url }}">
                {% render 'product-card', product: product, landscape: true %}
              </a>
            {% endfor %}
          </div>
        </smart-tab-item>
      {% endfor %}
    </smart-tabs>
  </div>
</section>

{% schema %}
{
  "name": "Sale Catalog",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Sale Catalog"
    },
    {
      "id": "heading_alignment",
      "type": "select",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "options": [
        {
          "value": "lg",
          "label": "Large (60px)"
        },
        {
          "value": "md",
          "label": "Medium (40px)"
        }
      ],
      "default": "md",
      "label": "Container Spacing"
    },
    {
      "id": "sale_collection_list",
      "type": "collection_list",
      "label": "Sale Collection List"
    },


    {
      "type": "header",
      "content": "Product Assets",
      "info": "Please visit the respective Accentuate Url of each product below to update its assets"
    }
  ]
}
{% endschema %}
