{{ 'special-services.css' | asset_url | stylesheet_tag }}

{% assign services = section.blocks | where: "type", "service" %}


<section id="special-services-section">
  <div class="page-boundary">
    <ul class="special-services">
      {%- for block in services -%}
        <li class="special-service">
          <img
            class="special-service__icon" src="{{ block.settings.icon | image_url: width: 60 }}" width="60" height="60"
            loading="lazy"
          >
          <div class="special-service__details">
            <h3 class="heading-5">{{ block.settings.title | remove: "<p>" | remove: "</p>" }}</h3>
            <p class="lead-statement">{{ block.settings.content | remove: "<p>" | remove: "</p>" }}</p>
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>

{% schema %}

{
  "name": "Special Services",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "service",
      "name": "Service",
      "settings": [
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Service Icon"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Service Title"
        },
        {
          "id": "content",
          "type": "text",
          "label": "Service Content"
        }
      ]
    }
  ]
}

{% endschema %}
