<style>
  #warranty-header-section p{
    color:#fff !important;
  }
</style>
<section id="warranty-header-section" class="bg-[#2e2f3c]">
	<div class="mx-auto max-w-7xl px-4 py-7 sm:px-6 md:px-8">
		<h1 class="text-center text-white mb-3 font-bold text-[32px] lg:text-[42px]">{{ section.settings.title }}</h1>
		<div class="text-white">{{ section.settings.content }}</div>
	</div>
</section>

{% schema %}
{
	"name": "Warranty Header",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "richtext",
			"id": "content",
			"label": "Content"
		}
	]
}
{% endschema %}