<section id="competitor-reviews-section">
    <div class="wrapper max-w-6xl mx-auto">
        <h2 class="review-heading">What our happy sleepers say</h2>

        <div class="hidden md:block">
            <ul class="review-list">
                <li>
                    <div class="competitor-review">
                        {% render 'star-ratings' %}
                        <p class="competitor-review__title text-charade">Brilliant</p>
                        <p class="competitor-review__content text-charade">“We've had the mattress for a few months now
                            and it's pretty much fixed my problem of having a sore back all the time. It also keeps us
                            cool since my partner gets very hot at night generally. It's the perfect amount of firmness
                            for both me and my partner and it's holding up well.“</p>
                        <div class="competitor-review__footer text-charade">
                            <p class="competitor-review__author">by <span class="font-semibold">Chloe</span> on
                                03/08/2022</p>
                            <p class="competitor-review__verified">
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.486 11.5237C9.28212 11.7761 10.1525 11.5635 10.7431 10.9728C11.3337 10.3822 11.546 9.51184 11.294 8.71572C12.035 8.33097 12.5 7.56559 12.5 6.73047C12.5 5.89534 12.035 5.12997 11.294 4.74522C11.5464 3.94909 11.3337 3.07872 10.7431 2.48809C10.1525 1.89747 9.28212 1.68522 8.486 1.93722C8.10125 1.19584 7.3355 0.730469 6.5 0.730469C5.6645 0.730469 4.89875 1.19584 4.514 1.93722C3.71825 1.68559 2.84863 1.89784 2.258 2.48772C1.66738 3.07759 1.45475 3.94722 1.706 4.74334C0.965 5.12809 0.5 5.89347 0.5 6.72859C0.5 7.56372 0.965 8.32909 1.706 8.71384C1.4525 9.51034 1.66438 10.3818 2.25538 10.9732C2.84637 11.5646 3.71788 11.7768 4.51437 11.5237C4.89913 12.2651 5.66488 12.7305 6.5 12.7305C7.33512 12.7305 8.10087 12.2651 8.48563 11.5237H8.486ZM3.94513 7.49172C3.8075 7.35859 3.75238 7.16172 3.80113 6.97684C3.84988 6.79197 3.99425 6.64722 4.1795 6.59884C4.36475 6.55047 4.56125 6.60559 4.69438 6.74359L5.91425 7.96272L8.54788 4.51872C8.72563 4.28622 9.05825 4.24197 9.29037 4.41972C9.5225 4.59747 9.56713 4.93009 9.38937 5.16222L6.755 8.60284C6.56975 8.84697 6.28813 8.99847 5.9825 9.01909C5.67688 9.03972 5.37725 8.92647 5.16125 8.70934L3.94588 7.49172H3.94513Z"
                                          fill="#2E2F3C"/>
                                </svg>
                                <span class="ml-1">verified customer</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="competitor-review">
                        {% render 'star-ratings' %}
                        <p class="competitor-review__title text-charade">I've never slept better, treat yourself</p>
                        <p class="competitor-review__content text-charade">“After doing some research, I settled on the
                            Emma due to the reviews, product information and return policy (just in case). I've now had
                            the mattress for 6 months and it has been perfect. I took advantage of a discount when
                            purchasing but regardless, this has been incredible value for money.”</p>
                        <div class="competitor-review__footer text-charade">
                            <p class="competitor-review__author">by <span class="font-semibold">craigculshaw</span> on
                                03/15/2022</p>
                            <p class="competitor-review__verified">
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.486 11.5237C9.28212 11.7761 10.1525 11.5635 10.7431 10.9728C11.3337 10.3822 11.546 9.51184 11.294 8.71572C12.035 8.33097 12.5 7.56559 12.5 6.73047C12.5 5.89534 12.035 5.12997 11.294 4.74522C11.5464 3.94909 11.3337 3.07872 10.7431 2.48809C10.1525 1.89747 9.28212 1.68522 8.486 1.93722C8.10125 1.19584 7.3355 0.730469 6.5 0.730469C5.6645 0.730469 4.89875 1.19584 4.514 1.93722C3.71825 1.68559 2.84863 1.89784 2.258 2.48772C1.66738 3.07759 1.45475 3.94722 1.706 4.74334C0.965 5.12809 0.5 5.89347 0.5 6.72859C0.5 7.56372 0.965 8.32909 1.706 8.71384C1.4525 9.51034 1.66438 10.3818 2.25538 10.9732C2.84637 11.5646 3.71788 11.7768 4.51437 11.5237C4.89913 12.2651 5.66488 12.7305 6.5 12.7305C7.33512 12.7305 8.10087 12.2651 8.48563 11.5237H8.486ZM3.94513 7.49172C3.8075 7.35859 3.75238 7.16172 3.80113 6.97684C3.84988 6.79197 3.99425 6.64722 4.1795 6.59884C4.36475 6.55047 4.56125 6.60559 4.69438 6.74359L5.91425 7.96272L8.54788 4.51872C8.72563 4.28622 9.05825 4.24197 9.29037 4.41972C9.5225 4.59747 9.56713 4.93009 9.38937 5.16222L6.755 8.60284C6.56975 8.84697 6.28813 8.99847 5.9825 9.01909C5.67688 9.03972 5.37725 8.92647 5.16125 8.70934L3.94588 7.49172H3.94513Z"
                                          fill="#2E2F3C"/>
                                </svg>
                                <span class="ml-1">verified customer</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="competitor-review">
                        {% render 'star-ratings' %}
                        <p class="competitor-review__title text-charade">Fantastic mattress</p>
                        <p class="competitor-review__content text-charade">“The most comfortable and supportive mattress
                            I have ever slept on. Emma Original Lite is durable and it certainly has maintained its
                            shape and firmness. I believe this mattress will last for years, and the slip-off washable
                            zipped cover makes it look like a brand new mattress after each wash.”</p>
                        <div class="competitor-review__footer text-charade">
                            <p class="competitor-review__author">by <span class="font-semibold">Neryl</span> on
                                02/22/2022</p>
                            <p class="competitor-review__verified">
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.486 11.5237C9.28212 11.7761 10.1525 11.5635 10.7431 10.9728C11.3337 10.3822 11.546 9.51184 11.294 8.71572C12.035 8.33097 12.5 7.56559 12.5 6.73047C12.5 5.89534 12.035 5.12997 11.294 4.74522C11.5464 3.94909 11.3337 3.07872 10.7431 2.48809C10.1525 1.89747 9.28212 1.68522 8.486 1.93722C8.10125 1.19584 7.3355 0.730469 6.5 0.730469C5.6645 0.730469 4.89875 1.19584 4.514 1.93722C3.71825 1.68559 2.84863 1.89784 2.258 2.48772C1.66738 3.07759 1.45475 3.94722 1.706 4.74334C0.965 5.12809 0.5 5.89347 0.5 6.72859C0.5 7.56372 0.965 8.32909 1.706 8.71384C1.4525 9.51034 1.66438 10.3818 2.25538 10.9732C2.84637 11.5646 3.71788 11.7768 4.51437 11.5237C4.89913 12.2651 5.66488 12.7305 6.5 12.7305C7.33512 12.7305 8.10087 12.2651 8.48563 11.5237H8.486ZM3.94513 7.49172C3.8075 7.35859 3.75238 7.16172 3.80113 6.97684C3.84988 6.79197 3.99425 6.64722 4.1795 6.59884C4.36475 6.55047 4.56125 6.60559 4.69438 6.74359L5.91425 7.96272L8.54788 4.51872C8.72563 4.28622 9.05825 4.24197 9.29037 4.41972C9.5225 4.59747 9.56713 4.93009 9.38937 5.16222L6.755 8.60284C6.56975 8.84697 6.28813 8.99847 5.9825 9.01909C5.67688 9.03972 5.37725 8.92647 5.16125 8.70934L3.94588 7.49172H3.94513Z"
                                          fill="#2E2F3C"/>
                                </svg>
                                <span class="ml-1">verified customer</span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="splide md:hidden">
            {% include 'splide-arrows' %}

            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="competitor-review">
                            {% render 'star-ratings' %}
                            <p class="competitor-review__title text-charade">Brilliant</p>
                            <p class="competitor-review__content text-charade">“We've had the mattress for a few months
                                now and it's pretty much fixed my problem of having a sore back all the time. It also
                                keeps us cool since my partner gets very hot at night generally. It's the perfect amount
                                of firmness for both me and my partner and it's holding up well.“</p>
                            <div class="competitor-review__footer text-charade">
                                <p class="competitor-review__author">by <span class="font-semibold">Chloe</span> on
                                    03/08/2022</p>
                                <p class="competitor-review__verified">
                                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.486 11.5237C9.28212 11.7761 10.1525 11.5635 10.7431 10.9728C11.3337 10.3822 11.546 9.51184 11.294 8.71572C12.035 8.33097 12.5 7.56559 12.5 6.73047C12.5 5.89534 12.035 5.12997 11.294 4.74522C11.5464 3.94909 11.3337 3.07872 10.7431 2.48809C10.1525 1.89747 9.28212 1.68522 8.486 1.93722C8.10125 1.19584 7.3355 0.730469 6.5 0.730469C5.6645 0.730469 4.89875 1.19584 4.514 1.93722C3.71825 1.68559 2.84863 1.89784 2.258 2.48772C1.66738 3.07759 1.45475 3.94722 1.706 4.74334C0.965 5.12809 0.5 5.89347 0.5 6.72859C0.5 7.56372 0.965 8.32909 1.706 8.71384C1.4525 9.51034 1.66438 10.3818 2.25538 10.9732C2.84637 11.5646 3.71788 11.7768 4.51437 11.5237C4.89913 12.2651 5.66488 12.7305 6.5 12.7305C7.33512 12.7305 8.10087 12.2651 8.48563 11.5237H8.486ZM3.94513 7.49172C3.8075 7.35859 3.75238 7.16172 3.80113 6.97684C3.84988 6.79197 3.99425 6.64722 4.1795 6.59884C4.36475 6.55047 4.56125 6.60559 4.69438 6.74359L5.91425 7.96272L8.54788 4.51872C8.72563 4.28622 9.05825 4.24197 9.29037 4.41972C9.5225 4.59747 9.56713 4.93009 9.38937 5.16222L6.755 8.60284C6.56975 8.84697 6.28813 8.99847 5.9825 9.01909C5.67688 9.03972 5.37725 8.92647 5.16125 8.70934L3.94588 7.49172H3.94513Z"
                                              fill="#2E2F3C"/>
                                    </svg>
                                    <span class="ml-1">verified customer</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="competitor-review">
                            {% render 'star-ratings' %}
                            <p class="competitor-review__title text-charade">I've never slept better, treat yourself</p>
                            <p class="competitor-review__content text-charade">“After doing some research, I settled on
                                the Emma due to the reviews, product information and return policy (just in case). I've
                                now had the mattress for 6 months and it has been perfect. I took advantage of a
                                discount when purchasing but regardless, this has been incredible value for money.”</p>
                            <div class="competitor-review__footer text-charade">
                                <p class="competitor-review__author">by <span class="font-semibold">craigculshaw</span>
                                    on 03/15/2022</p>
                                <p class="competitor-review__verified">
                                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.486 11.5237C9.28212 11.7761 10.1525 11.5635 10.7431 10.9728C11.3337 10.3822 11.546 9.51184 11.294 8.71572C12.035 8.33097 12.5 7.56559 12.5 6.73047C12.5 5.89534 12.035 5.12997 11.294 4.74522C11.5464 3.94909 11.3337 3.07872 10.7431 2.48809C10.1525 1.89747 9.28212 1.68522 8.486 1.93722C8.10125 1.19584 7.3355 0.730469 6.5 0.730469C5.6645 0.730469 4.89875 1.19584 4.514 1.93722C3.71825 1.68559 2.84863 1.89784 2.258 2.48772C1.66738 3.07759 1.45475 3.94722 1.706 4.74334C0.965 5.12809 0.5 5.89347 0.5 6.72859C0.5 7.56372 0.965 8.32909 1.706 8.71384C1.4525 9.51034 1.66438 10.3818 2.25538 10.9732C2.84637 11.5646 3.71788 11.7768 4.51437 11.5237C4.89913 12.2651 5.66488 12.7305 6.5 12.7305C7.33512 12.7305 8.10087 12.2651 8.48563 11.5237H8.486ZM3.94513 7.49172C3.8075 7.35859 3.75238 7.16172 3.80113 6.97684C3.84988 6.79197 3.99425 6.64722 4.1795 6.59884C4.36475 6.55047 4.56125 6.60559 4.69438 6.74359L5.91425 7.96272L8.54788 4.51872C8.72563 4.28622 9.05825 4.24197 9.29037 4.41972C9.5225 4.59747 9.56713 4.93009 9.38937 5.16222L6.755 8.60284C6.56975 8.84697 6.28813 8.99847 5.9825 9.01909C5.67688 9.03972 5.37725 8.92647 5.16125 8.70934L3.94588 7.49172H3.94513Z"
                                              fill="#2E2F3C"/>
                                    </svg>
                                    <span class="ml-1">verified customer</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="competitor-review">
                            {% render 'star-ratings' %}
                            <p class="competitor-review__title text-charade">Fantastic mattress</p>
                            <p class="competitor-review__content text-charade">“The most comfortable and supportive
                                mattress I have ever slept on. Emma Original Lite is durable and it certainly has
                                maintained its shape and firmness. I believe this mattress will last for years, and the
                                slip-off washable zipped cover makes it look like a brand new mattress after each
                                wash.”</p>
                            <div class="competitor-review__footer text-charade">
                                <p class="competitor-review__author">by <span class="font-semibold">Neryl</span> on
                                    02/22/2022</p>
                                <p class="competitor-review__verified">
                                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.486 11.5237C9.28212 11.7761 10.1525 11.5635 10.7431 10.9728C11.3337 10.3822 11.546 9.51184 11.294 8.71572C12.035 8.33097 12.5 7.56559 12.5 6.73047C12.5 5.89534 12.035 5.12997 11.294 4.74522C11.5464 3.94909 11.3337 3.07872 10.7431 2.48809C10.1525 1.89747 9.28212 1.68522 8.486 1.93722C8.10125 1.19584 7.3355 0.730469 6.5 0.730469C5.6645 0.730469 4.89875 1.19584 4.514 1.93722C3.71825 1.68559 2.84863 1.89784 2.258 2.48772C1.66738 3.07759 1.45475 3.94722 1.706 4.74334C0.965 5.12809 0.5 5.89347 0.5 6.72859C0.5 7.56372 0.965 8.32909 1.706 8.71384C1.4525 9.51034 1.66438 10.3818 2.25538 10.9732C2.84637 11.5646 3.71788 11.7768 4.51437 11.5237C4.89913 12.2651 5.66488 12.7305 6.5 12.7305C7.33512 12.7305 8.10087 12.2651 8.48563 11.5237H8.486ZM3.94513 7.49172C3.8075 7.35859 3.75238 7.16172 3.80113 6.97684C3.84988 6.79197 3.99425 6.64722 4.1795 6.59884C4.36475 6.55047 4.56125 6.60559 4.69438 6.74359L5.91425 7.96272L8.54788 4.51872C8.72563 4.28622 9.05825 4.24197 9.29037 4.41972C9.5225 4.59747 9.56713 4.93009 9.38937 5.16222L6.755 8.60284C6.56975 8.84697 6.28813 8.99847 5.9825 9.01909C5.67688 9.03972 5.37725 8.92647 5.16125 8.70934L3.94588 7.49172H3.94513Z"
                                              fill="#2E2F3C"/>
                                    </svg>
                                    <span class="ml-1">verified customer</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<script type="quickscript" loading="delayed" src="{{ "competitor-reviews.js" | asset_url }}"></script>

