<section id="competitor-myth-busting-section">
    <div class="wrapper max-w-6xl mx-auto">
        <div class="mythbusting">
            <h2 class="mythbusting__heading"></h2>
            <p class="mythbusting__subheading"></p>
        </div>

        <div class="hidden md:block">
            <ul class="mythbusting-list"></ul>
        </div>

        <div class="splide md:hidden">
            {% include 'splide-arrows' %}

            <div class="splide__track">
                <ul class="splide__list"></ul>
            </div>
        </div>
    </div>
</section>

<script type="quickscript" loading="delayed" src="{{ "myth-busting.js" | asset_url }}"></script>
