{% assign subtopicBlocks = section.blocks | where: "type", "subtopic" %}
{% assign questionAnswerBlocks = section.blocks | where: "type", "question_and_answer" %}
<style>
    #faq .faq__choices {
                            display: grid;
                            gap: 18px;
                            grid-template-columns: repeat(auto-fit, minmax(140px, 1fr))
                        }

                        #faq .faq__choices a {
                            height: 40px;
                            line-height: 1.2;
                            border-radius: 15px
                        }

                        #faq .accordion__content a, #faq .accordion__content a:visited {
                            color: #3C4196;
                            font-weight: bold;
                            text-decoration: underline
                        }

                        #faq .accordion__content p {
                            font-size: 11px;
                            margin-bottom: 16px;
                        }

                        #faq .accordion__content p:last-child {
                            margin-bottom: 0;
                        }

                        #faq .accordion__content ul {
                            list-style: disc;
                            margin: inherit;
                            padding: 0 16px 0 24px;
                        }

                        #faq .accordion__content ul:last-child {
                            padding-bottom: 0;
                        }

                        #faq .accordion__content ul li {
                            font-size: 11px;
                            margin-bottom: 4px;
                        }

                        #faq .accordion__content tr:first-child td:after, #faq .accordion__content tr:first-child th:after {
                            border-bottom: 0;
                        }

                        #faq .accordion-wrapper.is-open .accordion-icon {
                            transform: rotate(45deg)
                        }

                        #faq .faq-qa-section:nth-child(odd) {
                            background-color: #F7F7F9
                        }

                        #faq .faq-qa-section:nth-child(even) {
                            background-color: white
                        }

                        @media (min-width: 1024px) {
                            #faq .accordion__content p, #faq .accordion__content ul li {
                                font-size: 16px;
                            }
                        }
</style>
<div id="{{ section.settings.slug }}" class="faq-qna-section py-4 lg:py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-3 md:px-5">
    <div class="lg:flex lg:gap-60">
      <h3 class="mb-5 text-center text-[26px] lg:mb-0 lg:w-1/4 lg:text-left lg:text-[39px]">{{ section.settings.topic_title }}</h3>
      <div class="lg:flex-1">
        {% for subtopicBlock in subtopicBlocks %}
          {% for questionAnswerBlock in questionAnswerBlocks %}
            {% if questionAnswerBlock.settings.subtopic_id == subtopicBlock.settings.id %}
              {% render 'faq-qna-accordion', question: questionAnswerBlock.settings.question_1, answer: questionAnswerBlock.settings.answer_1, html: questionAnswerBlock.settings.html_1 %}
              {% render 'faq-qna-accordion', question: questionAnswerBlock.settings.question_2, answer: questionAnswerBlock.settings.answer_2, html: questionAnswerBlock.settings.html_2 %}
              {% render 'faq-qna-accordion', question: questionAnswerBlock.settings.question_3, answer: questionAnswerBlock.settings.answer_3, html: questionAnswerBlock.settings.html_3 %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script src="{{ 'jquery.beefup.min.js' | asset_url }}" defer="defer"></script>

<script type="module">
  $('.accordion-wrapper').beefup({
    trigger: ".accordion",
    content: ".accordion__content",
    openSpeed: 100,
    closeSpeed: 100
  });
</script>

{% schema %}
{
  "name": "Question & Answer",
  "class": "faq-qa-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "topic_title",
      "label": "Topic title"
    },
    {
      "id": "slug",
      "type": "text",
      "label": "Section slug",
      "info": "Question & Answer section slug should be unique and follow slug format. Slug format example: top-questions"
    }
  ],
  "blocks": [
    {
      "type": "subtopic",
      "name": "Subtopic",
      "settings": [
        {
          "type": "text",
          "id": "id",
          "label": "Subtopic ID"
        }
      ]
    },
    {
      "type": "question_and_answer",
      "name": "Question & Answer",
      "settings": [
        {
          "type": "text",
          "id": "subtopic_id",
          "label": "Child of subtopic ID"
        },
        {
          "type": "text",
          "id": "question_1",
          "label": "Question 1"
        },
        {
          "type": "richtext",
          "id": "answer_1",
          "label": "Answer 1"
        },
        {
          "type": "text",
          "id": "html_1",
          "label": "Custom HTML 1"
        },
        {
          "type": "text",
          "id": "question_2",
          "label": "Question 2"
        },
        {
          "type": "richtext",
          "id": "answer_2",
          "label": "Answer 2"
        },
        {
          "type": "text",
          "id": "html_2",
          "label": "Custom HTML 2"
        },
        {
          "type": "text",
          "id": "question_3",
          "label": "Question 3"
        },
        {
          "type": "richtext",
          "id": "answer_3",
          "label": "Answer 3"
        },
        {
          "type": "text",
          "id": "html_3",
          "label": "Custom HTML 3"
        }
      ]
    }
  ]
}
{% endschema %}