<style>
  #financing-options-section tr:first-child td:after,
  #financing-options-section tr:first-child th:after {
    border-bottom: 0;
  }
</style>

<section id="financing-options-section">
  <div class="mx-auto max-w-7xl px-4 py-10 sm:px-6 md:px-8">
    <h5 class="mb-8 text-center text-[28px] lg:text-[33px]">{{ section.settings.title }}</h5>
    <div class="overflow-auto px-4">
      <table class="mx-auto table-auto border-collapse">
        <thead>
        <tr class="border-b border-b-black">
          <th class="p-2 text-left text-[13px] font-bold md:p-4"></th>
          <th class="p-2 text-left text-[13px] font-bold md:p-4"></th>
          <th class="p-2 text-left text-[13px] font-bold md:p-4">Twin</th>
          <th class="p-2 text-left text-[13px] font-bold md:p-4">Twin XL</th>
          <th class="p-2 text-left text-[13px] font-bold md:p-4">Full</th>
          <th class="p-2 text-left text-[13px] font-bold md:p-4">Queen</th>
          <th class="p-2 text-left text-[13px] font-bold md:p-4">King</th>
          <th class="p-2 text-left text-[13px] font-bold md:p-4">Cal King</th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-b">
          <td class="p-2 text-left text-[14px] md:p-4">Emma Original Lite</td>
          <td class="p-2 text-left text-[14px] md:p-4">Affirm Monthly Price (12 months)</td>
          <td class="p-2 text-left text-[14px] md:p-4">$41.58</td>
          <td class="p-2 text-left text-[14px] md:p-4">$89.83</td>
          <td class="p-2 text-left text-[14px] md:p-4">$96.50</td>
          <td class="p-2 text-left text-[14px] md:p-4">$108.17</td>
          <td class="p-2 text-left text-[14px] md:p-4">$133.17</td>
          <td class="p-2 text-left text-[14px] md:p-4">$133.17</td>
        </tr>
        <tr>
          <td class="p-2 text-left text-[14px] md:p-4">Upholstered Bed Frame + Mattress</td>
          <td class="p-2 text-left text-[14px] md:p-4">Affirm Monthly Price (12 months)</td>
          <td class="p-2 text-left text-[14px] md:p-4"></td>
          <td class="p-2 text-left text-[14px] md:p-4"></td>
          <td class="p-2 text-left text-[14px] md:p-4">$105.83</td>
          <td class="p-2 text-left text-[14px] md:p-4">$115.83</td>
          <td class="p-2 text-left text-[14px] md:p-4">$132.50</td>
          <td class="p-2 text-left text-[14px] md:p-4">$132.50</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Financing Options",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ]
}
{% endschema %}
