{% assign mediaBlock = section.blocks | first %}

<section class="media-content section-container">
  <div class="page-boundary">
    {% render 'media-with-text', settings: section.settings, mediaType: mediaBlock.type, mediaSource: mediaBlock.settings.source %}
  </div>
</section>

{% schema %}
{
  "name": "Media Content",
  "max_blocks": 1,
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "id": "source",
          "type": "image_picker",
          "label": "Image or GIF"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "id": "source",
          "type": "video",
          "label": "A Shopify-hosted video"
        }
      ]
    },
    {
      "type": "source",
      "name": "Youtube URL",
      "settings": [
        {
          "id": "video_url",
          "type": "video_url",
          "label": "Video URL",
          "accept": [
            "youtube"
          ]
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    },
    {
      "id": "content",
      "type": "textarea",
      "label": "Content"
    },
    {
      "id": "cta_url",
      "type": "url",
      "label": "Button Url"
    },
    {
      "id": "cta_text",
      "type": "text",
      "label": "Button Text"
    },
    {
      "id": "inverted",
      "type": "checkbox",
      "label": "Inverted?"
    }
  ]
}
{% endschema %}
