{% assign yotpo_star_rating = section.blocks | where: 'type', 'yotpo_star_rating' | first %}

<h2 id="product-title" class="paragraph-24 font-inter font-semibold">
    {{ section.settings.title | default: product.title }}
    {% if section.settings.badge != blank %}
        <div
                class="inline-flex bg-scarlet text-white py-[5px] px-[8px] uppercase rounded text-[13px] ml-[10px] leading-normal"
        >
            {{ section.settings.badge }}
        </div>
    {% endif %}
</h2>

{% if yotpo_star_rating %}
    {% render 'yotpo_star_rating', settings: yotpo_star_rating.settings %}
{% endif %}

<div class="product-description">
    {{ section.settings.desc | default: product.description }}
</div>

{% content_for "block", type: "text", id: "disclaimer" %}

{% schema %}
{
  "name": "Product Summary",
  "class": "hide-until-initialized",
  "blocks": [
    {
      "type": "text"
    }
  ],
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "desc",
      "type": "richtext",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "Product Summary",
      "blocks": [
        {
          "type": "text",
          "static": true,
          "id": "disclaimer",
          "settings": {
            "content": "",
            "color": "#2e2f3c",
            "size": "base",
            "text_alignment": "left"
          },
          "blocks": {}
        }
      ]
    }
  ]
}
{% endschema %}
