<style>
    #promotional-banner-section {
        min-height: 68px
    }

    @media screen and (min-width: 769px) {
        #promotional-banner-section {
            min-height: 48px
        }
    }

    #promotional-banner-section .section-content {
        display: none
    }
</style>

<link rel="quickscript" loading="delayed" href="{{ 'promotional-banner.css' | asset_url }}">

{% assign items = section.blocks | where: "type", "item" %}

<section id="promotional-banner-section" class="section-container">
    <div class="section-chassis page-boundary">

        {% render 'section-header' %}

        <div class="section-content">
            <img class="lazyload" data-src="{{ section.settings.lead_icon | image_url: width: 20 }}" width="20"
                 height="20"/>

            <p>{{ section.settings.content | remove: "<p>" | remove: "</p>" }}</p>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Promotional Banner",
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Item Icon"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    },
    {
      "id": "content",
      "type": "richtext",
      "label": "Contet"
    },
    {
      "id": "lead_icon",
      "type": "image_picker",
      "label": "Lead Icon"
    }
  ]
}
{% endschema %}
