<style>
    #promotional-banner-section .promotional-banner {
        min-height: 68px
    }

    @media screen and (min-width: 769px) {
        #promotional-banner-section .promotional-banner {
            min-height: 48px
        }
    }

    #promotional-banner-section .section-content, #promotional-banner-section .top-brands {
        display: none
    }
</style>

<link rel="quickscript" loading="delayed" href="{{ 'promotional-banner.css' | asset_url }}">

{% assign items = section.blocks | where: "type", "item" %}

<section id="promotional-banner-section">
	<div class="promotional-banner page-boundary">
		<div class="section-content">
			<img class="lazyload" data-src="{{ section.settings.lead_icon | image_url: width: 20 }}" width="20"
			     height="20"/>

			<p class="text-white text-left">{{ section.settings.heading | remove: "<p>" | remove: "</p>" }}</p>
		</div>

		<div class="top-brands">
			{%- for block in items -%}
				<div class="banner-item">
					<img class="lazyload" data-src="{{ block.settings.icon | image_url: height: 23 }}" width="auto"
					     height="23"/>
				</div>
			{%- endfor -%}
		</div>
	</div>
</section>

{% schema %}
{
  "name": "Promotional Banner",
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Item Icon"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "lead_icon",
      "type": "image_picker",
      "label": "Lead Icon"
    },
    {
      "id": "heading",
      "type": "richtext",
      "label": "Heading"
    }
  ]
}
{% endschema %}
