<style>
    #splash-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.98);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999999;
    }
</style>
<div id="splash-screen">
    {{ section.settings.animated_media  | image_url: width: 1920 | image_tag: width: 200 }}

    <script>
        window.addEventListener('load', () => {
            setTimeout(() => {
                document.querySelector("#splash-screen").style.display = "none";
            }, 0)
        })
    </script>
</div>


{% schema %}
{
  "name": "Splash Screen",
  "settings": [
    {
      "id": "animated_media",
      "type": "image_picker",
      "label": "Animated Media"
    }
  ]
}
{% endschema %}
