<style>
  #trial-faq .accordion-wrapper button svg {
    transform: rotate(-90deg);
  }
  #trial-faq .accordion-wrapper.is-open button svg {
    transform: rotate(0deg);
  }
</style>

<section id="trial-faq">
  <div class="mx-auto max-w-7xl px-4 py-10 sm:px-6 md:px-8">
    <h5 class="mb-8 text-center text-[28px] lg:text-[33px]">{{ section.settings.title }}</h5>
    {% for block in section.blocks %}
      <div class="accordion-wrapper">
        <button class="accordion block text-[#3c4196] bg-[#e1e1f0] p-3 text-left w-full font-bold border-b-4 border-b-[#fff6ec] border-solid border-t-0 border-r-0 border-l-0 flex items-center justify-between">
          <span>{{ block.settings.question }}</span>
          <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.00957 9.36976C7.60357 9.37026 7.21707 9.19576 6.94907 8.89126L0.931565 2.05126C0.536065 1.57976 0.589065 0.878757 1.05106 0.472257C1.51306 0.0657566 2.21506 0.102757 2.63206 0.555257L7.89407 6.53626C7.92307 6.56926 7.96507 6.58876 8.00957 6.58876C8.05407 6.58876 8.09557 6.56976 8.12507 6.53626L13.3871 0.555257C13.6511 0.240257 14.0651 0.0932565 14.4691 0.170756C14.8731 0.248256 15.2026 0.538757 15.3311 0.928757C15.4596 1.31926 15.3666 1.74876 15.0881 2.05076L9.07257 8.88826C8.80407 9.19376 8.41707 9.36876 8.01007 9.36926L8.00957 9.36976Z" fill="#55576F"/>
          </svg>
        </button>
        <div class="accordion__content">
          <p class="p-4">{{ block.settings.answer | remove: "<p>" | remove: "</p>" }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<script type="module" defer>
  $('.accordion-wrapper').beefup({ trigger: ".accordion", content: ".accordion__content", openSingle: true, openSpeed: 100, closeSpeed: 100 });
</script>

{% schema %}
{
  "name": "Trial FAQ",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "question-answer",
      "name": "Question and Answer",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ]
}
{% endschema %}