<modal-engine></modal-engine>

<template id="modal-outlet-tpl">
  <style>
      slot[name='trigger'] {
          cursor: pointer;
      }
  </style>
  <slot name="trigger"></slot>
</template>
<template id="modal-engine-tpl">
  <style>
      aside#Modal {
          visibility: hidden;
      }

      #Modal-DismissButton {
          cursor: pointer;
      }
  </style>
  <link rel="stylesheet" href="{{ 'slide-drawer.css' | asset_url }}">

  <aside id="Modal">
    <div id="Modal-Backdrop"></div>

    <div id="Modal-Frame">
      <div class="modal-wrapper">
        <div id="" class="modal-header">
          <slot id="Modal-Title" name="title"></slot>
          <button id="Modal-CloseIcon">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                 class="icon__xs--size_l icon__sm--size_l icon__md--size_l icon__lg--size_l icon__xl--size_l themed themed--neutral icon icon--monochrome themed themed--neutral">
              <defs></defs>
              <path
                d="M13.06 12l6.47-6.47a.75.75 0 10-1.06-1.06L12 10.94 5.53 4.47a.75.75 0 10-1.06 1.06L10.94 12l-6.47 6.47a.75.75 0 101.06 1.06L12 13.06l6.47 6.47a.747.747 0 001.06 0 .75.75 0 000-1.06L13.06 12z"></path>
            </svg>
          </button>
        </div>

        <div id="Modal-Body" class="modal-body">
          <slot name="body"></slot>
        </div>


        <div class="modal-footer">
          <slot name="footer">
            <button id="Modal-DismissButton">Dismiss</button>
          </slot>
        </div>
      </div>
    </div>
  </aside>
</template>

<script type="quickscript" loading="delayed" src="{{ 'modal-engine.js' | asset_url }}"></script>
