<template id="affirm-promotion-badge-tpl">

	<span>Starting at </span>

	<strong>
		<span slot="installment-amount"></span>/mo
	</strong>

	<span>with </span>

	<span style="display: inline-flex">
		<img class="lazyload"
		     data-src="https://cdn.shopify.com/s/files/1/0562/9873/3706/files/Logo_affirm.png?v=1659502934"
		     width="50"
		/>

	</span>

	<span style="display: inline-flex">
		<overlay-outlet>
			<overlay-trigger abtasty-tracker="Affirm-Messaging_CTR">
				<button type="button">
					<svg width="15" viewBox="0 0 29.536 29.536">
						<path
								d="M14.768,0C6.611,0,0,6.609,0,14.768c0,8.155,6.611,14.767,14.768,14.767s14.768-6.612,14.768-14.767   C29.535,6.609,22.924,0,14.768,0z M14.768,27.126c-6.828,0-12.361-5.532-12.361-12.359c0-6.828,5.533-12.362,12.361-12.362   c6.826,0,12.359,5.535,12.359,12.362C27.127,21.594,21.594,27.126,14.768,27.126z"/>
						<path
								d="M14.385,19.337c-1.338,0-2.289,0.951-2.289,2.34c0,1.336,0.926,2.339,2.289,2.339c1.414,0,2.314-1.003,2.314-2.339   C16.672,20.288,15.771,19.337,14.385,19.337z"/>
						<path
								d="M14.742,6.092c-1.824,0-3.34,0.513-4.293,1.053l0.875,2.804c0.668-0.462,1.697-0.772,2.545-0.772   c1.285,0.027,1.879,0.644,1.879,1.543c0,0.85-0.67,1.697-1.494,2.701c-1.156,1.364-1.594,2.701-1.516,4.012l0.025,0.669h3.42   v-0.463c-0.025-1.158,0.387-2.162,1.311-3.215c0.979-1.08,2.211-2.366,2.211-4.321C19.705,7.968,18.139,6.092,14.742,6.092z"/>
					</svg>
				  </button>
			</overlay-trigger>

		    <div slot="body" class="affirm-modal">
				<div class="product_step_inner">
					<div class="step_head">
						<h3 class="">Hit the snooze button on payments. </h3>
						<p class="sub_head"><strong>with</strong> <img loading="lazy" class="model_img"
						                                               src="https://cdn.shopify.com/s/files/1/0562/9873/3706/files/Logo_affirm.png?v=1659502934">
						</p>
					</div>

					<div class="pay_steps">

						<div class="step_item">
							<div class="step_icon">
								<div class="step_icon_inner">
									<div class="backimg"
									     style="background-image:url(https://cdn.shopify.com/s/files/1/0562/9873/3706/files/newcheckbox-svg.svg?v=1651902508);">
										<svg class="transparent_svg" data-name="Layer 1"
										     xmlns="http://www.w3.org/2000/svg"
										     viewBox="0 0 378 378">
											<rect class="cls-1" x="0.5" y="0.5" width="377" height="377"></rect>
										</svg>
									</div>
								</div>

							</div>
							<div class="step_data">
								<div class="step_item_head">Instant Approval</div>
								<div class="step_info">Get quick real-time decision with Affirm.</div>
							</div>
						</div>

						<div class="step_item">
							<div class="step_icon">
								<div class="step_icon_inner">
									<div class="backimg"
									     style="background-image:url(https://cdn.shopify.com/s/files/1/0562/9873/3706/files/new-percentage.svg?v=1652071855);">
										<svg class="transparent_svg" data-name="Layer 1"
										     xmlns="http://www.w3.org/2000/svg"
										     viewBox="0 0 378 378">
											<rect class="cls-1" x="0.5" y="0.5" width="377" height="377"></rect>
										</svg>
									</div>
								</div>
							</div>
							<div class="step_data">
								<div class="step_item_head">0% APR (over 12 months)</div>
								<div class="step_info">If eligible</div>
							</div>
						</div>

						<div class="step_item">
							<div class="step_icon">
								<div class="step_icon_inner">
									<div class="backimg"
									     style="background-image:url(https://cdn.shopify.com/s/files/1/0562/9873/3706/files/new-calender-svg.svg?v=1651902705);">
										<svg class="transparent_svg" data-name="Layer 1"
										     xmlns="http://www.w3.org/2000/svg"
										     viewBox="0 0 378 378">
											<rect class="cls-1" x="0.5" y="0.5" width="377" height="377"></rect>
										</svg>
									</div>
								</div>
							</div>
							<div class="step_data">
								<div class="step_item_head">Easy Monthly Payments</div>
								<div class="step_info">Sleep in, stress-free.</div>
							</div>
						</div>

						<div class="step_item">
							<p class="para_txt">Just select "Affirm" at checkout.</p>
						</div>
					</div>

				</div>

				<div class="pro_note">
					<div class="pro_note_inner">
						<p>*Not available for purchase under $300 CAD</p>
						<p>*Affirm cannot be used in conjunction with other discounts and promotions.</p>
					</div>
				</div>
		  </div>

			<button slot="footer" class="Modal-DismissButton btn btn--secondary">
				<span class="text-white">Continue Shopping</span>
			</button>
		</overlay-outlet>
	</span>
</template>
<template id="affirm-promotion-line-tpl">
	<span>Or</span>
	<span slot="installment-amount"></span>
	<span>monthly with Affirm</span>
</template>

<link rel="quickscript" loading="delayed" href="{{ 'affirm-widget-legacy.css' | asset_url }}"/>
<link rel="quickscript" loading="delayed" href="{{ 'affirm-widget.css' | asset_url }}"/>

<script type="quickscript" loading="delayed" src="{{ 'affirm-widget.js' | asset_url }}"></script>
