<overlay-container>
	<overlay-backdrop></overlay-backdrop>
	<overlay-frame>
		<overlay-component></overlay-component>
	</overlay-frame>
</overlay-container>

<style>
    overlay-outlet > *:not(overlay-trigger) {
        display: none;
    }

    aside#Modal {
        visibility: hidden;
    }

    #Modal-DismissButton {
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="{{ 'slide-drawer.css' | asset_url }}">

<template id="overlay-component-tpl">
	<div class="modal-header">
		<div id="Modal-Title">
			<slot name="title"></slot>
		</div>
		<button id="Modal-CloseIcon">
			<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
			     class="icon__xs--size_l icon__sm--size_l icon__md--size_l icon__lg--size_l icon__xl--size_l themed themed--neutral icon icon--monochrome themed themed--neutral">
				<defs></defs>
				<path
						d="M13.06 12l6.47-6.47a.75.75 0 10-1.06-1.06L12 10.94 5.53 4.47a.75.75 0 10-1.06 1.06L10.94 12l-6.47 6.47a.75.75 0 101.06 1.06L12 13.06l6.47 6.47a.747.747 0 001.06 0 .75.75 0 000-1.06L13.06 12z"></path>
			</svg>
		</button>
	</div>

	<div id="Modal-Body" class="modal-body">
		<slot name="body"></slot>
	</div>


	<div class="modal-footer">
		<slot name="footer">
			<button id="Modal-DismissButton">Dismiss</button>
		</slot>
	</div>
</template>

<link rel="quickscript" loading="delayed" href="{{ 'overlay-module.css' | asset_url }}">

<script type="quickscript" loading="delayed" src="{{ 'overlay-module.js' | asset_url }}"></script>
