<div class="product-form__controls-group product-form__controls-group--submit">
  <div
      class="product-form__item product-form__item--submit
                      {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                      {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}
                "
  >
    {% render 'add-to-cart-btn' %}

    {% if section.settings.enable_payment_button %}
      {{ form | payment_button }}
    {% endif %}
  </div>
</div>
