<div class="section-header justify-{{ section.settings.heading_alignment }}">
  <h2 class="heading-2 font-{{ section.settings.header_font }}">{{ section.settings.heading | default: section.settings.title }}</h2>

  {% if section.settings.subtitle %}
    <h4 class="heading-4">{{ section.settings.subtitle }}</h4>
  {% endif %}
</div>
