{% assign content = section.settings.heading | default: section.settings.title %}
{% assign subcontent = section.settings.subheading | default: section.settings.subtitle %}

<div class="section-header justify-{{ section.settings.heading_alignment }}">
  <h2 class="heading-2 font-{{ section.settings.header_font }}">
    {% render 'rtf-viewer', content: content %}
  </h2>

  {% if subcontent %}
    <h4 class="heading-4 text-{{ section.settings.heading_alignment }}">{{ subcontent }}</h4>
  {% endif %}
</div>
