.__pf .pf-35_.sc-igXgud {
  margin-top: 0 !important;
}

.sc-ckTSus.kVjkXt.pf-36_, .sc-ckTSus.kVjkXt.pf-389_ {
  display: none;
}

@media (max-width: 600px) {
  .sc-ckTSus.kVjkXt.pf-36_, .sc-ckTSus.kVjkXt.pf-389_ {
    display: none;
  }
}
.delivery-icons {
  align-items: center;
  justify-content: space-between;
  line-height: 1.3em;
}

.delivery-icons > div {
  align-items: center;
  color: #3e51a3;
  display: inline-flex;
  font-family: body-text;
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .delivery-icons div {
    margin-bottom: 10px;
    width: 100%;
  }
  .delivery-icons {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .delivery-icons {
    flex-wrap: wrap;
  }
}
/* Color custom properties */
:root,
.color-background-1 {
  --color-foreground: var(--color-base-text);
  --color-background: var(--color-base-background-1);
  --gradient-background: var(--gradient-base-background-1);
}

.color-background-2 {
  --color-background: var(--color-base-background-2);
  --gradient-background: var(--gradient-base-background-2);
}

.color-inverse {
  --color-foreground: var(--color-base-background-1);
  --color-background: var(--color-base-text);
  --gradient-background: rgb(var(--color-base-text));
}

.color-accent-1 {
  --color-foreground: var(--color-base-solid-button-labels);
  --color-background: var(--color-base-accent-1);
  --gradient-background: var(--gradient-base-accent-1);
}

.color-accent-2 {
  --color-foreground: var(--color-base-solid-button-labels);
  --color-background: var(--color-base-accent-2);
  --gradient-background: var(--gradient-base-accent-2);
}

.color-foreground-outline-button {
  --color-foreground: var(--color-base-outline-button-labels);
}

.color-foreground-accent-1 {
  --color-foreground: var(--color-base-accent-1);
}

.color-foreground-accent-2 {
  --color-foreground: var(--color-base-accent-2);
}

:root,
.color-background-1 {
  --color-link: var(--color-base-outline-button-labels);
  --alpha-link: 0.85;
}

.color-background-2,
.color-inverse,
.color-accent-1,
.color-accent-2 {
  --color-link: var(--color-foreground);
  --alpha-link: 0.7;
}

:root,
.color-background-1 {
  --color-button: var(--color-base-accent-1);
  --color-button-text: var(--color-base-solid-button-labels);
  --alpha-button-background: 1;
  --alpha-button-border: 1;
}

.color-background-2,
.color-inverse,
.color-accent-1,
.color-accent-2 {
  --color-button: var(--color-foreground);
  --color-button-text: var(--color-background);
}

.button--secondary {
  --color-button: var(--color-base-outline-button-labels);
  --color-button-text: var(--color-base-outline-button-labels);
  --alpha-button-background: 0;
}

.color-background-2 .button--secondary,
.color-inverse .button--secondary,
.color-accent-1 .button--secondary,
.color-accent-2 .button--secondary {
  --color-button: var(--color-foreground);
  --color-button-text: var(--color-foreground);
}

.button--tertiary {
  --color-button: var(--color-base-outline-button-labels);
  --color-button-text: var(--color-base-outline-button-labels);
  --alpha-button-background: 0;
  --alpha-button-border: 0.2;
}

.color-background-2 .button--tertiary,
.color-inverse .button--tertiary,
.color-accent-1 .button--tertiary,
.color-accent-2 .button--tertiary {
  --color-button: var(--color-foreground);
  --color-button-text: var(--color-foreground);
}

:root,
.color-background-1 {
  --color-badge-background: var(--color-background);
  --color-badge-border: var(--color-foreground);
  --alpha-badge-border: 0.1;
}

.color-background-2,
.color-inverse,
.color-accent-1,
.color-accent-2 {
  --color-badge-background: var(--color-background);
  --color-badge-border: var(--color-background);
  --alpha-badge-border: 1;
}

:root,
.color-background-1,
.color-background-2 {
  --color-card-hover: var(--color-base-text);
}

.color-inverse {
  --color-card-hover: var(--color-base-background-1);
}

.color-accent-1,
.color-accent-2 {
  --color-card-hover: var(--color-base-solid-button-labels);
}

:root,
.color-icon-text {
  --color-icon: rgb(var(--color-base-text));
}

.color-icon-accent-1 {
  --color-icon: rgb(var(--color-base-accent-1));
}

.color-icon-accent-2 {
  --color-icon: rgb(var(--color-base-accent-2));
}

.color-icon-outline-button {
  --color-icon: rgb(var(--color-base-outline-button-labels));
}

a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  display: none;
}

:root {
  --duration-short: 100ms;
  --duration-default: 200ms;
  --duration-long: 500ms;
}

:root {
  --color-primary: #FFA235;
  --color-secondary: #3C4196;
  --color-charade: #2E2F3C;
  --color-comet: #55576F;
  --color-chambray: #3C4196;
  --color-pizazz: #FF8900;
  --color-jade: #00B67A ;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 10px 28px;
  background-color: #FFA235;
  border-radius: 60px;
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 200ms ease-in;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn {
    min-height: 50px;
    padding: 13px 36px;
  }
}
.btn[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}
.btn:hover {
  background-color: #3C4196;
}
.btn--secondary {
  background-color: #3C4196;
}
.btn--secondary:hover {
  background-color: #FFA235;
}
.btn--compact {
  min-height: auto;
  width: max-content;
  padding: 10px 1rem;
  text-transform: none;
}
.btn--outlined {
  background-color: transparent;
  border: 1px solid #3C4196;
  color: #3C4196;
}
.btn--outlined:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.btn--sm {
  padding: 5px 1rem;
  min-height: auto;
  width: max-content;
  border-radius: 6px;
}
.btn--full {
  width: 100%;
}

button.btn, button[type=submit].btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 10px 28px;
  background-color: #FFA235;
  border-radius: 60px;
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 200ms ease-in;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  button.btn, button[type=submit].btn {
    min-height: 50px;
    padding: 13px 36px;
  }
}
button.btn[disabled], button[type=submit].btn[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}
button.btn:hover, button[type=submit].btn:hover {
  background-color: #3C4196;
}
button.btn--secondary, button[type=submit].btn--secondary {
  background-color: #3C4196;
}
button.btn--secondary:hover, button[type=submit].btn--secondary:hover {
  background-color: #FFA235;
}
button.btn--compact, button[type=submit].btn--compact {
  min-height: auto;
  width: max-content;
  padding: 10px 1rem;
  text-transform: none;
}
button.btn--outlined, button[type=submit].btn--outlined {
  background-color: transparent;
  border: 1px solid #3C4196;
  color: #3C4196;
}
button.btn--outlined:hover, button[type=submit].btn--outlined:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
button.btn--sm, button[type=submit].btn--sm {
  padding: 5px 1rem;
  min-height: auto;
  width: max-content;
  border-radius: 6px;
}
button.btn--full, button[type=submit].btn--full {
  width: 100%;
}

#user h1, #user .h1, #user h2, #user .h2, #user h3, #user .h3, #user h4, #user .h4, #user h5, #user .h5, #user h6, #user .h6 {
  display: block;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 0.5em;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}
#user h1, #user .h1 {
  font-size: 60px;
  line-height: 1.2em;
  font-family: "header-text" !important;
}
#user h2, #user .h2 {
  font-size: 50px;
  line-height: 1.2em;
}
#user p {
  margin: 0 0 15px;
  text-rendering: optimizeLegibility;
}
#user .form-vertical input, #user .form-vertical select, #user .form-vertical textarea {
  display: block;
  margin-bottom: 10px;
}
#user input, #user select, #user textarea {
  border: 1px solid #212b57;
  border-radius: 0;
  max-width: 100%;
  padding: 8px 10px;
}
#user input, #user select, #user textarea {
  background-color: #f7f7f7;
  border-color: transparent;
  color: #1c1d1d;
  font-size: 1.28571em;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
#user input[type=submit].btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 10px 28px;
  background-color: #FFA235;
  border-radius: 60px;
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 200ms ease-in;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  #user input[type=submit].btn {
    min-height: 50px;
    padding: 13px 36px;
  }
}
#user input[type=submit].btn[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}
#user input[type=submit].btn:hover {
  background-color: #3C4196;
}
#user input[type=submit].btn--secondary {
  background-color: #3C4196;
}
#user input[type=submit].btn--secondary:hover {
  background-color: #FFA235;
}
#user input[type=submit].btn--compact {
  min-height: auto;
  width: max-content;
  padding: 10px 1rem;
  text-transform: none;
}
#user input[type=submit].btn--outlined {
  background-color: transparent;
  border: 1px solid #3C4196;
  color: #3C4196;
}
#user input[type=submit].btn--outlined:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
#user input[type=submit].btn--sm {
  padding: 5px 1rem;
  min-height: auto;
  width: max-content;
  border-radius: 6px;
}
#user input[type=submit].btn--full {
  width: 100%;
}

/*! Generated by Fontspring (https://www.fontspring.com) on August 3, 2021
*
* Fully installable fonts can be purchased at http://www.fontspring.com
*
* The fonts included in this stylesheet are subject to the End User License you purchased
* from Fontspring. The fonts are protected under domestic and international trademark and
* copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
* distributing this font software.
*
* (c) 2010-2021 Fontspring
*
*
*/
@font-face {
  font-family: "Acumin Pro";
  src: url("acuminpro-regular-webfont.woff2") format("woff2"), url("acuminpro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}
@font-face {
  font-family: "Acumin Pro";
  src: url("acuminpro-italic-webfont.woff2") format("woff2"), url("acuminpro-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  ascent-override: 100%;
}
@font-face {
  font-family: "Acumin Pro";
  src: url("acuminpro-medium-webfont.woff2") format("woff2"), url("acuminpro-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}
@font-face {
  font-family: "Acumin Pro";
  src: url("acuminpro-mediumitalic-webfont.woff2") format("woff2"), url("acuminpro-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  ascent-override: 100%;
}
@font-face {
  font-family: "Acumin Pro";
  src: url("acuminpro-semibold-webfont.woff2") format("woff2"), url("acuminpro-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}
@font-face {
  font-family: "Acumin Pro";
  src: url("acuminpro-semibolditalic-webfont.woff2") format("woff2"), url("acuminpro-semibolditalic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  ascent-override: 100%;
}
@font-face {
  font-family: "Utopia Std";
  src: url("utopiastd-disp-webfont.woff2") format("woff2"), url("utopiastd-disp-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("TestTiemposHeadline-Light.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("TestTiemposHeadline-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("TestTiemposHeadline-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("TestTiemposHeadline-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("TestTiemposHeadline-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("TestTiemposHeadline-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("TestTiemposHeadline-Semibold.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("TestTiemposHeadline-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("TestTiemposHeadline-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("TestTiemposHeadline-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("TestTiemposHeadline-Black.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("TestTiemposHeadline-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 0;
}

h1,
h2,
h3 {
  font-family: "Tiempos";
}

.heading-1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
@media screen and (min-width: 768px) {
  .heading-1 {
    font-size: 39px;
    line-height: 47px;
  }
}

.heading-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 125%;
}
@media screen and (min-width: 768px) {
  .heading-2 {
    font-size: 36px;
    line-height: 115%;
  }
}

.heading-2-sm {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 125%;
}
@media screen and (min-width: 768px) {
  .heading-2-sm {
    font-size: 31px;
  }
}

.heading-3 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  white-space: pre-wrap;
}
@media screen and (min-width: 768px) {
  .heading-3 {
    font-size: 25px;
    line-height: 35px;
  }
}

.heading-4 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .heading-4 {
    font-size: 20px;
    line-height: 30px;
  }
}

.subheading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
}
@media screen and (min-width: 768px) {
  .subheading {
    font-size: 20px;
    line-height: 30px;
  }
}

.minion {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

a,
p, button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.paragraph-10 {
  font-style: normal;
  line-height: 125%;
  font-size: 0.625rem;
}

.paragraph-12 {
  font-style: normal;
  line-height: 125%;
  font-size: 0.75rem;
}

.paragraph-14 {
  font-style: normal;
  line-height: 125%;
  font-size: 0.875rem;
}

.paragraph-18 {
  font-style: normal;
  line-height: 125%;
  font-size: 1rem;
}

.paragraph-20 {
  font-style: normal;
  line-height: 125%;
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  .paragraph-18 {
    font-size: 1.125rem;
  }
  .paragraph-20 {
    font-size: 1.5rem;
  }
}
:root {
  --color-primary: #FFA235;
  --color-secondary: #3C4196;
  --color-charade: #2E2F3C;
  --color-comet: #55576F;
  --color-chambray: #3C4196;
  --color-pizazz: #FF8900;
  --color-jade: #00B67A ;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 10px 28px;
  background-color: #FFA235;
  border-radius: 60px;
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 200ms ease-in;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn {
    min-height: 50px;
    padding: 13px 36px;
  }
}
.btn[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}
.btn:hover {
  background-color: #3C4196;
}
.btn--secondary {
  background-color: #3C4196;
}
.btn--secondary:hover {
  background-color: #FFA235;
}
.btn--compact {
  min-height: auto;
  width: max-content;
  padding: 10px 1rem;
  text-transform: none;
}
.btn--outlined {
  background-color: transparent;
  border: 1px solid #3C4196;
  color: #3C4196;
}
.btn--outlined:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.btn--sm {
  padding: 5px 1rem;
  min-height: auto;
  width: max-content;
  border-radius: 6px;
}
.btn--full {
  width: 100%;
}

button.btn, button[type=submit].btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 10px 28px;
  background-color: #FFA235;
  border-radius: 60px;
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 200ms ease-in;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  button.btn, button[type=submit].btn {
    min-height: 50px;
    padding: 13px 36px;
  }
}
button.btn[disabled], button[type=submit].btn[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}
button.btn:hover, button[type=submit].btn:hover {
  background-color: #3C4196;
}
button.btn--secondary, button[type=submit].btn--secondary {
  background-color: #3C4196;
}
button.btn--secondary:hover, button[type=submit].btn--secondary:hover {
  background-color: #FFA235;
}
button.btn--compact, button[type=submit].btn--compact {
  min-height: auto;
  width: max-content;
  padding: 10px 1rem;
  text-transform: none;
}
button.btn--outlined, button[type=submit].btn--outlined {
  background-color: transparent;
  border: 1px solid #3C4196;
  color: #3C4196;
}
button.btn--outlined:hover, button[type=submit].btn--outlined:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
button.btn--sm, button[type=submit].btn--sm {
  padding: 5px 1rem;
  min-height: auto;
  width: max-content;
  border-radius: 6px;
}
button.btn--full, button[type=submit].btn--full {
  width: 100%;
}

.quantity-adjuster {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3, minmax(0, auto));
  align-items: center;
  justify-content: flex-start;
  justify-items: flex-start;
  padding: 3px 4px;
  background: #FFFFFF;
  border: 1px solid rgba(46, 47, 60, 0.0980392157);
  border-radius: 48px;
}
@media screen and (min-width: 591px) {
  .quantity-adjuster {
    padding: 0 4px;
  }
}
.quantity-adjuster[disabled] {
  pointer-events: none;
  opacity: 0.4;
}
.quantity-adjuster[readOnly] quantity-adjuster-button {
  opacity: 0.4;
  pointer-events: none;
}
.quantity-adjuster__value {
  min-width: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
}

quantity-adjuster-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
quantity-adjuster-button.is-disabled {
  cursor: not-allowed;
}
quantity-adjuster-button.is-disabled path {
  stroke: rgba(46, 47, 60, 0.4);
}
quantity-adjuster-button svg {
  width: 18px;
  height: 18px;
}
@media screen and (min-width: 591px) {
  quantity-adjuster-button svg {
    width: 12px;
    height: 12px;
  }
}
quantity-adjuster-button path {
  stroke: #2E2F3C;
}

.loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}
.loading-overlay--block {
  position: static !important;
  width: initial !important;
}
.loading-overlay--center {
  top: initial !important;
  left: initial !important;
  right: initial !important;
}
.loading-overlay:not(.hidden) {
  top: 0;
  right: 0;
  left: initial;
}
.loading-overlay:not(.hidden) .loading-overlay__spinner {
  display: inline-block;
}
.loading-overlay__spinner {
  width: 1.8rem;
}

loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: rgb(var(--color-foreground));
  animation: dash 1.4s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}
.variant-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 86px;
  padding: 6px 10px;
  background: #FFFFFF;
  border: 1px solid rgba(46, 47, 60, 0.0980392157);
  border-radius: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  overflow: hidden;
  max-width: 100%;
  color: #2E2F3C;
}
.variant-selector[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}

#dummy-chat-button-iframe {
  z-index: 100 !important;
}

.fc-widget-normal.fc-open {
  z-index: 1001 !important;
}

.swiper-scrollbar-drag {
  display: block !important;
}

.swiper {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.swiper-arrow {
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: rgba(85, 87, 111, 0.6);
  border-radius: 100%;
}
.swiper-arrow.swiper-button-disabled {
  background: rgba(85, 87, 111, 0.3);
  cursor: not-allowed;
}
.swiper-arrow:hover:not(.swiper-arrow.swiper-button-disabled) {
  background: #55576F;
}
.swiper-arrow--prev {
  left: 0;
  border-radius: 0 20px 20px 0;
}
@media screen and (min-width: 768px) {
  .swiper-arrow--prev {
    border-radius: 100%;
  }
}
.swiper-arrow--next {
  right: 0;
  border-radius: 20px 0 0 20px;
}
@media screen and (min-width: 768px) {
  .swiper-arrow--next {
    border-radius: 100%;
  }
}
.swiper-arrow svg {
  fill: white;
  width: auto;
  height: 40%;
  transform: none;
}
.swiper-arrow:after {
  display: none;
}
.swiper-scrollbar-horizontal {
  bottom: 0 !important;
}

.select2-container.select2-container--disabled .select2-selection--single {
  background-color: transparent;
  cursor: not-allowed;
}
.select2-container--default {
  width: 100% !important;
  display: flex;
  flex: 1;
}
.select2-container--default .selection {
  width: 100%;
}
.select2-container--default .select2-selection--single {
  display: flex;
  align-items: center;
  height: auto;
  border: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0 20px 0 0;
  line-height: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: initial;
  top: initial;
  right: -6px;
}

.splide {
  max-width: 100%;
  overflow: hidden;
}
.splide__track {
  z-index: 1;
  padding: 0 0 20px;
}
.splide__arrows {
  z-index: 2;
}
.splide__arrow {
  z-index: 3;
  width: 30px;
  height: 40px;
  background: #55576F;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .splide__arrow {
    width: 40px;
  }
}
.splide__arrow--prev {
  left: 0;
  border-radius: 0 20px 20px 0;
}
@media screen and (min-width: 768px) {
  .splide__arrow--prev {
    left: 2rem;
    border-radius: 100%;
  }
}
.splide__arrow--next {
  right: 0;
  border-radius: 20px 0 0 20px;
}
@media screen and (min-width: 768px) {
  .splide__arrow--next {
    right: 2rem;
    border-radius: 100%;
  }
}
.splide__arrow svg {
  fill: white;
  width: auto;
  height: 40%;
  transform: none;
}
.splide__pagination {
  bottom: 0;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(8px, auto));
  justify-content: center;
  padding: 0;
}
.splide__pagination__page {
  --opacity: 0.5;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: rgba(46, 47, 60, var(--opacity)) !important;
  opacity: 1;
  transition: all 0.2s linear;
}
.splide__pagination__page.is-active {
  --opacity: 0.75;
  transform: none;
}

#toast-container > div {
  opacity: 1;
}

.toast-chambray {
  background-color: #3C4196;
}

.bedsize-collapse .collapsible {
  background-image: url(collapse-arrow.svg);
  background-position: calc(100% - 15px) 50%;
  background-repeat: no-repeat;
  background-size: 20px;
  border-bottom: 1px solid;
  cursor: pointer;
  font-family: header-text;
  font-size: 1.5rem;
  font-weight: 700;
  outline: none;
  padding: 15px 30px 15px 0;
  text-align: left;
  width: 100%;
}

.bedsize-collapse .active, .bedsize-collapse .collapsible:hover {
  background-color: #fff;
}

.bedsize-collapse .content {
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.2s ease-out;
}

.bedsize-collapse .content > div {
  padding: 25px 15px;
}

.bedsize-collapse .content > div * {
  margin-bottom: 0;
}

.bedsize-collapse {
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .bedsize-collapse .content > div {
    padding: 23px 0;
  }
}
.collapsible.active {
  color: #6469AA;
}

.is-disabled {
  cursor: not-allowed;
}
.is-disabled[role=button], .is-disabledbutton {
  cursor: not-allowed;
}

* {
  font-variant-ligatures: none;
}

html {
  scroll-padding-top: 10rem;
  color: #2E2F3C;
}

body {
  color: #2E2F3C;
}

.dummy-chat-button-iframe {
  z-index: 200 !important;
}

#ShopifyChat:not([isopen=true]) {
  z-index: 200 !important;
}

.no-scroll {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
}
