#brand-vs-brand-section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 0;
}
@media screen and (min-width: 768px) {
  #brand-vs-brand-section {
    margin: 80px 0;
  }
}
#brand-vs-brand-section .wrapper {
  position: relative;
  display: grid;
  gap: 30px 20px;
  grid-template-columns: minmax(0, auto) minmax(0, 1fr);
  grid-template-rows: minmax(0, auto) minmax(0, 1fr);
  max-width: initial;
  min-width: initial !important;
  padding: 100px 0 0;
}
@media screen and (min-width: 768px) {
  #brand-vs-brand-section .wrapper {
    gap: 30px 40px;
    max-width: 85%;
  }
}
@media screen and (min-width: 768px) {
  #brand-vs-brand-section .wrapper {
    max-width: 75%;
  }
}
@media screen and (min-width: 1200px) {
  #brand-vs-brand-section .wrapper {
    max-width: 65%;
  }
}
@media screen and (min-width: 1440px) {
  #brand-vs-brand-section .wrapper {
    min-width: 800px;
    max-width: 50%;
  }
}
#brand-vs-brand-section .heading {
  grid-column: span 2;
  position: absolute;
  top: -100px;
  width: 194%;
}
#brand-vs-brand-section .emma-brand {
  align-self: flex-start;
  position: sticky;
  top: 100px;
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  #brand-vs-brand-section .emma-brand {
    gap: 40px;
  }
}
#brand-vs-brand-section .emma-brand__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  min-height: 140px;
  background-color: #3C4196;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  #brand-vs-brand-section .emma-brand__logo {
    min-width: 340px;
    min-height: 260px;
  }
}
#brand-vs-brand-section .emma-brand__versus-text {
  font-weight: 400;
  font-size: 31px;
  line-height: 47px;
}
#brand-vs-brand-section .competitor-brands {
  display: grid;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  #brand-vs-brand-section .competitor-brands {
    gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
#brand-vs-brand-section .competitor-brands__item {
  display: grid;
  gap: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-width: 160px;
  min-height: 120px;
  background: #FFFFFF;
  border: 1px solid #F0F0F5;
  border-radius: 5px;
  transition: all 200ms ease-in;
  cursor: pointer;
  text-align: center;
}
#brand-vs-brand-section .competitor-brands__item:hover {
  background: #FFF6EC;
}
#brand-vs-brand-section .competitor-brands__item:hover .competitor-brands__compare-btn {
  position: static;
  opacity: 1;
  transform: scale(1);
}
#brand-vs-brand-section .competitor-brands__compare-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 91px;
  height: 38px;
  background: #3C4196;
  border-radius: 24px;
  color: white;
  opacity: 0;
  transform: scale(0);
  transition: transform 100ms linear;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
}
