@font-face {
  font-family: 'Kepler Std Bold Semicondensed Display';
  font-style: normal;
  font-weight: normal;
  src: local('Kepler Std Bold Semicondensed Display'), url('KeplerStd-BoldScnDisp.woff') format('woff');
}

@font-face {
  font-family: 'Kepler Std Bold Semicondensed Display Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Kepler Std Bold Semicondensed Display Italic'), url('KeplerStd-BoldScnItDisp.woff') format('woff');
}

@media only screen and (max-width: 999px) {
  .sidebar__content .checkout_upsell {
    position: relative;
  }

  .prod_item:last-child {
    border-bottom: 0;
  }
}

@media only screen and (max-width: 591px) {
  .prod_item {
    justify-content: flex-start;
  }

  .prod_img {
    margin-left: 0;
  }

  .add_prod {
    right: 10px;
  }
}

/* upsell product show only information tab       */
.upselll_show_information .checkout_upsell {
  display: block;
}

.checkout_upsell {
  display: none;
}

.backimg {
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.transparent_svg {
  opacity: 0;
  fill: transparent;
  stroke: transparent;
  stroke-miterlimit: 0;
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

.subtt {
  background-color: #ff8900;
  padding: 10px 20px;
  /*    margin-bottom: 10px; */
}

.subtt h6 {
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0;
  font-size: 20px;
}

.prod_item {
  display: flex;
  padding-top: 21px;
  padding-bottom: 21px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.prod_tag {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(-0%, -50%);
  margin-left: -24px;
}

.prod_tag p {
  transform: rotate(270deg);
  text-transform: uppercase;
  background-color: #FC8800;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1;
  margin: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #fff;
}

.prod_img {
  width: 20%;
  position: relative;
  margin-left: 32px;
}

.prod_tt {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1rem;
}

.prod_price {
  font-weight: 600;
  font-size: 0.9rem;
  padding-top: 4px;
}

.prod_lists .prod_item .prod_info .compare_pro_price .prod_sale_price {
  text-decoration: line-through;
  font-size: .9rem;
  padding-top: 4px;
}

.prod_type {
  text-transform: capitalize;
  font-size: 14px;
  padding-top: 4px;
  color: #fff;
}

.add_btn .btn {
  padding: 7px 12px;
  line-height: 1;
  font-size: 14px;
  display: flex;
  border-radius: 8px;
  margin-top: 10px;
  color: #3c4196 !important;
  background-color: #fff !important;
  align-items: center;
}

.add_btn span {
  display: block;
  padding-right: 5px;
  font-size: 18px;
}

.prod_img_inner .backimg {
  background-size: contain;
  position: relative;
  z-index: 1;
}

.add_prod {
  position: absolute;
  right: 8px;
}

.add_btn .icon.icon-plus {
  font-size: 0.6rem;
  margin-right: 4px;
}

.prod_info {
  padding-left: 10px;
  padding-left: 10px;
  width: calc(80% - 32px);
}

.prod_lists .prod_item .prod_info .compare_pro_price {
  display: flex;
  align-items: center;
  gap: 8px;
  align-content: center;
  color: white;
}

#order-summary .order-summary__sections {
  height: unset;
}

.checkout_upsell {
  left: 0;
  position: absolute;
  width: 100%;
  margin-top: 5%;
}

.prod_tt a {
  color: #fff;
  font-weight: 700;
}

.add_btn .icon.icon-plus:before {
  display: inline;
  font-family: icons;
  text-decoration: none;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span.icon.icon-plus:before {
  content: "+";
  font-size: 18px;
  font-weight: 600 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ff8900 !important;
}

span.select2-search.select2-search--dropdown {
  display: none;
}

.add_prod {
  position: absolute;
  right: 8px;
  bottom: 21px;
}

.select2-container {
  width: auto !important;
  max-width: 147px;
}

[data-default]+.select2 {
  display: none;
}

/* dropdown css  */

.select2.select2-container {
  width: 100% !important
}

.select2.select2-container .select2-selection {
  border: 1px solid #ccc -webkit-border-radius: 3px -moz-border-radius: 3px border-radius: 3px height: 34px margin-bottom: 15px outline: none transition: all .15s ease-in-out
}

.select2.select2-container .select2-selection .select2-selection__rendered {
  color: #333 line-height: 32px padding-right: 33px
}

.select2.select2-container .select2-selection .select2-selection__arrow {
  background: #f8f8f8 border-left: 1px solid #ccc -webkit-border-radius: 0 3px 3px 0 -moz-border-radius: 0 3px 3px 0 border-radius: 0 3px 3px 0 height: 32px width: 33px
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
  background: #f8f8f8
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
  -webkit-border-radius: 0 3px 0 0 -moz-border-radius: 0 3px 0 0 border-radius: 0 3px 0 0
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {
  border: 1px solid #34495e
}

.select2.select2-container.select2-container--focus .select2-selection {
  border: 1px solid #34495e
}

.select2.select2-container .select2-selection--multiple {
  height: auto min-height: 34px
}

.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0 height: 32px
}

.select2.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: block padding: 0 4px line-height: 29px
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #f8f8f8 border: 1px solid #ccc -webkit-border-radius: 3px -moz-border-radius: 3px border-radius: 3px margin: 4px 4px 0 0 padding: 0 6px 0 22px height: 24px line-height: 24px font-size: 12px position: relative
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  position: absolute top: 0 left: 0 height: 22px width: 22px margin: 0 text-align: center color: #e74c3c font-weight: bold font-size: 16px
}

.select2-container .select2-dropdown {
  background: transparent border: none margin-top: -5px
}

.select2-container .select2-dropdown .select2-search {
  padding: 0
}

.select2-container .select2-dropdown .select2-search input {
  outline: none border: 1px solid #34495e border-bottom: none padding: 4px 6px
}

.select2-container .select2-dropdown .select2-results {
  padding: 0
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff border: 1px solid #34495e
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #3498db
}

.custome .heading1 {
  color: #FF8200 !important;
  font-size: 2em;
  font-family: Kepler Std Bold Semicondensed Display;
}

.custome p.para {
  margin-top: 20px;
  color: #545454;
}

.custome .review-block__label {
  color: black !important;
  font-size: 17px;
}

.custome .review-block__content {
  font-size: 14px;
}

.custome h2#main-header {
  font-size: 2em;
  color: #FF8200;
  padding-bottom: 0;
  /* 0.5em;*/
  font-family: Kepler Std Bold Semicondensed Display;
  line-height: 1;

}

.custome p.para.para2 {
  margin-top: 10px;
  color: grey;
  /*     position: absolute;
          top: 86%; */
  font-size: 13px;
}

.custome .breadcrumb__link {
  font-weight: 500;
}

.custome .breadcrumb__item--current {
  font-weight: 600;
  color: #ff8900;
}

.custome .breadcrumb__item--completed a {
  font-weight: 600;
}

.custome #main-header p {
  line-height: 1.5em;
  margin-top: 10px;
  color: grey;
  font-size: 14px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 13px;
}

.content-box__row.content-box__row--tight-spacing-vertical {
  padding-left: 0px;
  padding-right: 0px;
}

.content-box__row.content-box__row--tight-spacing-vertical .review-block {
  padding-left: 1.1428571429em;
  padding-right: 1.1428571429em;
}

.section.section--shipping-method {
  padding-top: 2rem;
}

.section--shipping-method .section__header {
  margin-bottom: 1em;
}

.custome span.radio__label__primary {
  font-size: 18px;
  color: #000;
  /*    padding-top:2px; */
}

.custome span.radio__label__primary .small-text {
  font-size: 13px;
  margin-top: 0.4rem;
  display: block;
}

.custome .content-box__row .radio-wrapper .radio__input .input-radio:checked {
  border-width: 7.5px;
}

.custome .content-box__row .radio-wrapper .radio__input .input-radio {
  width: 22px;
  height: 22px;
  top: -2px;
}

.custome .review-block__link {
  font-size: 1em;
}

.custome .content-box__emphasis {
  font-size: 1em;
}

.custome a.step__footer__previous-link {
  font-size: 1.2em;
}

.custome p.para2 {
  padding-left: 32px;
  margin-bottom: 10px;
  margin-top: -5px;
  color: grey;
  font-size: 13px;
}

.sidebar::after {
  background: linear-gradient(180deg, #F0F0F5 50.07%, #AFB4D3 109.76%);
}

.breadcrumb .breadcrumb__item:first-child {
  display: none;
}