html {
  scroll-behavior: smooth
}

body {
  overflow: visible !important
}

.mb-0 {
  margin-bottom: 0
}

.text-capitalize {
  text-transform: capitalize
}

.text-transform-unset {
  text-transform: unset
}

.letter-spacing-none {
  letter-spacing: 0
}

.text-white {
  color: #fff !important
}

.text-primary {
  color: #000 !important
}

.text-primary-light {
  color: #6469aa !important
}

.text-orange {
  color: #ffa355 !important
}

p {
  font-family: body-text, sans-serif
}

.header-text {
  font-family: header-text, sans-serif
}

.body-text {
  font-family: body-text, sans-serif
}

.font-weight-normal {
  font-weight: 400
}

.font-weight-bold {
  font-weight: 700
}

h1, h2, h3, h4, h5, h6 {
  font-family: header-text, serif
}

.h1, h1 {
  font-family: header-text !important;
  font-size: 60px
}

.h1, .h2, h1, h2 {
  line-height: 1.2em
}

.h2, h2 {
  font-size: 50px
}

.h3, h3 {
  font-size: 40px
}

.h3, .h4, h3, h4 {
  line-height: 1.2em
}

.h4, h4 {
  font-size: 36px
}

.h5, h5 {
  font-family: header-text, serif;
  font-size: 33px
}

.h5, .h6, h5, h6 {
  line-height: 1.2em
}

.h6, h6 {
  font-size: 30px
}

.h6-small {
  font-size: 28px
}

@media (max-width: 768px) {
  .h1, h1 {
    font-size: 38px !important;
    line-height: 1.2em
  }

  .h2, h2 {
    font-size: 35px
  }

  .h3, h3 {
    font-size: 33px
  }

  .h4, h4 {
    font-size: 30px
  }

  .h5, h5 {
    font-size: 28px
  }

  .h6, h6 {
    font-size: 25px
  }

  .h6-small {
    font-size: 24px
  }
}

.text-lg {
  font-size: 18px
}

.text-nm {
  font-size: 16px
}

.text-sm {
  font-size: 14px
}

#shopify-section-16303916789100407d, #shopify-section-16305476701a1aa676, #shopify-section-1630551372b4bbde71, #shopify-section-16306447962a0632f9, #shopify-section-1630748036381422ad, #shopify-section-163090879603f8dbf7 {
  margin-top: 0
}

.custom-home-slider .slick-dots {
  bottom: 40px
}

.custom-home-slider .slick-dots li button:before, .custom-home-slider .slick-dots li.slick-active button:before {
  height: 20px;
  margin: 0;
  width: 20px
}

.custom-home-slider .slick-dots li {
  margin: 0 11px
}

.custom-home-slider .slick-dots li button {
  padding: 0 !important
}

.custom-home-slider .slick-dots li.slick-active button:before {
  background-color: #ffd8b5;
  border-color: #ffd8b5
}

.custom-home-slider--content__span {
  color: #ff8900
}

.custom-home-slider--content__top-sub {
  margin-bottom: 23px
}

.custom-home-slider--content__desc {
  margin-bottom: 48px
}

.custom-three-column-section--row {
  align-items: baseline;
  justify-content: space-between;
  margin-top: 65px
}

.three-col--img {
  margin-bottom: 19px
}

section.custom-three-column-section {
  background: linear-gradient(0deg, #fff6eb, rgba(255, 246, 235, 0));
  display: flex;
  padding-bottom: 102px;
  position: relative
}

.three-col--img-decor {
  bottom: 0;
  height: auto;
  position: absolute;
  right: 0;
  width: 30%;
  z-index: 1
}

section.custom-three-column-section .global-wrapper {
  z-index: 3
}

.custom-call-to-action {
  display: flex;
  padding: 314px 0 240px;
  position: relative
}

.custom-cta--bg-img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1
}

.custom-call-to-action .global-wrapper {
  text-align: center;
  z-index: 2
}

.custom-award-slider-wrapper {
  background: #e1e1f0;
  padding: 108px 0 166px
}

.custom-award-width {
  margin: 0 auto;
  text-align: center
}

.custom-award-slider--logo {
  mix-blend-mode: multiply
}

.custom-award-slider {
  justify-content: space-between;
  margin-top: 65px
}

.custom-award-slider--logo {
  margin: 0 auto
}

.custom-award-slider .slick-next, .custom-award-slider .slick-prev {
  height: 80px
}

.custom-award-slider.slick-slider .slick-dots {
  bottom: -98px
}

.custom-award-slider.slick-slider .slick-dots li button {
  height: 13px;
  padding: 0 !important;
  width: 13px
}

.custom-award-slider.slick-slider .slick-dots li button:before, .custom-award-slider.slick-slider .slick-dots li.slick-active button:before {
  background-color: #000;
  border: 0;
  height: 13px;
  margin: 0 !important;
  opacity: .5;
  width: 13px
}

.custom-award-slider.slick-slider .slick-dots li.slick-active button:before {
  background-color: #000;
  opacity: 1
}

.custom-award-slider.slick-slider .slick-dots li {
  height: 13px;
  margin: 0 7px;
  width: 13px
}

.testimonial--img {
  border-radius: 40px;
  height: auto;
  width: 100%
}

.custom-testimonial-slider--wrapper.slick-slider h5 {
  font-size: 1.7em
}

.custom-testimonial-slider--wrapper.slick-slider .slick-dots li {
  height: 13px;
  margin: 0 9px 0 0;
  width: 13px
}

.custom-testimonial-slider--wrapper.slick-slider .slick-dots li button {
  height: 13px;
  padding: 0 !important;
  width: 13px
}

.custom-testimonial-slider--wrapper.slick-slider .slick-dots li button:before {
  background-color: #000;
  border: 0;
  height: 13px;
  margin: 0;
  opacity: .5;
  width: 13px
}

.custom-testimonial-slider--wrapper.slick-slider .slick-dots li.slick-active button:before {
  opacity: 1
}

.custom-testimonial-slider--wrapper.slick-slider .slick-dots {
  bottom: 0;
  right: 0;
  text-align: left;
  width: 49%
}

.testimonial-top-sub {
  margin-bottom: 23px
}

.testimonial-main-content {
  line-height: 1.4em;
  margin-bottom: 48px
}

.hero .slick-next, .hero .slick-prev {
  display: none !important
}

.hero__dots-wrapper li {
  height: 20px;
  margin: 0 10px !important;
  width: 20px
}

.hero__dots-wrapper li a {
  height: 20px;
  width: 20px
}

.hero__dots-wrapper li a:before {
  background-color: #fff !important;
  height: 20px !important;
  width: 20px !important
}

.hero__dots-wrapper ul.slick-dots {
  bottom: 43px
}

.footer-social-wrapper {
  align-items: center;
  display: flex
}

.footer-icons-wrapper {
  display: flex;
  list-style-type: none;
  margin-bottom: 0
}

.footer-social-wrapper p {
  margin-bottom: 0
}

.footer-icons-wrapper li {
  margin-bottom: 0;
  margin-right: 21px
}

.footer-icons-wrapper li:last-child {
  margin-right: 0
}

.emma-sleep-footer {
  background: #3c4196;
  color: #fff !important;
  padding: 67px 0 60px
}

.footer-top-row {
  margin-bottom: 66px
}

.footer-nav-col ul {
  list-style-type: none;
  margin: 0
}

.blog-menu-title {
  margin-top: 24px
}

.footer-nav-col ul li a {
  color: #fff;
  font-size: 12px;
  transition: .3s ease-in
}

.footer-nav-col ul li a:hover {
  color: #fff
}

.footer-mid-row {
  margin-bottom: 119px
}

.hero__pause {
  display: none !important
}

.footer-nav-col ul li {
  margin-bottom: 9px
}

.footer-bottom-row p {
  margin-bottom: 0
}

.newsletter-container form {
  display: flex;
  margin-top: 33px
}

.newsletter-container form input {
  border: 0;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, .25);
  font-size: 16px;
  padding: 13px 18px;
  width: 60%
}

.newsletter-container form input.btn {
  border-radius: 0;
  font-family: body-text, sans-serif;
  font-weight: 400;
  padding: 12px 30px;
  width: 40%
}

.custom-featured-products--top-sub {
  margin-bottom: 0
}

.custom-featured-products--title {
  line-height: 1.2em;
  margin-bottom: 26px
}

.custom-featured-products {
  background: linear-gradient(0deg, rgba(255, 162, 54, .15), #ffa236) !important;
  padding: 8% 0 12%
}

.hero.slick-dotted.slick-slider {
  margin-bottom: 0
}

#shopify-section-16306447962a0632f9 {
  margin-top: -3%
}

.custom-countdown-section--text-wrapper__span {
  color: #ffa355
}

.custom-countdown-section {
  background: #3c4196;
  padding: 22px 0
}

.countdown-col {
  background-color: #ffa355;
  border-radius: 10px;
  font-family: body-text !important;
  margin: 0 15px;
  padding: 5px 12px;
  text-align: center
}

.custom-countdown-section--countdown-wrapper {
  align-items: center;
  display: flex;
  font-family: body-text !important
}

.countdown-col--number, .countdown-col--text {
  margin-bottom: 0
}

.custom-countdown-section--text-wrapper h6, .custom-countdown-section--text-wrapper span {
  font-family: body-text !important;
  font-size: 26px
}

.featured-product-item-flex {
  align-items: center;
  display: flex
}

.featured-product-item--discount, .featured-product-item--tag {
  border-radius: 25px
}

.featured-product-item--tag {
  background-color: #ffa355
}

.featured-product-item--discount {
  background-color: #bf2828
}

.featured-product-item {
  padding: 0;
  transition: .3s ease-in
}

.featured-product-item--title {
  line-height: 1.1em;
  margin-bottom: 15px
}

.featured-product-item .product-single__price--compare-at, .featured-product-item .product-single__price.on-sale {
  color: #bf2828;
  font-family: body-text, sans-serif;
  font-size: 20px
}

.featured-product-item--image {
  display: block;
  filter: drop-shadow(0 10px 20px rgba(1, 1, 1, .25));
  margin: 0 auto
}

.custom-featured-products-row {
  display: grid;
  gap: 3%;
  grid-auto-flow: column
}

.newsletter--form button {
  padding: 8px 48px
}

.announcement-bar {
  background-color: #ff563d !important;
  box-shadow: 0 42px 65px rgba(0, 0, 0, .03), 0 9.38125px 14.5186px rgba(0, 0, 0, .018), 0 2.79304px 4.32257px rgba(0, 0, 0, .012)
}

.announcement-bar__message {
  color: #fff !important;
  font-weight: 600
}

.countdown-seperator {
  color: #ffe5cf;
  font-family: other-text, sans-serif;
  font-size: 33px
}

.custom-cta-width {
  margin: 0 auto
}

.coming-soon-template-wrapper {
  padding: 120px 0;
  text-align: center
}

.coming-soon-template-wrapper .coming-soon-logo {
  margin-bottom: 10px
}

.coming-soon-template-wrapper .btn {
  margin-top: 80px
}

.coming-soon--span {
  color: #ffa236
}

.customer-reviews-wrapper {
  background: linear-gradient(0deg, #fff6eb, rgba(255, 246, 235, 0));
  padding: .5em 0 1.2em
}

#shopify-product-reviews .spr-container {
  border: none;
  padding: 0
}

#shopify-product-reviews .spr-header .spr-header-title {
  font-family: header-text, sans-serif;
  font-size: 33px !important
}

#shopify-product-reviews .spr-summary-actions-newreview {
  background-color: #212b57;
  border-radius: 40px;
  color: #fff;
  font-family: body-text, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 13px 50px;
  transition: .3s ease-in
}

#shopify-product-reviews .spr-summary-actions-newreview:hover {
  background-color: #ffa236;
  color: #fff
}

#shopify-product-reviews span.spr-summary-actions {
  margin-left: auto
}

#shopify-product-reviews .spr-content .spr-review {
  border: 1px solid #000;
  border-radius: 40px;
  margin-bottom: 32px;
  margin-top: 0;
  padding: 30px
}

#shopify-product-reviews .spr-content {
  margin-top: 65px
}

#shopify-product-reviews .spr-summary-actions-togglereviews {
  font-family: body-text, sans-serif;
  font-size: 14px
}

#shopify-product-reviews .spr-summary-starrating {
  margin-right: 17px
}

#shopify-product-reviews .spr-summary {
  align-items: center;
  display: flex
}

#shopify-product-reviews .spr-starratings .spr-icon {
  font-size: 25px
}

#shopify-product-reviews .spr-starratings {
  margin-bottom: 25px
}

#shopify-product-reviews .spr-review-header-title {
  font-family: header-text, sans-serif;
  font-size: 28px;
  line-height: 1.1em;
  margin-bottom: 25px
}

#shopify-product-reviews .spr-review-header-byline {
  font-family: body-text, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700
}

#shopify-product-reviews .spr-review-footer {
  display: none
}

#shopify-product-reviews .spr-form {
  border: none
}

#shopify-product-reviews .spr-form .spr-form-title {
  font-family: body-text, sans-serif;
  font-size: 27px
}

#shopify-product-reviews .spr-form .spr-form-label {
  font-family: body-text, sans-serif;
  font-size: 15px;
  font-weight: 700
}

#shopify-product-reviews .spr-summary-starrating .spr-icon {
  color: #6469aa
}

#emma-foam-pillow .main-content, #emma-original-mattress .main-content, .template-index .main-content {
  padding-bottom: 0
}

.grid-product__wrapper {
  border-radius: 40px;
  transition: .3s ease-in
}

.grid-product__wrapper:hover {
  box-shadow: 0 17px 20px rgba(0, 0, 0, .2)
}

#products .grid-uniform {
  padding: 40px 0
}

.grid-product__wrapper .grid-product__title {
  font-family: header-text, sans-serif
}

.grid-product__wrapper .grid-product__price {
  font-family: body-text, sans-serif
}

#shopify-product-reviews .spr-pagination div span {
  margin-right: 20px
}

#shopify-product-reviews .spr-pagination div span a {
  font-family: body-text, sans-serif
}

#shopify-product-reviews .spr-pagination {
  border-top: 0;
  width: 37%
}

.price-container .product-single__price {
  font-family: body-text, sans-serif !important;
  font-size: 20px
}

#terms-and-conditions .main-content {
  padding-top: 0
}

.terms-section-wrapper {
  background-color: #212b57;
  padding: 80px 0
}

.terms-content-section {
  margin-top: 40px
}

@media (min-width: 1400px) {
  .global-wrapper {
    min-width: 1350px !important
  }
}

@media (min-width: 1200px) {
  .container, .global-wrapper {
    min-width: 1300px
  }

  .footer-mid-row, .footer-top-row {
    display: flex;
    justify-content: space-between
  }

  .footer-nav-container {
    display: flex
  }

  .footer-nav-col {
    margin-right: 40px
  }

  .footer-nav-col:last-child {
    margin-right: 0
  }

  .footer-bottom-row {
    align-items: center;
    display: flex;
    justify-content: space-between
  }

  #shopify-product-reviews .spr-content .spr-review {
    width: 23% !important
  }
}

@media (min-width: 992px) {
  .custom-cta-width {
    width: 50% !important
  }

  #shopify-product-reviews .spr-content .spr-reviews {
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr
  }
}

@media (min-width: 768px) {
  .custom-three-column-section--row {
    display: flex
  }

  .custom-three-column-section--row__column {
    width: 27%
  }

  .custom-cta-width {
    width: 80%
  }

  .custom-award-width {
    width: 47%
  }

  .testimonial-flex {
    align-items: center;
    display: flex;
    justify-content: space-between
  }

  .custom-testimonial-slider--slider-block__img {
    width: 45%
  }

  .custom-testimonial-slider--slider-block__content {
    width: 49%
  }

  .hero__title {
    width: 73%
  }

  .hero__slide .hero__title {
    line-heightL: 1.3em;
    font-size: 2.7rem
  }

  .hero__dots-wrapper li.slick-active a:before {
    background-color: #ffd8b5 !important
  }

  .custom-countdown-section--row {
    align-items: center;
    display: flex;
    justify-content: space-between
  }

  .hero__text-content {
    padding-top: 125px
  }

  #shopify-product-reviews .spr-content .spr-reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 2%
  }

  #shopify-product-reviews .spr-content .spr-review {
    width: 32%
  }

  .hero.slick-dotted.slick-slider {
    height: 82vh
  }
}

@media (max-width: 1024px) {
  .emma-sleep-footer {
    text-align: center
  }

  .footer-social-wrapper {
    display: inline-flex;
    margin: 0 auto
  }

  .footer-logo, .footer-top-row {
    margin-bottom: 50px
  }

  .footer-nav-container {
    display: flex;
    flex-wrap: wrap
  }

  .footer-nav-col {
    margin-bottom: 20px;
    margin-right: 3%;
    padding-left: 2%;
    text-align: left;
    width: 45%
  }

  .footer-mid-row {
    margin-bottom: 92px
  }

  .footer-nav-col p, .footer-nav-col ul li a {
    font-size: 9px
  }

  .newsletter-container {
    margin-bottom: 46px
  }

  .newsletter--form {
    margin: 0 auto;
    width: 50%
  }

  .footer-bottom-row p {
    font-size: 14px;
    margin-bottom: 37px
  }

  .custom-testimonial-slider {
    padding-bottom: 0;
    padding-top: 50px
  }

  #shopify-section-16306447962a0632f9 {
    margin-top: 0
  }

  .custom-featured-products {
    background: linear-gradient(0deg, rgba(255, 162, 54, .15), #ffa236) !important;
    padding-bottom: 100px
  }

  #shopify-product-reviews .spr-pagination {
    width: 100%
  }
}

@media (max-width: 1024px) and (min-width: 600px) {
  .footer-nav-col {
    text-align: center
  }
}

@media (max-width: 768px) {
  .custom-testimonial-slider--wrapper.slick-slider .slick-dots {
    bottom: -5%
  }

  .featured-product-item {
    margin: 0 10px
  }

  #shopify-section-16306447962a0632f9 {
    margin-top: 4%
  }

  #shopify-product-reviews .spr-content .spr-reviews {
    grid-template-areas:". ." ". ." ". ." ". .";
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr
  }

  #shopify-section-163047552836cc9616 {
    margin-top: 0
  }
}

@media (max-width: 600px) {
  .three-col--img-decor {
    width: 80%
  }

  .custom-testimonial-slider--slider-block__img {
    margin-bottom: 40px
  }

  .custom-testimonial-slider--wrapper.slick-slider .slick-dots {
    width: 100%
  }

  .footer-nav-col:last-child {
    margin-bottom: 0
  }

  .custom-award-slider--logo {
    width: 50%
  }

  .custom-award-slider .slick-prev {
    left: -5px
  }

  .custom-award-slider .slick-next {
    right: -7px
  }

  .custom-award-slider.slick-slider .slick-dots {
    bottom: -60px
  }

  .text-mobile-center {
    text-align: center
  }

  .custom-three-column-section--row__column {
    align-items: center;
    border-bottom: 0 solid #000;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 18px;
    padding-top: 10px
  }

  .three-col--img {
    margin-bottom: 0;
    margin-right: 10px;
    width: 13%
  }

  .three-col--title {
    margin-bottom: 0
  }

  .three-col--description {
    font-size: 16px !important;
    margin-top: 16px
  }

  .custom-three-column-section--title {
    line-height: 1.2em
  }

  .custom-three-column-section--row__column:last-child {
    border-bottom: 0
  }

  .custom-testimonial-slider {
    padding-bottom: 91px
  }

  section.custom-three-column-section {
    padding-bottom: 50px
  }

  .custom-call-to-action {
    padding: 127px 0
  }

  .hero__text-wrap {
    position: relative
  }

  .hero .hero__image {
    height: 223px
  }

  .hero[data-adapt=false] .slideshow__overlay:before {
    background-image: none;
    height: auto
  }

  .custom-home-slider--content__desc, .custom-home-slider--content__top-sub, .hero__slide .hero__title {
    color: #212b57 !important
  }

  .hero__text-wrap {
    padding-top: 35px
  }

  .custom-spacer {
    background-color: transparent;
    padding: 80px
  }

  .btn-slideshow-cont {
    padding-bottom: 200px
  }

  .hero__dots-wrapper ul.slick-dots {
    bottom: 25px
  }

  @font-face {
    font-family: body-text;
    font-style: normal;
    font-weight: 400;
    src: url(acuminpro-medium-webfont.woff) format("woff")
  }@font-face {
  font-family: body-text;
  font-style: normal;
  font-weight: 700;
  src: url(acuminpro-medium-webfont.woff) format("woff")
}@font-face {
  font-family: header-text;
  font-style: normal;
  font-weight: 700;
  src: url(utopiastd-disp-webfont.woff) format("woff")
}@font-face {
  font-family: header-text;
  font-style: normal;
  font-weight: 500;
  src: url(utopiastd-disp-webfont.woff) format("woff")
}@font-face {
  font-family: other-text;
  font-style: normal;
  font-weight: 400;
  src: url(utopiastd-disp-webfont.woff) format("woff")
}@font-face {
  font-family: other-text;
  font-style: normal;
  font-weight: 700;
  src: url(utopiastd-disp-webfont.woff) format("woff")
}html {
   scroll-behavior: smooth
 }

  body {
    overflow: visible !important
  }

  .mb-0 {
    margin-bottom: 0
  }

  .text-capitalize {
    text-transform: capitalize
  }

  .text-transform-unset {
    text-transform: unset
  }

  .letter-spacing-none {
    letter-spacing: 0
  }

  .text-white {
    color: #fff !important
  }

  .text-primary {
    color: #000 !important
  }

  .text-primary-light {
    color: #6469aa !important
  }

  .text-orange {
    color: #ffa355 !important
  }

  p {
    font-family: body-text, sans-serif
  }

  .header-text {
    font-family: header-text, sans-serif
  }

  .body-text {
    font-family: body-text, sans-serif
  }

  .font-weight-normal {
    font-weight: 400
  }

  .font-weight-bold {
    font-weight: 700
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: header-text, serif
  }

  .h1, h1 {
    font-family: header-text !important;
    font-size: 60px
  }

  .h1, .h2, h1, h2 {
    line-height: 1.2em
  }

  .h2, h2 {
    font-size: 50px
  }

  .h3, h3 {
    font-size: 40px
  }

  .h3, .h4, h3, h4 {
    line-height: 1.2em
  }

  .h4, h4 {
    font-size: 36px
  }

  .h5, h5 {
    font-family: header-text, serif;
    font-size: 33px
  }

  .h5, .h6, h5, h6 {
    line-height: 1.2em
  }

  .h6, h6 {
    font-size: 30px
  }

  .h6-small {
    font-size: 28px
  }

  @media (max-width: 768px) {
    .h1, h1 {
      font-size: 38px !important;
      line-height: 1.2em
    }

    .h2, h2 {
      font-size: 35px
    }

    .h3, h3 {
      font-size: 33px
    }

    .h4, h4 {
      font-size: 30px
    }

    .h5, h5 {
      font-size: 28px
    }

    .h6, h6 {
      font-size: 25px
    }

    .h6-small {
      font-size: 24px
    }
  }.text-lg {
     font-size: 18px
   }

  .text-nm {
    font-size: 16px
  }

  .text-sm {
    font-size: 14px
  }

  #shopify-section-16303916789100407d, #shopify-section-16305476701a1aa676, #shopify-section-1630551372b4bbde71, #shopify-section-16306447962a0632f9, #shopify-section-1630748036381422ad, #shopify-section-163090879603f8dbf7 {
    margin-top: 0
  }

  .custom-home-slider .slick-dots {
    bottom: 40px
  }

  .custom-home-slider .slick-dots li button:before, .custom-home-slider .slick-dots li.slick-active button:before {
    height: 20px;
    margin: 0;
    width: 20px
  }

  .custom-home-slider .slick-dots li {
    margin: 0 11px
  }

  .custom-home-slider .slick-dots li button {
    padding: 0 !important
  }

  .custom-home-slider .slick-dots li.slick-active button:before {
    background-color: #ffd8b5;
    border-color: #ffd8b5
  }

  .custom-home-slider--content__span {
    color: #ff8900
  }

  .custom-home-slider--content__top-sub {
    margin-bottom: 23px
  }

  .custom-home-slider--content__desc {
    margin-bottom: 48px
  }

  .custom-three-column-section--row {
    align-items: baseline;
    justify-content: space-between;
    margin-top: 65px
  }

  .three-col--img {
    margin-bottom: 19px
  }

  section.custom-three-column-section {
    background: linear-gradient(0deg, #fff6eb, rgba(255, 246, 235, 0));
    display: flex;
    padding-bottom: 102px;
    position: relative
  }

  .three-col--img-decor {
    bottom: 0;
    height: auto;
    position: absolute;
    right: 0;
    width: 30%;
    z-index: 1
  }

  section.custom-three-column-section .global-wrapper {
    z-index: 3
  }

  .custom-call-to-action {
    display: flex;
    padding: 314px 0 240px;
    position: relative
  }

  .custom-cta--bg-img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
  }

  .custom-call-to-action .global-wrapper {
    text-align: center;
    z-index: 2
  }

  .custom-award-slider-wrapper {
    background: #e1e1f0;
    padding: 108px 0 166px
  }

  .custom-award-width {
    margin: 0 auto;
    text-align: center
  }

  .custom-award-slider--logo {
    mix-blend-mode: multiply
  }

  .custom-award-slider {
    justify-content: space-between;
    margin-top: 65px
  }

  .custom-award-slider--logo {
    margin: 0 auto
  }

  .custom-award-slider .slick-next, .custom-award-slider .slick-prev {
    height: 80px
  }

  .custom-award-slider.slick-slider .slick-dots {
    bottom: -98px
  }

  .custom-award-slider.slick-slider .slick-dots li button {
    height: 13px;
    padding: 0 !important;
    width: 13px
  }

  .custom-award-slider.slick-slider .slick-dots li button:before, .custom-award-slider.slick-slider .slick-dots li.slick-active button:before {
    background-color: #000;
    border: 0;
    height: 13px;
    margin: 0 !important;
    opacity: .5;
    width: 13px
  }

  .custom-award-slider.slick-slider .slick-dots li.slick-active button:before {
    background-color: #000;
    opacity: 1
  }

  .custom-award-slider.slick-slider .slick-dots li {
    height: 13px;
    margin: 0 7px;
    width: 13px
  }

  .testimonial--img {
    border-radius: 40px;
    height: auto;
    width: 100%
  }

  .custom-testimonial-slider--wrapper.slick-slider h5 {
    font-size: 1.7em
  }

  .custom-testimonial-slider--wrapper.slick-slider .slick-dots li {
    height: 13px;
    margin: 0 9px 0 0;
    width: 13px
  }

  .custom-testimonial-slider--wrapper.slick-slider .slick-dots li button {
    height: 13px;
    padding: 0 !important;
    width: 13px
  }

  .custom-testimonial-slider--wrapper.slick-slider .slick-dots li button:before {
    background-color: #000;
    border: 0;
    height: 13px;
    margin: 0;
    opacity: .5;
    width: 13px
  }

  .custom-testimonial-slider--wrapper.slick-slider .slick-dots li.slick-active button:before {
    opacity: 1
  }

  .custom-testimonial-slider--wrapper.slick-slider .slick-dots {
    bottom: 0;
    right: 0;
    text-align: left;
    width: 49%
  }

  .testimonial-top-sub {
    margin-bottom: 23px
  }

  .testimonial-main-content {
    line-height: 1.4em;
    margin-bottom: 48px
  }

  .hero .slick-next, .hero .slick-prev {
    display: none !important
  }

  .hero__dots-wrapper li {
    height: 20px;
    margin: 0 10px !important;
    width: 20px
  }

  .hero__dots-wrapper li a {
    height: 20px;
    width: 20px
  }

  .hero__dots-wrapper li a:before {
    background-color: #fff !important;
    height: 20px !important;
    width: 20px !important
  }

  .hero__dots-wrapper ul.slick-dots {
    bottom: 43px
  }

  .footer-social-wrapper {
    align-items: center;
    display: flex
  }

  .footer-icons-wrapper {
    display: flex;
    list-style-type: none;
    margin-bottom: 0
  }

  .footer-social-wrapper p {
    margin-bottom: 0
  }

  .footer-icons-wrapper li {
    margin-bottom: 0;
    margin-right: 21px
  }

  .footer-icons-wrapper li:last-child {
    margin-right: 0
  }

  .emma-sleep-footer {
    background: #3c4196;
    color: #fff !important;
    padding: 67px 0 60px
  }

  .footer-top-row {
    margin-bottom: 66px
  }

  .footer-nav-col ul {
    list-style-type: none;
    margin: 0
  }

  .footer-nav-col ul li a {
    color: #fff;
    font-size: 12px;
    transition: .3s ease-in
  }

  .footer-nav-col ul li a:hover {
    color: #fff
  }

  .footer-mid-row {
    margin-bottom: 119px
  }

  .hero__pause {
    display: none !important
  }

  .footer-nav-col ul li {
    margin-bottom: 9px
  }

  .footer-bottom-row p {
    margin-bottom: 0
  }

  .newsletter-container form {
    display: flex;
    margin-top: 33px
  }

  .newsletter-container form input {
    border: 0;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, .25);
    font-size: 16px;
    padding: 13px 18px;
    width: 60%
  }

  .newsletter-container form input.btn {
    border-radius: 0;
    font-family: body-text, sans-serif;
    font-weight: 400;
    padding: 12px 30px;
    width: 40%
  }

  .custom-featured-products--top-sub {
    margin-bottom: 0
  }

  .custom-featured-products--title {
    line-height: 1.2em;
    margin-bottom: 26px
  }

  .custom-featured-products {
    background: linear-gradient(0deg, rgba(255, 162, 54, .15), #ffa236) !important;
    padding: 8% 0 12%
  }

  .hero.slick-dotted.slick-slider {
    margin-bottom: 0
  }

  #shopify-section-16306447962a0632f9 {
    margin-top: -3%
  }

  .custom-countdown-section--text-wrapper__span {
    color: #ffa355
  }

  .custom-countdown-section {
    background: #3c4196;
    padding: 22px 0
  }

  .countdown-col {
    background-color: #ffa355;
    border-radius: 10px;
    font-family: body-text !important;
    margin: 0 15px;
    padding: 5px 12px;
    text-align: center
  }

  .custom-countdown-section--countdown-wrapper {
    align-items: center;
    display: flex;
    font-family: body-text !important
  }

  .countdown-col--number, .countdown-col--text {
    margin-bottom: 0
  }

  .custom-countdown-section--text-wrapper h6, .custom-countdown-section--text-wrapper span {
    font-family: body-text !important;
    font-size: 26px
  }

  .featured-product-item-flex {
    align-items: center;
    display: flex
  }

  .featured-product-item--discount, .featured-product-item--tag {
    border-radius: 25px
  }

  .featured-product-item--tag {
    background-color: #ffa355
  }

  .featured-product-item--discount {
    background-color: #bf2828
  }

  .featured-product-item {
    padding: 0;
    transition: .3s ease-in
  }

  .featured-product-item--title {
    line-height: 1.1em;
    margin-bottom: 15px
  }

  .featured-product-item .product-single__price--compare-at, .featured-product-item .product-single__price.on-sale {
    color: #bf2828;
    font-family: body-text, sans-serif;
    font-size: 20px
  }

  .featured-product-item--image {
    display: block;
    filter: drop-shadow(0 10px 20px rgba(1, 1, 1, .25));
    margin: 0 auto
  }

  .custom-featured-products-row {
    display: grid;
    gap: 3%;
    grid-auto-flow: column
  }

  .newsletter--form button {
    padding: 8px 48px
  }

  .announcement-bar {
    background-color: #ff563d !important;
    box-shadow: 0 42px 65px rgba(0, 0, 0, .03), 0 9.38125px 14.5186px rgba(0, 0, 0, .018), 0 2.79304px 4.32257px rgba(0, 0, 0, .012)
  }

  .announcement-bar__message {
    color: #fff !important;
    font-weight: 600
  }

  .countdown-seperator {
    color: #ffe5cf;
    font-family: other-text, sans-serif;
    font-size: 33px
  }

  .custom-cta-width {
    margin: 0 auto
  }

  .coming-soon-template-wrapper {
    padding: 120px 0;
    text-align: center
  }

  .coming-soon-template-wrapper .coming-soon-logo {
    margin-bottom: 10px
  }

  .coming-soon-template-wrapper .btn {
    margin-top: 80px
  }

  .coming-soon--span {
    color: #ffa236
  }

  .customer-reviews-wrapper {
    background: linear-gradient(0deg, #fff6eb, rgba(255, 246, 235, 0));
    padding: .5em 0 1.2em
  }

  #shopify-product-reviews .spr-container {
    border: none;
    padding: 0
  }

  #shopify-product-reviews .spr-header .spr-header-title {
    font-family: header-text, sans-serif;
    font-size: 33px !important
  }

  #shopify-product-reviews .spr-summary-actions-newreview {
    background-color: #212b57;
    border-radius: 40px;
    color: #fff;
    font-family: body-text, sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 13px 50px;
    transition: .3s ease-in
  }

  #shopify-product-reviews .spr-summary-actions-newreview:hover {
    background-color: #ffa236;
    color: #fff
  }

  #shopify-product-reviews span.spr-summary-actions {
    margin-left: auto
  }

  #shopify-product-reviews .spr-content .spr-review {
    border: 1px solid #000;
    border-radius: 40px;
    margin-bottom: 32px;
    margin-top: 0;
    padding: 30px
  }

  #shopify-product-reviews .spr-content {
    margin-top: 65px
  }

  #shopify-product-reviews .spr-summary-actions-togglereviews {
    font-family: body-text, sans-serif;
    font-size: 14px
  }

  #shopify-product-reviews .spr-summary-starrating {
    margin-right: 17px
  }

  #shopify-product-reviews .spr-summary {
    align-items: center;
    display: flex
  }

  #shopify-product-reviews .spr-starratings .spr-icon {
    font-size: 25px
  }

  #shopify-product-reviews .spr-starratings {
    margin-bottom: 25px
  }

  #shopify-product-reviews .spr-review-header-title {
    font-family: header-text, sans-serif;
    font-size: 28px;
    line-height: 1.1em;
    margin-bottom: 25px
  }

  #shopify-product-reviews .spr-review-header-byline {
    font-family: body-text, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700
  }

  #shopify-product-reviews .spr-review-footer {
    display: none
  }

  #shopify-product-reviews .spr-form {
    border: none
  }

  #shopify-product-reviews .spr-form .spr-form-title {
    font-family: body-text, sans-serif;
    font-size: 27px
  }

  #shopify-product-reviews .spr-form .spr-form-label {
    font-family: body-text, sans-serif;
    font-size: 15px;
    font-weight: 700
  }

  #shopify-product-reviews .spr-summary-starrating .spr-icon {
    color: #6469aa
  }

  #emma-foam-pillow .main-content, #emma-original-mattress .main-content, .template-index .main-content {
    padding-bottom: 0
  }

  .grid-product__wrapper {
    border-radius: 40px;
    transition: .3s ease-in
  }

  .grid-product__wrapper:hover {
    box-shadow: 0 17px 20px rgba(0, 0, 0, .2)
  }

  #products .grid-uniform {
    padding: 40px 0
  }

  .grid-product__wrapper .grid-product__title {
    font-family: header-text, sans-serif
  }

  .grid-product__wrapper .grid-product__price {
    font-family: body-text, sans-serif
  }

  #shopify-product-reviews .spr-pagination div span {
    margin-right: 20px
  }

  #shopify-product-reviews .spr-pagination div span a {
    font-family: body-text, sans-serif
  }

  #shopify-product-reviews .spr-pagination {
    border-top: 0;
    width: 37%
  }

  .price-container .product-single__price {
    font-family: body-text, sans-serif !important;
    font-size: 20px
  }

  #terms-and-conditions .main-content {
    padding-top: 0
  }

  .terms-section-wrapper {
    background-color: #212b57;
    padding: 80px 0
  }

  .terms-content-section {
    margin-top: 40px
  }

  @media (min-width: 1400px) {
    .global-wrapper {
      min-width: 1350px !important
    }
  }@media (min-width: 1200px) {
  .container, .global-wrapper {
    min-width: 1300px
  }

  .footer-mid-row, .footer-top-row {
    display: flex;
    justify-content: space-between
  }

  .footer-nav-container {
    display: flex
  }

  .footer-nav-col {
    margin-right: 40px
  }

  .footer-nav-col:last-child {
    margin-right: 0
  }

  .footer-bottom-row {
    align-items: center;
    display: flex;
    justify-content: space-between
  }

  #shopify-product-reviews .spr-content .spr-review {
    width: 23% !important
  }
}@media (min-width: 992px) {
  .custom-cta-width {
    width: 50% !important
  }

  #shopify-product-reviews .spr-content .spr-reviews {
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr
  }
}@media (min-width: 768px) {
  .custom-three-column-section--row {
    display: flex
  }

  .custom-three-column-section--row__column {
    width: 27%
  }

  .custom-cta-width {
    width: 80%
  }

  .custom-award-width {
    width: 47%
  }

  .testimonial-flex {
    align-items: center;
    display: flex;
    justify-content: space-between
  }

  .custom-testimonial-slider--slider-block__img {
    width: 45%
  }

  .custom-testimonial-slider--slider-block__content {
    width: 49%
  }

  .hero__title {
    width: 73%
  }

  .hero__slide .hero__title {
    line-heightL: 1.3em;
    font-size: 2.7rem
  }

  .hero__dots-wrapper li.slick-active a:before {
    background-color: #ffd8b5 !important
  }

  .custom-countdown-section--row {
    align-items: center;
    display: flex;
    justify-content: space-between
  }

  .hero__text-content {
    padding-top: 125px
  }

  #shopify-product-reviews .spr-content .spr-reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 2%
  }

  #shopify-product-reviews .spr-content .spr-review {
    width: 32%
  }

  .hero.slick-dotted.slick-slider {
    height: 82vh
  }
}@media (max-width: 1024px) {
  .emma-sleep-footer {
    text-align: center
  }

  .footer-social-wrapper {
    display: inline-flex;
    margin: 0 auto
  }

  .footer-logo, .footer-top-row {
    margin-bottom: 50px
  }

  .footer-nav-container {
    display: flex;
    flex-wrap: wrap
  }

  .footer-nav-col {
    margin-bottom: 20px;
    margin-right: 3%;
    padding-left: 2%;
    text-align: left;
    width: 45%
  }

  .footer-mid-row {
    margin-bottom: 92px
  }

  .footer-nav-col p, .footer-nav-col ul li a {
    font-size: 9px
  }

  .newsletter-container {
    margin-bottom: 46px
  }

  .newsletter--form {
    margin: 0 auto;
    width: 50%
  }

  .footer-bottom-row p {
    font-size: 14px;
    margin-bottom: 37px
  }

  .custom-testimonial-slider {
    padding-bottom: 0;
    padding-top: 50px
  }

  #shopify-section-16306447962a0632f9 {
    margin-top: 0
  }

  .custom-featured-products {
    background: linear-gradient(0deg, rgba(255, 162, 54, .15), #ffa236) !important;
    padding-bottom: 100px
  }

  #shopify-product-reviews .spr-pagination {
    width: 100%
  }
}@media (max-width: 1024px) and (min-width: 600px) {
  .footer-nav-col {
    text-align: center
  }
}@media (max-width: 768px) {
  .custom-testimonial-slider--wrapper.slick-slider .slick-dots {
    bottom: -5%
  }

  .featured-product-item {
    margin: 0 10px
  }

  #shopify-section-16306447962a0632f9 {
    margin-top: 4%
  }

  #shopify-product-reviews .spr-content .spr-reviews {
    grid-template-areas:". ." ". ." ". ." ". .";
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr
  }

  #shopify-section-163047552836cc9616 {
    margin-top: 0
  }
}@media (max-width: 600px) {
  .three-col--img-decor {
    width: 80%
  }

  .custom-testimonial-slider--slider-block__img {
    margin-bottom: 40px
  }

  .custom-testimonial-slider--wrapper.slick-slider .slick-dots {
    width: 100%
  }

  .footer-nav-col:last-child {
    margin-bottom: 0
  }

  .custom-award-slider--logo {
    width: 50%
  }

  .custom-award-slider .slick-prev {
    left: -5px
  }

  .custom-award-slider .slick-next {
    right: -7px
  }

  .custom-award-slider.slick-slider .slick-dots {
    bottom: -60px
  }

  .text-mobile-center {
    text-align: center
  }

  .custom-three-column-section--row__column {
    align-items: center;
    border-bottom: 0 solid #000;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 18px;
    padding-top: 10px
  }

  .three-col--img {
    margin-bottom: 0;
    margin-right: 10px;
    width: 13%
  }

  .three-col--title {
    margin-bottom: 0
  }

  .three-col--description {
    font-size: 16px !important;
    margin-top: 16px
  }

  .custom-three-column-section--title {
    line-height: 1.2em
  }

  .custom-three-column-section--row__column:last-child {
    border-bottom: 0
  }

  .custom-testimonial-slider {
    padding-bottom: 91px
  }

  section.custom-three-column-section {
    padding-bottom: 50px
  }

  .custom-call-to-action {
    padding: 127px 0
  }

  .hero__text-wrap {
    position: relative
  }

  .hero .hero__image {
    height: 223px
  }

  .hero[data-adapt=false] .slideshow__overlay:before {
    background-image: none;
    height: auto
  }

  .custom-home-slider--content__desc, .custom-home-slider--content__top-sub, .hero__slide .hero__title {
    color: #212b57 !important
  }

  .custom-home-slider--content__span {
    color: #ff8900
  }

  .hero__text-wrap {
    padding-top: 35px
  }

  .custom-spacer {
    background-color: transparent;
    padding: 80px
  }

  .btn-slideshow-cont {
    padding-bottom: 200px
  }

  .hero__dots-wrapper ul.slick-dots {
    bottom: 25px
  }

  .hero__dots-wrapper li a:before {
    border: 0 !important;
    margin: 0 !important
  }

  .hero__dots-wrapper li a:before, .hero__dots-wrapper li.slick-ative a:before {
    background-color: #212b57 !important
  }

  .hero.slick-slider .slick-dots li a:before, .hero.slick-slider .slick-dots li button:before {
    opacity: .5
  }

  .hero.slick-slider .slick-dots li.slick-active a:before, .hero.slick-slider .slick-dots li.slick-active button:before {
    opacity: 1
  }

  #shopify-section-16306447962a0632f9 {
    margin-top: -24%
  }

  .custom-countdown-section--text-wrapper {
    margin-bottom: 29px
  }

  .countdown-col {
    margin: 0 5px !important
  }

  .countdown-col--number {
    font-size: 27px !important
  }

  .custom-countdown-section--countdown-wrapper {
    justify-content: space-between
  }

  #shopify-product-reviews .spr-content .spr-review {
    margin-bottom: 24px
  }

  #shopify-product-reviews .spr-summary-actions-newreview {
    display: block;
    margin-top: 45px;
    text-align: center;
    width: 100%
  }

  #shopify-product-reviews .spr-header .spr-header-title {
    margin-bottom: 32px
  }

  #shopify-product-reviews .spr-header .spr-header-title, #shopify-product-reviews .spr-summary {
    text-align: left
  }

  #shopify-product-reviews .spr-summary-caption {
    margin-left: 0
  }

  #shopify-product-reviews span.spr-summary-actions {
    width: 100%
  }

  #shopify-product-reviews .spr-summary {
    flex-wrap: wrap !important
  }

  #shopify-product-reviews .spr-pagination div span.spr-pagination-deco {
    margin-right: 5px
  }

  #shopify-product-reviews .spr-pagination div span {
    margin: 0 2px
  }

  .featured-product-item.slick-slide {
    width: 280px
  }

  .custom-featured-products .global-wrapper {
    padding: 0
  }

  .custom-featured-products--title {
    padding: 0 15px
  }

  .newsletter--form {
    width: 100%
  }

  .custom-featured-products-row .slick-list {
    box-sizing: initial;
    padding: 0 0 45px !important
  }

  .hero.slick-dotted.slick-slider {
    background: linear-gradient(0deg, #fff6eb, rgba(255, 246, 235, 0));
    height: 116vh
  }

  #HeroWrapper-163065559486e92ad7 .hero .slick-list {
    min-height: 100%
  }
}@media (max-width: 320px) {
  .featured-product-item.slick-slide {
    width: 250px !important
  }

  .hero.slick-dotted.slick-slider {
    height: 145vh !important;
    max-height: 200vh !important;
    min-height: 145vh !important
  }
}.spr-icon {
   color: #ff8900 !important
 }

  .jdgm-carousel-wrapper .jdgm-carousel__arrows {
    display: block
  }
}