@media (min-width: 992px) {
  .global-wrapper {
    min-width: 960px
  }
}

@media (min-width: 1200px) {
  .global-wrapper {
    min-width: 1200px
  }
}

@media (min-width: 1300px) {
  .global-wrapper {
    min-width: 1300px
  }
}

.btn-primary-inverted {
  background-color: #212b57;
  border: 2px solid #212b57
}

.btn-primary-inverted:hover {
  background-color: transparent;
  color: #212b57
}

.two-col-main-img {
  margin-bottom: 20px;
  width: 150px
}

.modal {
  background-color: #000;
  background-color: rgba(0, 0, 0, .4);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: .3s ease-in;
  width: 100%;
  z-index: 99999
}

.close {
  color: #212b57;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  right: 4%;
  top: 3%
}

.close:focus, .close:hover {
  color: #000;
  cursor: pointer;
  text-decoration: none
}

.title-w-two-col-row {
  margin-top: 40px
}

.title-w-two-column-no-img {
  margin-top: 50px
}

.night-trial-faq {
  background-color: #212b57;
  margin-top: 80px;
  padding: 80px 0
}

.delivery-returns-faq .bedsize-collapse .collapsible, .night-trial-faq .bedsize-collapse .collapsible, .warranty-faq .bedsize-collapse .collapsible {
  background-color: transparent;
  background-image: url(collapse-arrow-white.svg);
  color: #fff;
  transition: .2s ease-in
}

.delivery-returns-faq .bedsize-collapse .collapsible.active, .delivery-returns-faq .bedsize-collapse .collapsible:hover, .night-trial-faq .bedsize-collapse .collapsible.active, .night-trial-faq .bedsize-collapse .collapsible:hover, .warranty-faq .bedsize-collapse .collapsible.active, .warranty-faq .bedsize-collapse .collapsible:hover {
  color: #617eff
}

.delivery-returns-faq .bedsize-collapse .content, .night-trial-faq .bedsize-collapse .content, .warranty-faq .bedsize-collapse .content {
  background-color: transparent
}

.delivery-returns-faq .bedsize-collapse .content > div *, .night-trial-faq .bedsize-collapse .content > div *, .warranty-faq .bedsize-collapse .content > div * {
  color: #fff
}

.product-cta-wrapper {
  display: flex;
  padding: 80px 0;
  position: relative
}

.single-prod-cta--img {
  display: block;
  margin: 0 auto
}

.product-cta-wrapper:before {
  background-color: #f2a764;
  content: " ";
  height: 45%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.primary-product-cta {
  position: relative
}

.primary-product-cta:before {
  background-color: #212b57 !important;
  content: " ";
  height: 45%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.product-cta-wrapper--content {
  width: 100%;
  z-index: 999
}

.product-cta-title {
  margin-bottom: 40px
}

.single-prod-cta--img {
  margin-bottom: 45px
}

.faq-page-header-wrapper {
  background-color: #212b57;
  padding: 80px 0
}

.faq-page-header-form-wrapper {
  margin: 0 auto;
  width: 80%
}

.faq-page-header-form-wrapper form .btn {
  border: 2px solid #f2a764
}

.faq-page-header-form-wrapper form .btn:hover {
  background-color: transparent;
  border: 2px solid #f2a764;
  color: #f2a764
}

.faq-page-header-form-wrapper form .form-control:focus {
  outline: none
}

.faq-page-header-title {
  margin-bottom: 55px
}

#reviews .main-content {
  padding-bottom: 0;
  padding-top: 0
}

.reviews-page-wrapper {
  background-color: #ffa355;
  padding: 80px 0
}

.reviews-page-wrapper select {
  border-radius: 40px;
  color: #212b57;
  font-family: header-text, sans-serif;
  padding: 14px 20px
}

.reviews-page-wrapper select:focus, .reviews-page-wrapper select:hover {
  outline: none
}

.my-product-rating-row {
  align-items: center;
  display: flex;
  margin-top: 30px
}

.my-product-rating-row div:first-child {
  margin-right: 20px
}

.faq-row {
  margin-top: 60px
}

.faq-sidebar-nav .collapsible {
  align-items: center;
  background-color: #212b57;
  background-image: none;
  border-bottom: 0;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
  padding: 18px 15px;
  transition: .2s ease-in
}

.faq-sidebar-nav .collapsible img {
  filter: brightness(0) invert(1);
  width: 10%
}

.faq-sidebar-nav .collapsible:hover img {
  filter: none
}

.faq-sidebar-nav .collapsible a {
  color: #fff
}

.faq-sidebar-nav .collapsible:hover {
  background-color: #ffa355
}

.faq-sidebar-nav .collapsible:hover a {
  color: #212b57
}

.faq-sidebar-nav .collapsible.active {
  background-color: #ffa355
}

.faq-sidebar-nav .collapsible.active a {
  color: #212b57
}

.faq-sidebar-nav .collapsible.active img {
  filter: none
}

.faq-sidebar-nav .content > div {
  padding: 0
}

.reviews-header-row .reviews-header-col img {
  display: block;
  margin: 0 auto
}

.reviews-header-col-wrap .spr-icon {
  font-size: 21px !important
}

.reviews-header-col-wrap .spr-badge-caption {
  font-family: body-text, sans-serif;
  font-size: 20px;
  padding-left: 10px
}

.customer-reviews-wrapper #shopify-product-reviews .spr-content .spr-reviews {
  display: block !important;
  flex-wrap: nowrap
}

.customer-reviews-wrapper #shopify-product-reviews .spr-content .spr-reviews .spr-review {
  width: 100% !important
}

.faq-sidebar-nav .content ul {
  list-style-type: none;
  margin: 0
}

.faq-sidebar-nav .content ul li {
  background-color: #ffa355;
  padding: 18px 15px
}

.faq-sidebar-nav .content ul li a:hover {
  color: #fff
}

.featured-mid-text-wrapper {
  background-color: #fffaf5;
  padding: 80px 0;
  text-align: center
}

#mattress-in-a-box .main-content {
  padding: 0
}

.featured-mid-text-subtitle {
  color: #ffa355;
  font-size: 22px;
  margin-bottom: 10px
}

.mattress-box-second-wrapper {
  background-color: #212b57;
  padding: 80px 0;
  text-align: center
}

.mattress-box-fourth-wrapper {
  background-color: #fffaf5;
  padding: 80px 0
}

.mattress-three-col-wrapper {
  background-color: #fffaf5;
  padding: 30px 0 100px
}

.mattress-hero-container {
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative
}

.mattress-hero-container .global-wrapper {
  z-index: 999
}

.mattress-hero-video-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.mattress-hero-video-wrapper video {
  object-fit: cover
}

.mattress-hero-container:before {
  background-color: #ffffff63;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2
}

.mattress-hero-content-wrapper {
  text-align: center
}

.mattress-hero-title {
  margin-bottom: 85px
}

.mattress-three-col-wrapper--col__img {
  margin-bottom: 15px
}

.mattress-three-col-wrapper--col__text {
  margin-bottom: 3px
}

#warranty .main-content {
  padding: 0
}

.warranty-header-wrapper {
  padding: 80px 0;
  text-align: center
}

.warranty-header-wrapper img {
  margin-bottom: 30px
}

.warranty-faq {
  background-color: #212b57;
  padding: 80px 0
}

.warranty-second-section-wrapper {
  padding-bottom: 80px
}

.delivery-returns-faq {
  background-color: #212b57;
  padding-top: 80px
}

.delivery-returns-width {
  margin-bottom: 75px;
  text-align: center
}

.delivery-returns-wrapper {
  padding: 80px 0 100px
}

#shopify-section-faq-page-template .content {
  padding: 10px 0 0
}

@media (min-width: 1024px) {
  .title-w-two-col-header {
    margin: 0 auto;
    width: 60%
  }

  .faq-page-header-wrapper--width {
    margin: 0 auto;
    width: 65%
  }

  .featured-container, .mattress-box-second-wrapper .mattress-box-container {
    margin: 0 auto;
    width: 60%
  }

  .mattress-three-col-wrapper--flex:before {
    left: 31% !important
  }

  .mattress-three-col-wrapper--flex:after {
    left: 66% !important
  }

  .mattress-hero-content-wrapper {
    margin: 0 auto;
    width: 70%
  }

  .mattress-hero-title {
    font-size: 90px
  }

  .delivery-returns-wrapper .mattress-three-col-wrapper--flex:before {
    left: 32.5% !important
  }

  .delivery-returns-wrapper .mattress-three-col-wrapper--flex:after {
    left: 67.5% !important
  }
}

@media (min-width: 768px) {
  .title-w-two-col-row {
    display: flex;
    justify-content: space-between;
    position: relative
  }

  .title-w-two-col-block {
    padding: 10px 0;
    position: relative;
    width: 45%
  }

  .title-w-two-col-row:after {
    border: 1px solid #ffa355;
    content: " ";
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px
  }

  .faq-page-header-form-wrapper form {
    display: flex
  }

  .faq-page-header-form-wrapper form .form-control {
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px
  }

  .faq-page-header-form-wrapper form .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
  }

  .faq-page-header-form-wrapper form .form-control {
    padding: 10px 25px;
    width: 70%
  }

  .faq-page-header-form-wrapper form .btn {
    border: 2px solid #f2a764;
    width: 30%
  }

  .reviews-page-wrapper select {
    width: 40%
  }

  .reviews-header-col {
    text-align: center;
    width: 45%
  }

  .reviews-header-col-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }

  .reviews-select-wrapper {
    width: 100%
  }

  .faq-row {
    display: flex;
    justify-content: space-between
  }

  .faq-row .faq-col:first-child {
    width: 20%
  }

  .faq-row .faq-col:last-child {
    width: 70%
  }

  .mattress-box-fourth-wrapper--flex {
    display: flex
  }

  .mattress-box-fourth-wrapper__col:first-child {
    width: 44%
  }

  .mattress-box-fourth-wrapper__col:last-child {
    padding-left: 40px;
    width: 56%
  }

  .mattress-three-col-wrapper--flex {
    display: flex;
    justify-content: space-between;
    position: relative
  }

  .mattress-three-col-wrapper--col {
    width: 30%
  }

  .mattress-three-col-wrapper--flex:before {
    background-color: #ffa355;
    content: " ";
    height: 100%;
    left: 33%;
    position: absolute;
    width: 2px
  }

  .mattress-three-col-wrapper--flex:after {
    background-color: #ffa355;
    content: " ";
    height: 100%;
    left: 68%;
    position: absolute;
    width: 2px
  }

  .free-delivery-width {
    margin: 0 auto;
    width: 60%
  }

  .delivery-returns-width {
    margin: 0 auto 75px;
    width: 60%
  }
}

@media (max-width: 768px) {
  .two-col-main-img {
    width: 100px
  }

  .title-w-two-col-row {
    margin-top: 40px
  }

  .mattress-three-col-wrapper--col {
    text-align: center
  }
}

@media (max-width: 600px) {
  .title-w-two-col-block-title {
    margin-bottom: 7px
  }

  .title-w-two-col-block {
    margin-bottom: 30px
  }

  .faq-page-header-form-wrapper input {
    width: 100%
  }

  .faq-page-header-form-wrapper input:first-child {
    border-radius: 10px;
    margin-bottom: 10px
  }

  .reviews-page-wrapper select {
    width: 100%
  }

  .my-product-rating-row {
    margin-top: 15px
  }

  .reviews-header-col {
    margin-top: 20px;
    text-align: center
  }

  .mattress-box-fourth-wrapper__col:last-child {
    margin-top: 50px
  }

  .mattress-three-col-wrapper--col {
    margin-bottom: 40px
  }
}

.gPreorderBottomMessage {
  display: none !important
}

.gPreorderBtn {
  background: #288e7c !important;
  border: 1px solid #288e7c !important
}

.gPreorderWarning {
  display: none !important
}

.vtl-ub-bundle-box {
  font-size: 1em !important;
  margin-top: .8em !important;
  text-align: left !important
}

.vtl-ub-bundle-box h2 {
  font-size: 1.5em
}

.vtl-ub-bundle-box button {
  font-size: .9em !important;
  padding: 6px !important
}

.vtl-ub-bundle-box__product-image-link > img {
  height: auto !important;
  width: 100px !important
}

.vitals-popup-content-wrapper {
  background-image: url(https://cdn.shopify.com/s/files/1/0562/9873/3706/files/bgpopup.jpg?v=1641996468) !important
}

.vitals-popup-cta {
  background-color: #fff !important;
  border: 1px solid #fff !important;
  color: #3c4196
}

.vtl-pr-main-widget__summary, .vtl-pr-review-stars-snippet {
  display: none !important
}

.jdgm-carousel--card-theme .jdgm-carousel-item__inner-wrapper {
  background: #fff;
  border-radius: 8px !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1)
}

.jdgm-paginate__page.jdgm-curt {
  font-size: 100% !important;
  font-weight: 700;
  pointer-events: none
}

.jdgm-all-reviews-widget, .jdgm-rev-widg {
  border: 0 solid #eee !important;
  padding: 24px
}