body, html, h1, h2, h3, h4, h5, h6 {
  font-family: "Inter";
}

.dynamic-checkout__title.section__title {
  margin-top: 1em;
  font-size: 1.8em;
}

.section.section--reductions.hidden-on-desktop {
  display: none;
}

.logo.logo--left img {
  margin-left: -6px;
}

.breadcrumb__item {
  font-size: 14px;
}

.main__header nav {
  margin-bottom: 30px;
}

.page--logo-main .breadcrumb {
  padding-bottom: 0;
  margin-bottom: 8px;
}

.step__footer .shown-if-js {
  width: 100%;
}

.step__footer__continue-btn {
  width: 100%;
}

.step__footer__previous-link {
  display: none;
}

@media (min-width: 1000px) {
  .dynamic-checkout__title.section__title {
    margin-top: 0;
    font-size: 2em;
  }

  .main__header {
    padding-bottom: 0;
  }

  .breadcrumb__item {
    font-size: 14px;
  }
}

@media (min-width: 1300px) {
  .main__header nav {
    display: flex;
    align-items: center;
    margin-top: 1em;
    justify-content: space-between;
  }

  .page--logo-main .breadcrumb {
    margin-top: 0;
    margin-bottom: 0;
  }
}