@media (min-width: 992px) {
  .global-wrapper {
    min-width: 960px
  }
}

@media (min-width: 1200px) {
  .global-wrapper {
    min-width: 1200px
  }
}

@media (min-width: 1300px) {
  .global-wrapper {
    min-width: 1300px
  }
}

.modal {
  background-color: #000;
  background-color: rgba(0, 0, 0, .4);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: .3s ease-in;
  width: 100%;
  z-index: 99999
}

.close {
  color: #212b57;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  right: 4%;
  top: 3%
}

.close:focus, .close:hover {
  color: #000;
  cursor: pointer;
  text-decoration: none
}

#reviews .main-content {
  padding-bottom: 0;
  padding-top: 0
}

#warranty .main-content {
  padding: 0
}