@media (min-width: 992px) {
  .global-wrapper {
    min-width: 960px
  }
}

@media (min-width: 1200px) {
  .global-wrapper {
    min-width: 1200px
  }
}

@media (min-width: 1300px) {
  .global-wrapper {
    min-width: 1300px
  }
}

.modal {
  background-color: #000;
  background-color: rgba(0, 0, 0, .4);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: .3s ease-in;
  width: 100%;
  z-index: 99999
}

.close {
  color: #212b57;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  right: 4%;
  top: 3%
}

.close:focus, .close:hover {
  color: #000;
  cursor: pointer;
  text-decoration: none
}

#reviews .main-content {
  padding-bottom: 0;
  padding-top: 0
}

.reviews-header-col-wrap .spr-icon {
  font-size: 21px !important
}

.reviews-header-col-wrap .spr-badge-caption {
  font-size: 20px;
  padding-left: 10px
}

.customer-reviews-wrapper #shopify-product-reviews .spr-content .spr-reviews {
  display: block !important;
  flex-wrap: nowrap
}

.customer-reviews-wrapper #shopify-product-reviews .spr-content .spr-reviews .spr-review {
  width: 100% !important
}

#warranty .main-content {
  padding: 0
}

#shopify-section-faq-page-template .content {
  padding: 10px 0 0
}

.gPreorderBottomMessage {
  display: none !important
}

.gPreorderBtn {
  background: #288e7c !important;
  border: 1px solid #288e7c !important
}

.gPreorderWarning {
  display: none !important
}

.vtl-ub-bundle-box {
  font-size: 1em !important;
  margin-top: .8em !important;
  text-align: left !important
}

.vtl-ub-bundle-box h2 {
  font-size: 1.5em
}

.vtl-ub-bundle-box button {
  font-size: .9em !important;
  padding: 6px !important
}

.vtl-ub-bundle-box__product-image-link > img {
  height: auto !important;
  width: 100px !important
}

.vitals-popup-content-wrapper {
  background-image: url(https://cdn.shopify.com/s/files/1/0562/9873/3706/files/bgpopup.jpg?v=1641996468) !important
}

.vitals-popup-cta {
  background-color: #fff !important;
  border: 1px solid #fff !important;
  color: #3c4196
}

.vtl-pr-main-widget__summary, .vtl-pr-review-stars-snippet {
  display: none !important
}

.jdgm-carousel--card-theme .jdgm-carousel-item__inner-wrapper {
  background: #fff;
  border-radius: 8px !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1)
}

.jdgm-paginate__page.jdgm-curt {
  font-size: 100% !important;
  font-weight: 700;
  pointer-events: none
}

.jdgm-all-reviews-widget, .jdgm-rev-widg {
  border: 0 solid #eee !important;
  padding: 24px
}