:root {
  --color-primary: #FFA235;
  --color-secondary: #3C4196;
  --color-charade: #2E2F3C;
  --color-comet: #55576F;
  --color-chambray: #3C4196;
  --color-pizazz: #FF8900;
  --color-jade: #00B67A ;
}

#emma-sleep-footer {
  color: #fff !important;
  padding: 67px 0 60px;
  background: #3C4196;
}
@media (max-width: 1024px) {
  #emma-sleep-footer {
    text-align: center;
  }
}
#emma-sleep-footer ul {
  margin: 0;
}
#emma-sleep-footer .wrapper {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1300px) {
  #emma-sleep-footer .wrapper {
    min-width: 1300px;
  }
}
@media (min-width: 1200px) {
  #emma-sleep-footer .wrapper {
    min-width: 1200px;
  }
}
@media (min-width: 992px) {
  #emma-sleep-footer .wrapper {
    min-width: 960px;
  }
}
@media (min-width: 1200px) {
  #emma-sleep-footer .wrapper {
    min-width: 1300px;
  }
}
@media (min-width: 1400px) {
  #emma-sleep-footer .wrapper {
    min-width: 1350px !important;
  }
}
@media screen and (min-width: 591px) {
  #emma-sleep-footer .wrapper {
    padding: 0 30px;
  }
}
#emma-sleep-footer .footer-top-row {
  margin-bottom: 66px;
}
@media (max-width: 1024px) {
  #emma-sleep-footer .footer-top-row {
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  #emma-sleep-footer .footer-top-row {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  #emma-sleep-footer .footer-top-row .footer-logo {
    margin: 0 auto 50px auto;
  }
}
#emma-sleep-footer .footer-top-row .footer-social-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  #emma-sleep-footer .footer-top-row .footer-social-wrapper {
    display: inline-flex;
    margin: 0 auto;
  }
}
#emma-sleep-footer .footer-top-row .footer-icons-wrapper {
  display: flex;
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 0;
  text-rendering: optimizeLegibility;
}
#emma-sleep-footer .footer-top-row .footer-icons-wrapper li:first-child {
  margin-right: 21px;
}
#emma-sleep-footer .footer-mid-row {
  margin-bottom: 119px;
}
@media (min-width: 1200px) {
  #emma-sleep-footer .footer-mid-row {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  #emma-sleep-footer .footer-mid-row .newsletter-container {
    margin-bottom: 46px;
  }
}
#emma-sleep-footer .footer-mid-row .newsletter-container form {
  display: flex;
  margin-top: 33px;
}
#emma-sleep-footer .footer-mid-row .newsletter-container p {
  margin-bottom: 15px;
}
#emma-sleep-footer .footer-mid-row .newsletter-container .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
#emma-sleep-footer .footer-mid-row .newsletter-container .input-group-field {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
#emma-sleep-footer .footer-mid-row .newsletter-container .hidden-label {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
@media (max-width: 1024px) {
  #emma-sleep-footer .footer-mid-row .newsletter-container .newsletter--form {
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  #emma-sleep-footer .footer-mid-row .newsletter-container .newsletter--form {
    width: 100%;
  }
}
#emma-sleep-footer .footer-mid-row .newsletter-container .newsletter__input {
  height: 45px;
  font-size: 16px;
  padding: 13px 18px;
  box-shadow: inset 0px 4px 4px rgb(0 0 0/25%);
  border: 0;
  border-radius: 8px;
  width: 100%;
}
#emma-sleep-footer .footer-mid-row .newsletter-container .newsletter__submit {
  width: 100%;
  height: 45px;
  padding: 8px 48px;
  text-transform: Capitalize;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  line-height: 1.42;
  border-radius: 12px;
  letter-spacing: 0;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
  -webkit-appearance: none;
  background-color: #ff8900;
  color: #fff;
  transition: background-color 0.4s ease-out;
}
#emma-sleep-footer .footer-mid-row .newsletter-container .newsletter__submit:hover {
  transition: background-color 0.15s ease-out;
  background-color: #ffa53d;
  color: #fff;
}
@media screen and (max-width: 590px) {
  #emma-sleep-footer .footer-mid-row .newsletter-container .newsletter__submit-text--large {
    display: none;
  }
}
@media screen and (min-width: 591px) {
  #emma-sleep-footer .footer-mid-row .newsletter-container .newsletter__submit-text--large {
    display: block;
  }
}
@media screen and (min-width: 591px) {
  #emma-sleep-footer .footer-mid-row .newsletter-container .newsletter__submit-text--small {
    display: none;
  }
}
#emma-sleep-footer .footer-mid-row .newsletter-container .newsletter__submit-text--small .icon:before {
  display: inline;
  text-decoration: none;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#emma-sleep-footer .footer-mid-row .newsletter-container .newsletter__submit-text--small .icon-arrow-right:before {
  content: "\e901";
}
@media (max-width: 1024px) {
  #emma-sleep-footer .footer-mid-row .footer-nav-container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  #emma-sleep-footer .footer-mid-row .footer-nav-container {
    display: flex;
  }
}
@media (max-width: 1024px) {
  #emma-sleep-footer .footer-mid-row .footer-nav-container .footer-nav-col {
    width: 45%;
    margin-right: 3%;
    padding-left: 2%;
    margin-bottom: 20px;
    text-align: left;
  }
}
@media (max-width: 1024px) and (min-width: 600px) {
  #emma-sleep-footer .footer-mid-row .footer-nav-container .footer-nav-col {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  #emma-sleep-footer .footer-mid-row .footer-nav-container .footer-nav-col {
    margin-right: 40px;
  }
}
#emma-sleep-footer .footer-mid-row .footer-nav-container .footer-nav-col p {
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  #emma-sleep-footer .footer-mid-row .footer-nav-container .footer-nav-col p {
    font-size: 9px;
  }
}
#emma-sleep-footer .footer-mid-row .footer-nav-container .footer-nav-col ul li {
  margin-bottom: 9px;
}
#emma-sleep-footer .footer-mid-row .footer-nav-container .footer-nav-col ul li a {
  transition: 0.3s ease-in;
  font-size: 12px;
  color: #fff;
}
@media (max-width: 1024px) {
  #emma-sleep-footer .footer-mid-row .footer-nav-container .footer-nav-col ul li a {
    font-size: 9px;
  }
}
@media (min-width: 1200px) {
  #emma-sleep-footer .footer-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  #emma-sleep-footer .footer-bottom-row p {
    margin-bottom: 37px;
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  #emma-sleep-footer .footer-bottom-row .footer-payment-icons {
    margin: 0 auto;
  }
}
#emma-sleep-footer .text-white {
  color: #ffffff !important;
}
#emma-sleep-footer .text-lg {
  font-size: 18px;
}
#emma-sleep-footer .text-nm {
  font-size: 16px;
}
#emma-sleep-footer .font-weight-bold {
  font-weight: 700;
}
#emma-sleep-footer .form-success {
  color: #56ad6a;
  background-color: #ecfef0;
  border-color: #56ad6a;
}
#emma-sleep-footer .form-success a {
  color: #56ad6a;
  text-decoration: underline;
}
#emma-sleep-footer .form-success a:hover {
  text-decoration: none;
}
#emma-sleep-footer .note,
#emma-sleep-footer .errors {
  border-radius: 0;
  padding: 6px 12px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  font-size: 0.9em;
  text-align: left;
}
#emma-sleep-footer .note ul,
#emma-sleep-footer .note ol,
#emma-sleep-footer .errors ul,
#emma-sleep-footer .errors ol {
  margin-top: 0;
  margin-bottom: 0;
}
#emma-sleep-footer .note li:last-child,
#emma-sleep-footer .errors li:last-child {
  margin-bottom: 0;
}
#emma-sleep-footer .note p,
#emma-sleep-footer .errors p {
  margin-bottom: 0;
}
#emma-sleep-footer .note {
  border-color: #212b57;
}
#emma-sleep-footer .blog-menu-title {
  margin-top: 24px;
}
