#header .visually-hidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
#header .media {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
#header #site-nav {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 110;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  #header #site-nav {
    position: static;
    display: flex;
  }
}
#header #site-nav__languages {
  display: none !important;
}
#header .site-header {
  background-color: white;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, auto);
  align-items: center;
  height: 64px;
  max-height: 64px;
  padding: 0 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
@media (min-width: 1200px) {
  #header .site-header {
    padding: 20px 0;
  }
  #header .site-header nav {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  #header .site-header {
    grid-template-columns: minmax(0, auto) minmax(0, 1fr) minmax(0, auto);
    padding: 0 4rem;
  }
  #header .site-header .hamburger-btn {
    display: none;
  }
}
#header .site-nav.site-nav--init {
  opacity: 1;
  -webkit-transition: color 0.2s, opacity 0.1s;
  -moz-transition: color 0.2s, opacity 0.1s;
  -ms-transition: color 0.2s, opacity 0.1s;
  -o-transition: color 0.2s, opacity 0.1s;
  transition: color 0.2s, opacity 0.1s;
}
#header .site-nav {
  cursor: default;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  max-height: 75vh;
  box-shadow: 0 4px 6px -1px rgb(0 0 0/30%);
  overflow: auto;
}
@media (min-width: 1024px) {
  #header .site-nav {
    flex-direction: row;
    justify-content: center;
    height: 100%;
    max-height: 100%;
    box-shadow: none;
    width: min-content;
    overflow: unset;
  }
}
#header .site-nav__item {
  position: relative;
  margin: 0;
  white-space: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 12px;
}
@media (min-width: 1024px) {
  #header .site-nav__item {
    position: inherit;
    width: initial;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  #header .site-nav__item {
    padding-right: 20px;
  }
}
#header .site-nav__item.site-nav--has-dropdown.nav-drop-down-active .site-nav__dropdown {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: transform 300ms cubic-bezier(0.2, 0.06, 0.05, 0.95);
  -moz-transition: transform 300ms cubic-bezier(0.2, 0.06, 0.05, 0.95);
  -ms-transition: transform 300ms cubic-bezier(0.2, 0.06, 0.05, 0.95);
  -o-transition: transform 300ms cubic-bezier(0.2, 0.06, 0.05, 0.95);
  transition: transform 300ms cubic-bezier(0.2, 0.06, 0.05, 0.95);
}
#header .site-nav__dropdown {
  left: 0;
  margin: 0;
  z-index: 5;
  background-color: white;
  min-width: 100%;
  padding: 10px 0;
  position: static;
  opacity: 1;
  display: none;
  text-transform: none;
  box-shadow: none;
  pointer-events: all;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transform: translate3d(0px, -12px, 0px);
  -moz-transform: translate3d(0px, -12px, 0px);
  -ms-transform: translate3d(0px, -12px, 0px);
  -o-transform: translate3d(0px, -12px, 0px);
  transform: translate3d(0px, -12px, 0px);
}
@media (min-width: 1024px) {
  #header .site-nav__dropdown {
    position: absolute;
    top: 99%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: none;
    filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
    opacity: 0;
    pointer-events: none;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
}
#header .site-nav__dropdown--compare {
  left: -200%;
}
@media (min-width: 1280px) {
  #header .site-nav__dropdown--compare {
    left: -75%;
  }
}
#header .site-nav--has-dropdown > a {
  position: relative;
  z-index: 6;
}
#header .site-nav__link--icon {
  padding: 9px 15px;
}
#header .site-nav--has-dropdown > a:before {
  display: none !important;
}
#header .cart-link {
  position: relative;
}
#header .cart-link__bubble {
  display: none;
}
#header .cart-link__bubble--visible {
  display: block;
  position: absolute;
  top: -4px;
  right: -10px;
  width: 19px;
  height: 19px;
  padding-top: 2px;
  padding-right: 1px;
  text-align: center;
  font-size: 12px;
  color: black;
  line-height: 1.363;
  background-color: #FF8900;
  border-radius: 50%;
}
#header .header-container {
  position: relative;
  z-index: 2;
}
#header .site-header-left {
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, 1fr);
  align-items: center;
}
@media (min-width: 1024px) {
  #header .site-header-left {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
}
#header .site-header-left__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .site-header-right {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-start;
}
#header .site-header-right__cart {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  font-size: 2.14286em;
  transition: color 0.2s;
}
#header .language-redirection {
  transition: color 0.15s ease-out;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
}
#header .language-redirection:hover {
  color: #ff8900;
}
@media (min-width: 1024px) {
  #header .site-nav--minimal.site-nav__item {
    position: relative;
  }
}
#header .site-nav--minimal .site-nav__dropdown {
  width: max-content;
  height: initial;
  padding: 0;
}
#header .nav-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 4rem;
  padding: 9px 0;
  cursor: pointer;
  text-transform: capitalize;
  word-break: keep-all;
  white-space: nowrap;
}
@media (min-width: 1024px) {
  #header .nav-link {
    width: initial;
    height: auto;
    padding: 0 12px;
  }
}
#header .nav-link--is-open .nav-link__title {
  pointer-events: all !important;
}
#header .nav-link--is-open .nav-link__arrow {
  transform: rotate(180deg);
}
#header .nav-link:not(#header .nav-link--has-dropdown) .nav-link__title {
  width: 100%;
  position: static;
  pointer-events: all;
}
#header .nav-link__url {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (min-width: 1200px) {
  #header .nav-link__url {
    text-transform: capitalize;
    padding: 9px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
#header .nav-link__title {
  position: absolute;
  left: 0;
  z-index: 10;
  pointer-events: none;
  cursor: pointer;
}
@media (min-width: 1024px) {
  #header .nav-link__title {
    position: static;
    pointer-events: all;
  }
}
#header .nav-link__title:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff8900;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.15s ease-out;
}
#header .nav-link__title:hover:after {
  transform: scaleX(1);
}
#header .nav-link__title p {
  font-family: "Acumin Pro";
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}
#header .nav-link__arrow {
  transition: transform ease-in 200ms;
}
@media (min-width: 1024px) {
  #header .nav-link__arrow {
    display: none;
  }
}
#header .site-subnav {
  display: grid;
  gap: 20px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  #header .site-subnav {
    gap: 8.75rem;
    grid-template-columns: minmax(0, 0.4fr) minmax(0, 0.6fr);
    width: 70%;
    padding: 30px 0 20px;
  }
}
#header .site-subnav__item {
  width: max-content;
}
#header .site-subnav__link {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-start;
}
#header .site-subnav__cta {
  min-height: auto;
  width: max-content;
  padding: 10px 1rem;
  text-transform: none;
}
#header .site-subnav--minimal {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
}
#header .site-subnav--minimal .site-subnav__link {
  padding: 9px 15px;
  word-break: keep-all;
  white-space: nowrap;
  width: max-content;
}
#header .site-subnav--minimal .site-subnav__link:hover {
  font-weight: 600;
}
#header .site-subnav .subnav-container {
  display: grid;
  gap: 30px;
  align-content: flex-start;
}
#header .site-subnav .subnav-container__title {
  font-size: 24px;
}
@media screen and (max-width: 1024px) {
  #header .site-subnav .subnav-container__title {
    display: none;
  }
}
#header .site-subnav .subnav-container__links {
  display: grid;
  gap: 20px;
}
#header .site-subnav .subnav-container__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 8px;
  color: white;
  background: #FF8900;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
#header .site-subnav .subnav-container .compare-btn {
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  #header .site-subnav .subnav-container .compare-btn {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  #header .site-subnav .subnav-container .compare-btn {
    margin-top: 1.25rem;
  }
}
#header .site-subnav .product-spotlight {
  display: grid;
  gap: 12px;
}
#header .site-subnav .product-spotlight__link {
  width: max-content;
}
#header .site-subnav .product-spotlight__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px 3px;
  color: white;
  background: #FF8900;
  border-radius: 4px;
}
#header .site-subnav .product-spotlight__media {
  position: relative;
  height: 259px;
  border-radius: 8px;
}
#header .site-subnav .product-spotlight__content {
  display: grid;
  gap: 4px;
}
#header .site-subnav-brand-comparison {
  display: grid;
  grid-template-rows: repeat(5, minmax(0, auto));
  grid-template-columns: repeat(2, minmax(min-content, auto));
  gap: 9px;
  margin-top: 8px;
}
@media (min-width: 1024px) {
  #header .site-subnav-brand-comparison {
    grid-template-columns: minmax(240px, auto) minmax(200px, auto);
    padding: 9px 15px;
    margin-top: 0;
  }
}
#header .site-subnav-brand-comparison .site-subnav__link {
  padding: 0;
}
