.site-header {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, auto);
  align-items: center;
  height: 64px;
  max-height: 64px;
  padding: 0 12px;
}

@media (min-width: 1400px) {
  .site-header {
    min-width: 1350px;
  }
}
@media (min-width: 1200px) {
  .site-header {
    min-width: 1300px;
  }
}
@media (min-width: 1024px) {
  .site-header {
    grid-template-columns: minmax(0, auto) minmax(0, 1fr) minmax(0, auto);
    padding: 0 4rem;
  }
}
@media (min-width: 1024px) {
  .site-header .hamburger-btn {
    display: none;
  }
}
.site-header-left {
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, 1fr);
  align-items: center;
}

.site-header-left__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .site-header-left {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
}
.site-header-right {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.site-header-right__cart {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
  font-family: Helvetica, Helvetica Neue, Arial, Lucida Grande, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.14286em;
  transition: color 0.2s;
}

.site-header-right__cart .cart-link__bubble {
  top: 7px;
  right: -2px;
}

.language-redirection {
  transition: color 0.15s ease-out;
  text-transform: uppercase;
  font-family: Calibre, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
}
.language-redirection:hover {
  color: #ff8900;
}
