.hero-sale-badge {
    display: none;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    transform: rotate(10deg);
    color: #fff;
    background: #ff8900;
    border-radius: 50%
}

.hero-sale-badge .badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 98%;
    font-weight: 500;
    font-size: .6rem
}

.hero-sale-badge .badge .discount-percent {
    font-size: 1rem;
    font-weight: 600
}

@media screen and (min-width: 768px) {
    .hero-sale-badge {
        position: absolute;
        right: 00px;
        top: calc(100% - 25px);
        height: 110px;
        width: 110px
    }

    .hero-sale-badge .badge {
        font-size: .8rem
    }

    .hero-sale-badge .badge .discount-percent {
        font-size: 1.4rem
    }
}
