#klarna-banner-section {
    display: flex;
    align-items: center;
    min-height: 50px;
    max-height: 50px;
    margin: 12px auto;
    background-color: #f1f1f1;
  justify-content:center;
}

#klarna-banner-section .section-content {
    display: grid;
    gap: 16px;
    grid-template-rows: minmax(0, 1fr);
    grid-template-columns: minmax(0, 0.3fr) minmax(0, 0.7fr);
    align-items: center;
    justify-content: center;
}
#klarna-banner-section .klarna-logo {
    display: flex;
    justify-content: flex-end;
}
#klarna-banner-section .klarna-logo img {
    width: 50px;
}
@media screen and (min-width: 769px) {
    #klarna-banner-section {
        min-height: 80px;
        max-height: 80px;
    }
    #klarna-banner-section .section-content {
        grid-template-columns: repeat(2, minmax(0, auto));
        border-radius: 12px;
    }
    #klarna-banner-section .klarna-logo img {
        width: 100px;
    }
}
#klarna-banner-section klarna-placement ::part(osm-message) {
    font-size: 0;
    text-align: left;
}
#klarna-banner-section klarna-placement ::part(osm-message):before {
    color: #17120f;
    white-space: nowrap;
    background: 0 0;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    content: var(--first-msg);
}
@media screen and (min-width: 769px) {
    #klarna-banner-section klarna-placement ::part(osm-message):before {
        font-size: 20px;
    }
}
#klarna-banner-section klarna-placement ::part(osm-logo) {
    display: none;
}
#klarna-banner-section klarna-placement ::part(osm-cta) {
    position: relative;
    font-size: 0;
}
#klarna-banner-section klarna-placement ::part(osm-cta):after {
    color: #17120f;
    white-space: nowrap;
    background: 0 0;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    content: var(--second-msg);
    text-decoration: underline;
}
@media screen and (min-width: 769px) {
    #klarna-banner-section klarna-placement ::part(osm-cta):after {
        font-size: 20px;
    }
}
@media(max-width:551px){
  #klarna-banner-section .section-content{
    padding-right:75px
  }
}
