:root {
  --color-primary: #ffa235;
  --color-secondary: #3c4196;
  --color-charade: #2e2f3c;
  --color-comet: #55576f;
  --color-chambray: #3c4196;
  --color-pizazz: #ff8900;
  --color-jade: #00b67a;
  --color-cultured: #f7f7f9;
  --color-spun-pearl: #b0b1c2;
  --color-athens-gray: #e6e7ec;
  --color-lochinvar: #288e7c;
  --color-scampi: #6469aa;
  --color-lapis-blue: #2c3183;
  --color-steel: #7f819d;
  --color-calm-600: #693f73;
  --color-scarlet: #f03306;
}
@keyframes mattress-firmness-scaling-pointer {
  0%,
  100% {
    width: 20%;
  }
  50% {
    width: 100%;
  }
}
#mattress-firmness-section {
  --scale-point: 5;
  background: #fff;
}
#mattress-firmness-section .scale-container {
  display: grid;
  gap: 16px;
  grid-template-columns: minmax(0, 0.8fr);
  justify-content: center;
  margin: 40px 0;
}
#mattress-firmness-section .metric-labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mattress-firmness-section .metric-labels .metric-label {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f3c;
}
#mattress-firmness-section .scale-pillar {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}
#mattress-firmness-section .scale-beam {
  width: 100%;
  height: 15px;
  background:linear-gradient(270deg,#2e2f3c 0,rgb(164 167 199 / 44%) 50%,#ecedf6 100%);
  border-radius: 24px;
}
#mattress-firmness-section .scale-beam:empty {
  display: block;
}
@media screen and (min-width: 769px) {
  #mattress-firmness-section .scale-container {
    gap: 8px;
    grid-template-columns: minmax(1fr, 774px);
    margin: 70px 0;
  }
  #mattress-firmness-section .scale-beam {
    height: 24px;
  }
}
#mattress-firmness-section .scale-apex {
  pointer-events: none;
  transform: translateX(calc(10% * var(--scale-point)));
}
#mattress-firmness-section .scale-apex--animation {
  animation: 3s infinite mattress-firmness-scaling-pointer;
}
#mattress-firmness-section .scale-pointer {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #2e2f3c;
  border-radius: 100%;
  transform: translateX(-50%);
}
#mattress-firmness-section .firmness-point {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 769px) {
  #mattress-firmness-section .scale-pointer {
    width: 98px;
    height: 98px;
  }
  #mattress-firmness-section .firmness-point {
    font-size: 60px;
  }
}
