#product-attributes-section {
  padding: 30px 1rem;
}
@media (min-width: 768px) {
  #product-attributes-section {
    padding: 30px 2rem;
  }
}
@media (min-width: 1024px) {
  #product-attributes-section {
    padding: 30px 4rem;
  }
}
#product-attributes-section .wrapper {
  display: grid;
  gap: 30px;
  grid-auto-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) {
  #product-attributes-section .wrapper {
    gap: 50px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: initial;
  }
}
@media (min-width: 1024px) {
  #product-attributes-section .wrapper {
    gap: 50px 111px;
  }
}
#product-attributes-section .title {
  margin: 0 0 20px 0;
  padding: 0;
  color: #2e2f3c;
  text-align: center;
}
@media (min-width: 768px) {
  #product-attributes-section .title {
    margin: 0 0 50px 0;
  }
}
#product-attributes-section .product-attributes {
  display: grid;
  gap: 20px;
  grid-auto-flow: row;
}
@media (min-width: 768px) {
  #product-attributes-section .product-attributes {
    gap: 40px;
  }
}
#product-attributes-section .product-attribute {
  display: grid;
  gap: 8px 18px;
  grid-template-columns: minmax(0, 0.3fr) minmax(0, 0.7fr);
  grid-template-rows: minmax(0, auto) minmax(0, 1fr);
  justify-content: center;
  justify-items: center;
  text-align: left;
}
@media (min-width: 768px) {
  #product-attributes-section .product-attribute {
    gap: 8px 30px;
    grid-template-columns: minmax(0, auto) minmax(0, 352px);
    justify-items: self-end;
  }
}
#product-attributes-section .product-attribute__icon {
  grid-row: 1/span 2;
}
#product-attributes-section .product-attribute__title {
  width: 100%;
  color: #2e2f3c;
  text-align: left;
  font-weight: 600;
}
#product-attributes-section .product-attribute__content {
  word-wrap: normal;
}
#product-attributes-section .gallery {
  display: grid;
  gap: 20px;
  grid-auto-flow: row;
  border-radius: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  #product-attributes-section .gallery {
    gap: 40px;
    min-height: 750px;
  }
}
#product-attributes-section .gallery__item {
  min-height: 220px;
}
