.product-main-banner {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 30rem;
}

@media (min-width: 768px) {
  .product-main-banner {
    height: 26rem;
    align-items: center;
    justify-content: flex-start;
  }
}
.product-main-banner--rounded {
  margin: 0 1rem;
  border-radius: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .product-main-banner--rounded {
    margin: 0 2rem;
  }
}
@media (min-width: 1024px) {
  .product-main-banner--rounded {
    margin: 0 4rem;
  }
}

#product-main-banner {
  background-color: white;
}
#product-main-banner .main-content {
  z-index: 2;
  display: grid;
  gap: 20px;
  grid-auto-flow: row;
  justify-items: center;
  width: 100%;
  padding: 40px 21px;
  text-align: center;
}
@media (min-width: 768px) {
  #product-main-banner .main-content {
    justify-items: flex-start;
    width: 50%;
    padding: 2rem 0 2rem 3rem;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  #product-main-banner .main-content {
    padding: 2rem 0 2rem 6rem;
  }
}
#product-main-banner .main-content__title > * {
  z-index: 2;
  font-family: "Tiempos";
  color: #ff8900;
  font-size: 31px;
  line-height: 37.2px;
  white-space: break-spaces;
}
#product-main-banner .main-content__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: fit-content;
  margin: 0;
  padding: 0 4rem;
  border-radius: 50px;
  border: none;
  background-color: #ff8900;
  color: white;
  text-transform: uppercase;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
#product-main-banner .wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#product-main-banner .wallpaper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  #product-main-banner .main-content__title > * {
    font-size: 39px;
    line-height: 47px;
  }
}
@media (min-width: 768px) {
  #product-main-banner .main-content__subtitle {
    font-size: 20px;
    line-height: 30px;
  }
}
