.product-faq {
    display: grid;
    gap: 17px;
    grid-template-columns: initial;
    padding: 20px 1rem;
    width: 100%;
    background-color: white;
}

@media (min-width: 768px) {
    .product-faq {
        gap: 40px;
        grid-template-columns: minmax(0, 0.3fr) minmax(0, 0.7fr);
        justify-content: space-between;
        padding: 30px 4rem;
    }
}

@media (min-width: 1024px) {
    .product-faq {
        padding: 40px 11rem;
    }
}

.accordion-wrapper.is-open .accordion__circle {
    background-color: #3C4196;
}

.accordion-wrapper.is-open .accordion .arrow {
    transform: rotate(-135deg);
    border: solid white;
    border-width: 0 1px 1px 0;
}

.accordion__title {
    font-weight: 600;
}

.accordion__circle {
    border: 1px solid #3C4196;
    height: 30px;
    width: 30px;
    min-width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms;
}

.accordion .arrow {
    border: solid #3C4196;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    transition: all 200ms;
}

.divider {
    display: block;
    height: 1px;
    background-color: rgba(46, 47, 60, 0.3);
}
