#affiliate-announcement-bar-section {
  position: sticky;
  top: -1px;
  z-index: 101;
  display: none;
  width: 100%;
  height: 100%;
  min-height: 34px;
  background-color: var(--bg-color);
}

#affiliate-announcement-bar-section .affiliate-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  flex: 1;
  justify-content: center;
  justify-items: center;
  align-items: center;
  min-height: 2.2rem;
  padding: 0.4rem 0;
}

#affiliate-announcement-bar-section p {
  color: var(--text-color);
  font-size: 14px;
  font-family: Inter, sans-serif;
}

#affiliate-announcement-bar-section .affiliate-logo {
  height: 100%;
  width: auto;
  max-width: 70%;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  #affiliate-announcement-bar-section p {
    font-size: 16px;
  }
  #affiliate-announcement-bar-section .affiliate-container {
    gap: 0.5rem;
    flex-direction: row;
    max-height: 2.2rem;
  }
  #affiliate-announcement-bar-section .affiliate-logo {
    max-width: 30%;
  }
}
