#hero-banner-section {
    z-index: 1;
}
#hero-banner-section .page-boundary {
    display: flex;
    justify-content: center;
}

@media screen and (min-width:768px) {
 
    #hero-banner-section .page-boundary {
    justify-content: flex-start;
}
}#hero-banner-section .shop-star-rating {
    display: grid;
    gap: 8px;
    align-items: center;
    justify-items: center;
}
@media screen and (min-width:769px) {
    #hero-banner-section {
    padding: 0;
}
#hero-banner-section .shop-star-rating {
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, auto);
    justify-content: flex-start;
}
}#hero-banner-section .shop-star-rating .star-icon {
    height: 24px;
}
#hero-banner-section .shop-star-rating .average-score {
    font-size: 24px;
}
#hero-banner-section .shop-star-rating .total-reviews {
    font-size: 20px;
}
#hero-banner-section .section-content {
  top:4em;
    position: absolute;
    display: grid;
    gap: 24px;
    align-content: space-between;
    justify-items: center;
    height: 100%;
    padding: calc(24px + 12px) calc(16px + 12px);
    opacity: 1;
}
@media screen and (max-width:768px) {
  #hero-banner-section .section-cta{
    margin-top:0
  }
    #hero-banner-section .section-content {
      padding: 36px 25px;
    inset: 0;
    width: 100%}
}
@media screen and(min-width:1451px){
    #hero-banner-section .section-content{
    top: 6.5em;
  }
}

@media screen and (min-width:768px) {
    #hero-banner-section .section-content {

    gap: 40px;
    align-content: flex-start;
    justify-items: flex-start;
    width:90%;
      max-width:1320px;
    padding: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
  #hero-banner-section .section-content .text-box{
    max-width: 528px;
  }
}@media screen and (min-width:1024px) {
    #hero-banner-section .section-content {
    margin-left: 0;
}
}#hero-banner-section .section-content .text-box {
    display: grid;
    gap: 16px;
    justify-items: center;
    text-align: center;
}
@media screen and (min-width:768px) {
    #hero-banner-section .section-content .text-box {
    justify-items: flex-start;
    text-align: left;
}
}#hero-banner-section .section-cta {
    display: grid;
    gap: 16px;
    grid-template-columns: minmax(0, 1fr);
    justify-content: center;
    width: 100%;
    max-width: 256px;
    text-align: center;
}
@media screen and (min-width:769px) {
    #hero-banner-section .section-cta {
    max-width: 288px;
}
  @media(max-width:768px){
     #hero-banner-section .heading-1{
       font-size:35px;
     }
  }
}#hero-banner-section .section-cta .cta-subtext {
    margin-top: -8px;
}
#hero-banner-section .wallpaper {
    z-index: -1;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}
#hero-banner-section .wallpaper img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%}