.site-header {
  background-color: white;
  padding: 15px 0;
}

.site-header .grid--table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.site-header .grid--table > .grid__item {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

.header-wrapper--transparent .site-header {
  background-color: transparent;
}

.site-header__logo {
  text-align: center;
  margin: 0 auto;
}

.site-header__logo-image {
  display: block;
  margin: 0 auto;
}

.header-wrapper--transparent .site-header__logo-image {
  display: none;
}

.site-header__logo-image--transparent {
  display: none;
}

.header-wrapper--transparent .site-header__logo-image--transparent {
  display: block;
}

.site-header__logo-link {
  display: block;
}

.site-header__logo-link,
.site-header__logo-link:hover {
  color: #1c1d1d;
  margin: 0 auto;
  text-decoration: none;
}


.site-nav, .site-nav--mobile {
  cursor: default;
  margin: 0;
  margin-left: -15px;
}

.site-nav__item {
  position: relative;
  display: inline-block;
  margin: 0;
}

.site-nav__item li {
  display: block;
}

.site-nav--mobile {
  margin-left: -10px;
}

.site-nav--mobile.text-right {
  margin: 0 -10px 0 0;
}

.site-nav__link {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  white-space: nowrap;
  font-size: 1em;
}

.site-nav__link .icon-arrow-down {
  position: relative;
  top: -2px;
  padding-left: 7.5px;
  font-size: 10px;
}

.site-nav__dropdown-link .icon-arrow-down {
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 10px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

.site-nav__dropdown-grandchild .site-nav__dropdown-link {
  white-space: normal;
}

.site-nav__link--icon {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.site-nav--mobile .site-nav__link {
  display: inline-block;
}

.site-nav--mobile .icon {
  font-size: 2.14286em;
}

.site-nav__dropdown {
  opacity: 0;
  display: block;
  position: absolute;
  left: 0;
  margin: 0;
  z-index: 5;
  pointer-events: none;
}

.site-nav__dropdown a {
  background-color: white;
  text-align: left;
}

.site-nav__dropdown a:hover, .site-nav__dropdown a:active {
  background-color: #e6e6e6;
}

.site-nav__dropdown.nav-outside {
  left: auto;
  right: 0;
}

.site-nav__dropdown-grandchild {
  position: absolute;
  top: -10px;
  left: 100%;
  width: 100%;
  margin: 0;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
}

.site-nav__dropdown-grandchild a {
  background-color: white;
}

.site-nav__dropdown-grandchild a:hover, .site-nav__dropdown-grandchild a:active {
  background-color: #e6e6e6;
}

.site-nav__dropdown-grandchild ul {
  background-color: white;
  padding: 10px 0;
  margin: 0 0 0 2px;
}

.site-nav__dropdown-grandchild.nav-outside {
  left: -100%;
}


@media screen and (min-width: 769px) {
  .site-nav__link--icon .icon {
    font-size: 1.57143em;
  }
}

.cart-link {
  position: relative;
}

.cart-link__bubble {
  display: none;
}

.cart-link__bubble--visible {
  display: block;
  position: absolute;
  top: -2px;
  right: -10px;
  width: 19px;
  height: 19px;
  padding-top: 2px;
  padding-right: 1px;
  text-align: center;
  font-size: 12px;
  color: black;
  background-color: #FF8900;
  border-radius: 50%;
}

@media screen and (min-width: 769px) {
  .site-nav__link--icon .icon {
    font-size: 1.57143em;
  }
}

.cart-link {
  position: relative;
}

.cart-link__bubble {
  display: none;
}

.cart-link__bubble--visible {
  display: block;
  position: absolute;
  top: -2px;
  right: -10px;
  width: 19px;
  height: 19px;
  padding-top: 2px;
  padding-right: 1px;
  text-align: center;
  font-size: 12px;
  color: black;
  background-color: #FF8900;
  border-radius: 50%;
}


.header-wrapper--transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 2;
}

.template-index .header-wrapper {
  opacity: 0;
  z-index: 2;
  -webkit-animation: fadeIn 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87) forwards;
  -moz-animation: fadeIn 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87) forwards;
  -o-animation: fadeIn 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87) forwards;
  animation: fadeIn 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87) forwards;
}

.supports-no-cssanimations .template-index .header-wrapper {
  opacity: 1;
  -webkit-animation: fadeIn 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87);
  -moz-animation: fadeIn 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87);
  -o-animation: fadeIn 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87);
  animation: fadeIn 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87);
}

.header-container {
  position: relative;
  z-index: 2;
}


@media screen and (max-width: 768px) {
  .site-header {
    padding: 0;
  }
  .site-header .grid--table {
    height: 80px;
  }
}

.site-header__logo .logo--inverted {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;
}

.is-light .site-header__logo .logo--inverted {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.site-header__logo {
  font-size: 1.42857em;
}

@media screen and (min-width: 769px) {
  .site-header__logo {
    text-align: left;
    font-size: 1.78571em;
  }
}

@media screen and (max-width: 768px) {
  .site-header__logo img {
    max-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.site-header__logo a,
.header-logo a {
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.site-nav,
.site-nav--open {
  white-space: nowrap;
  opacity: 0;
}

.no-js .site-nav, .site-nav.site-nav--init, .no-js,
.site-nav--open,
.site-nav--open.site-nav--init {
  opacity: 1;
  -webkit-transition: color 0.2s, opacity 0.1s;
  -moz-transition: color 0.2s, opacity 0.1s;
  -ms-transition: color 0.2s, opacity 0.1s;
  -o-transition: color 0.2s, opacity 0.1s;
  transition: color 0.2s, opacity 0.1s;
}

.burger-icon {
  display: block;
  height: 2px;
  width: 18px;
  left: 25px;
  margin-left: -9px;
  position: absolute;
  transition: all 0.25s ease-out;
  background: #1c1d1d;
}

.js-drawer-open-left .burger-icon {
  width: 24px;
  top: calc(50% - 1px);
  left: calc(50% - 4px);
}

@media screen and (min-width: 769px) {
  .burger-icon {
    width: 20px;
    left: 27px;
    margin-left: -12px;
  }
  .js-drawer-open-left .burger-icon {
    width: 25px;
    top: calc(50% - 1px);
    left: calc(50% - 2px);
  }
}

.burger-icon--top {
  top: 17px;
}

.js-drawer-open-left .burger-icon--top {
  top: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger-icon--mid {
  top: 24px;
}

.js-drawer-open-left .burger-icon--mid {
  opacity: 0;
}

.burger-icon--bottom {
  top: 31px;
}

.js-drawer-open-left .burger-icon--bottom {
  top: 25px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.site-nav__link--burger {
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  line-height: 50px;
  background-color: transparent;
  border: 0;
  position: relative;
  top: 4px;
  transition: transform 0.15s ease-out;
}

.site-nav__link--burger svg {
  width: 20px;
  height: 30px;
}

.site-nav__link--burger::after {
  border-color: #000;
}

.site-nav__item {
  white-space: normal;
}

.site-nav__link {
  font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  font-size: 1em;
}

.site-nav--has-dropdown > a {
  position: relative;
  z-index: 6;
}

.site-nav--has-dropdown:hover > a,
.site-nav--has-dropdown > a.nav-focus, .site-nav--has-dropdown.nav-hover > a {
  color: #1c1d1d;
  background-color: white;
  opacity: 1;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.site-nav--has-dropdown:hover > a:before,
.site-nav--has-dropdown > a.nav-focus:before, .site-nav--has-dropdown.nav-hover > a:before {
  content: "";
  position: absolute;
  left: 15px;
  right: 30px;
  bottom: 0;
  display: block;
  background-color: #1c1d1d;
  height: 1px;
  z-index: 6;
}

.site-nav--has-dropdown.site-nav--has-dropdown-grandchild a:before {
  display: none;
}

.site-nav__dropdown {
  background-color: white;
  min-width: 100%;
  padding: 10px 0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
  -webkit-transform: translate3d(0px, -12px, 0px);
  -moz-transform: translate3d(0px, -12px, 0px);
  -ms-transform: translate3d(0px, -12px, 0px);
  -o-transform: translate3d(0px, -12px, 0px);
  transform: translate3d(0px, -12px, 0px);
}

.supports-no-touch .site-nav--has-dropdown:hover .site-nav__dropdown, .site-nav--has-dropdown.nav-hover .site-nav__dropdown, .nav-focus + .site-nav__dropdown {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.supports-no-touch .site-nav--has-dropdown:hover .site-nav__dropdown, .site-nav--has-dropdown.nav-hover .site-nav__dropdown {
  -webkit-transition: transform 300ms cubic-bezier(0.2, .06, .05, .95);
  -moz-transition: transform 300ms cubic-bezier(0.2, .06, .05, .95);
  -ms-transition: transform 300ms cubic-bezier(0.2, .06, .05, .95);
  -o-transition: transform 300ms cubic-bezier(0.2, .06, .05, .95);
  transition: transform 300ms cubic-bezier(0.2, .06, .05, .95);
}

.site-nav__dropdown-grandchild {
  min-width: 100%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
  -webkit-transform: translate3d(-12px, 0px, 0px);
  -moz-transform: translate3d(-12px, 0px, 0px);
  -ms-transform: translate3d(-12px, 0px, 0px);
  -o-transform: translate3d(-12px, 0px, 0px);
  transform: translate3d(-12px, 0px, 0px);
}

.nav-outside + .site-nav__dropdown-grandchild {
  -webkit-transform: translate3d(12px, 0px, 0px);
  -moz-transform: translate3d(12px, 0px, 0px);
  -ms-transform: translate3d(12px, 0px, 0px);
  -o-transform: translate3d(12px, 0px, 0px);
  transform: translate3d(12px, 0px, 0px);
}

.supports-no-touch .site-nav--has-dropdown-grandchild:hover .site-nav__dropdown-grandchild, .site-nav--has-dropdown-grandchild.nav-hover .site-nav__dropdown-grandchild, .nav-focus + .site-nav__dropdown-grandchild {
  opacity: 1;
  pointer-events: initial;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.supports-no-touch .site-nav--has-dropdown-grandchild:hover .site-nav__dropdown-grandchild, .site-nav--has-dropdown-grandchild.nav-hover .site-nav__dropdown-grandchild {
  -webkit-transition: transform 300ms cubic-bezier(0.2, .06, .05, .95);
  -moz-transition: transform 300ms cubic-bezier(0.2, .06, .05, .95);
  -ms-transition: transform 300ms cubic-bezier(0.2, .06, .05, .95);
  -o-transition: transform 300ms cubic-bezier(0.2, .06, .05, .95);
  transition: transform 300ms cubic-bezier(0.2, .06, .05, .95);
}

.site-nav__dropdown a,
.site-nav__grandchild-dropdown a {
  background-color: transparent;
}

.site-nav__dropdown a:hover, .site-nav__dropdown a:active, .site-nav__dropdown a:focus,
.site-nav__grandchild-dropdown a:hover,
.site-nav__grandchild-dropdown a:active,
.site-nav__grandchild-dropdown a:focus {
  background-color: transparent;
}

.site-nav__dropdown-link {
  display: block;
  white-space: nowrap;
  padding: 5px 15px;
  font-size: 1.14286em;
}

.site-nav--has-grandchildren .site-nav__dropdown-link {
  padding-right: 45px;
}

.site-nav--compress .site-nav__item:not(.site-nav__item--compressed) {
  display: none;
}

@media screen and (min-width: 769px) {
  .site-nav--open {
    display: none;
  }
}

.site-nav--open.site-nav--open__display {
  display: inline-block;
}

.site-nav--search__bar {
  vertical-align: middle;
  padding: 0 10px 7px 0;
}

.site-nav--search__bar input {
  background-color: #f7f7f7;
}

@media (min-width: 1200px) {
  .site-header nav {
    width: 100%
  }

  .site-header .grid__item.large--one-third.medium-down--one-half {
    width: 27%;
  }

  .site-header {
    padding: 20px 0
  }
}

@media (max-width: 600px) {
  @media (min-width: 1200px) {
    .site-header nav {
      width: 100%;
    }

    .site-nav li a {
      font-family: 'body-text', sans-serif;
      text-transform: capitalize;
      padding: 9px 15px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .site-nav__dropdown {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .site-nav li {
      padding-right: 20px;
    }

    .site-nav li:last-child {
      padding-right: 0;
    }

    .site-header .grid__item.large--one-third.medium-down--one-half {
      width: 27%;
    }

    .site-header {
      padding: 20px 0;
    }

    #shopify-section-header {
      position: sticky;
      top: 0;
      z-index: 101;
    }
  }
}