.__pf .pf-35_.sc-igXgud {
  margin-top: 0 !important;
}

.sc-ckTSus.kVjkXt.pf-36_, .sc-ckTSus.kVjkXt.pf-389_ {
  display: none
}

@media (max-width: 600px) {
  .sc-ckTSus.kVjkXt.pf-36_, .sc-ckTSus.kVjkXt.pf-389_ {
    display: none
  }
}

.delivery-icons {
  align-items: center;
  justify-content: space-between;
  line-height: 1.3em
}

.delivery-icons > div {
  align-items: center;
  color: #3e51a3;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700
}

@media (max-width: 1199px) {
  .delivery-icons div {
    margin-bottom: 10px;
    width: 100%
  }

  .delivery-icons {
    flex-wrap: wrap
  }
}

@media (max-width: 767px) {
  .delivery-icons {
    flex-wrap: wrap
  }
}