{% liquid
    assign settings = block.settings
%}

<accordion-block :type="{{ settings.type }}" class="px-{{ settings.spacing_x }} py-{{ settings.spacing_y }}"
                 :settings="{{ settings | json | escape }}">
    {% content_for 'blocks' %}
</accordion-block>

{% schema %}
{
  "name": "Accordion",
  "tag": null,
  "blocks": [
    {
      "type": "accordion-item"
    },
    {
      "type": "separator"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "type",
      "label": "Column Type",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "featuring",
          "label": "Featuring"
        }
      ],
      "default": "none",
      "info": "Choose the column type"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "Vertical Alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "flex-end",
          "label": "Bottom"
        }
      ],
      "default": "center",
      "info": "Use Flexbox or Grid align"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "Horizontal Alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center",
      "info": "Use Flexbox or Grid justify"
    },
    {
      "id": "text_alignment",
      "type": "text_alignment",
      "label": "Text alignment",
      "default": "left"
    },
    {
      "type": "range",
      "id": "spacing_x",
      "label": "Spacing X",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "info": "Horizontal padding, 1 unit = 4px"
    },
    {
      "type": "range",
      "id": "spacing_y",
      "label": "Spacing Y",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "info": "Vertical padding, 1 unit = 4px"
    }
  ],
  "presets": [
    {
      "name": "Accordion",
      "blocks": [
        {
          "type": "accordion-item",
          "name": "Accordion Item 1",
          "blocks": [
            {
              "type": "heading",
              "name": "Label",
              "id": "label",
              "static": true,
              "settings": {
                "content": "<p>Accordion Label</p>"
              },
              "blocks": {}
            },
            {
              "type": "paragraph",
              "name": "Content",
              "id": "content",
              "static": true,
              "settings": {
                "content": "<p>Accordion Content</p>"
              },
              "blocks": {}
            }
          ]
        },
        {
          "type": "accordion-item",
          "name": "Accordion Item 2",
          "blocks": [
            {
              "type": "heading",
              "name": "Label",
              "id": "label",
              "static": true,
              "settings": {
                "content": "<p>Accordion Label</p>"
              },
              "blocks": {}
            },
            {
              "type": "paragraph",
              "name": "Content",
              "id": "content",
              "static": true,
              "settings": {
                "content": "<p>Accordion Content</p>"
              },
              "blocks": {}
            }
          ]
        },
        {
          "type": "accordion-item",
          "name": "Accordion Item 3",
          "blocks": [
            {
              "type": "heading",
              "name": "Label",
              "id": "label",
              "static": true,
              "settings": {
                "content": "<p>Accordion Label</p>"
              },
              "blocks": {}
            },
            {
              "type": "paragraph",
              "name": "Content",
              "id": "content",
              "static": true,
              "settings": {
                "content": "<p>Accordion Content</p>"
              },
              "blocks": {}
            }
          ]
        }
      ],
      "settings": {
        "type": "none",
        "spacing_y": 0,
        "spacing_x": 0,
        "horizontal_alignment": "center",
        "vertical_alignment": "center"
      }
    }
  ]
}
{% endschema %}
