.is-disabled {
  &[role=button], &button {
    cursor: not-allowed;
  }

  cursor: not-allowed;
}

@mixin createGridOrder($min, $max) {
  @for $i from $min to $max {
    .grid-row-#{$i} {
      grid-row: $i;
    }
    .grid-col-#{$i} {
      grid-column: $i;
    }
  }
}

@include createGridOrder(1, 100)
