@import "../abstracts/functions";
@import "../legacy/pagefly-customization";
@import "../legacy/base-legacy";
@import "../legacy/user-page";
@import "../legacy/affirm-legacy";
@import "../typography/index";
@import "../elements/index";
@import "../vendors/index";
@import "./utils";
@import "./global";

* {
  font-variant-ligatures: none;
}

html {
  scroll-padding-top: 10rem;
  color: #2E2F3C;
}

body {
  color: #2E2F3C;
}

.dummy-chat-button-iframe {
  z-index: 200!important;
}

#ShopifyChat {
  &:not([isopen="true"]) {
    z-index: 200 !important;
  }
}

.no-scroll {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  // position: fixed; remove due to CA has sticky navigation bar
}
