.about-us-header {
  align-items: center;
  background-attachment: scroll;
  background-color: #3c4196;
  background-image: url(https://cdn.shopify.com/s/files/1/0568/9049/1074/t/2/assets/gradientbg-1638440140831.png?v=1638440144);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1.5em;
  padding: 2em;
  place-content: center
}