#awards-accordion {
  .awards-accordion--button {
    margin-bottom: 0
  }

  .awards-accordion .collapsible {
    padding: 20px 50px 20px 0
  }

  .bedsize-collapse.awards-accordion .content > div {
    padding: 15px 0 0
  }

  .awards-accordion-ul {
    border-left: 1px solid #ffa355;
    margin: 0 0 15px 20px;
    padding: 0;
    text-rendering: optimizeLegibility;
  }

  .awards-accordion-ul li {
    margin-bottom: 30px !important;
    padding-left: 35px;
    position: relative
  }

  .awards-accordion-ul li:after {
    background-color: #ffa355;
    border-radius: 50%;
    content: " ";
    height: 1rem;
    left: -3%;
    position: absolute;
    top: 0;
    width: 1rem
  }

  .awards-accordion-ul li p:first-child {
    line-height: 1.1em;
    margin-bottom: 10px
  }

  @media (min-width: 1024px) {
    .awards-accordion .collapsible {
      border-bottom: 0;
    }

    .awards-accordion .content {
      max-height: 100%
    }
  }

  @media (max-width: 768px) {
    .awards-accordion-ul li:after {
      left: -1.2%
    }
  }

  @media (max-width: 600px) {
    .awards-accordion-ul li:after {
      left: -2.5%
    }
  }
}
