.mini-cta {
  margin-top: 40px;
}

#mini-cta {
  .mini-cta-wrapper {
    background-color: #F0F0F5;
    margin-bottom: 50px;
    padding: 35px 0;
    text-align: center
  }

  .mini-cta-btn {
    width: max-content;
    margin: 0 auto;
  }

  .mini-cta-description {
    margin-bottom: 35px
  }

  @media (max-width: 600px) {
    .mini-cta-wrapper {
      padding: 35px 20px
    }
  }
}