#our-team {
  .our-team-row--block__title {
    margin-bottom: 10px
  }

  .our-team-row {
    display: flex;
    margin: 45px 0 55px
  }

  .join-team-btn {
    margin-top: 30px;
    width: max-content;
  }

  @media (min-width: 1024px) {
    .our-team-row--block {
      width: 25%
    }
  }

  @media (max-width: 768px) {
    .our-team-row--block {
      margin-bottom: 20px;
      width: 50%
    }

    .our-team-row {
      flex-wrap: wrap
    }
  }
}