<style>
    /* @media (max-width: 1199px){
    .multicolumn-card__title{
      font-size:18px;
    }
  }
  @media (max-width:769px){
    .multicolumn-list{
      flex-wrap:wrap;
    }
    .multicolumn-card.center{
      width:45% !important;
      padding:20px;
      display:flex;
      align-items:center;
    }
     .multicolumn-card__details{
    gap:5px !important;
    text-align:left !important
  }
  }

  @media(max-width:551px){
    .multicolumn-card__title{
      font-size:14px;
    }
    .multicolumn-card.center{
      width:100% !important;
    }
    .multicolumn-card.center{
      padding:20px !important;
      gap:20px !important;
    }
    .multicolumn-card__icon{
      width:30px;
    }

  } */
  .featured_card > a:first-of-type{
      display:none !important;
  }

</style>
{% section 'product-banners' %}
{% section 'featured-products' %}
<div style="display:none">
  {% section 'promotional-banner' %}
{% section 'multicolumn-text' %}
</div>
