
.breadcrumbs {
  $this: &;
  display: flex;
  gap: .5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {

    gap: .5rem;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: var(--color-charade);

    &.hide-on-mobile {
      @media screen and (max-width: 480px) {
        display: none;
      }
    }

    &:last-child {
      font-weight: 700;
    }
  }

  &__icon {
    transition: tranform 200ms ease-in-out;

    @media screen and (max-width: 769px) {
      transform: rotate(180deg);
    }
  }

  &__link {
    font: inherit;
    cursor: pointer;
  }

  &__link:hover,
  &__link:focus {
    text-decoration: underline;
  }
}

