[data-component="hero-banner"] {
  .banner-container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    aspect-ratio: 3.5/3;

    @media screen and (min-width: 769px) {
      min-height: 500px;
      aspect-ratio: 14/6;
    }
  }

  .countdown-timer {
    display: grid;
    gap: 4px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .time-part {
      display: grid;
      justify-content: center;
      padding: 2px 4px;
      background-color: #fff;
      border-radius: 4px;
      text-align: center;
      @media screen and (min-width: 768px) {
        width: 69px;
        padding: 4px
      }

      .digit {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 125%;
        @media screen and (min-width: 768px) {
          font-size: 32px
        }
      }

      .label {
        font-weight: 400;
        font-size: .75rem;
        letter-spacing: 0;
        line-height: 1rem;
        @media screen and (min-width: 768px) {
          font-size: 12px
        }
      }
    }
  }

  .banner-features {
    display: grid;
    gap: 1rem;
    grid-template-columns:minmax(0, 1fr);
    justify-content: center;
    width: 100%;
    text-align: center;
    @media screen and (min-width: 480px) {
      max-width: 352px;
    }

    .banner-cta {
      display: block;
      @media screen and (max-width: 769px) {
        //min-height: 36px;
      }

      @media screen and (min-width: 769px) {
        max-width: 352px
      }

      a.btn {
        @media screen and (max-width: 769px) {
          font-size: 14px;
          min-height: 36px;
          padding: 0;
        }
      }
    }
  }

  .banner-container {
    @media screen and (min-width: 769px) {
      align-content: flex-start;
    }
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    @media screen and (min-width: 769px) {
      align-items: flex-start;
      text-align: left;
    }

    .banner-title {
      @media screen and (max-width: 769px) {
        font-size: 32px;
      }
    }

    .sub-heading {
      width: 100%;
      text-align: center;
      @media screen and (min-width: 769px) {
        width: fit-content;
        text-align: left;
      }

      a {
        font-size: 12px
      }
    }
  }

  .banner-interior {
    position: absolute;
    left: 0;
    right: 0;

    @media screen and (max-width: 769px) {
      height: 100%;
    }
  }

  .banner-panel {
    position: relative;

    display: grid;
    gap: 1rem;
    align-content: space-between;
    justify-items: center;
    width: 100%;
    height: 100%;
    padding: .75rem;
    @media screen and (min-width: 769px) {
      gap: 2.5rem;

      justify-items: flex-start;
      padding: 2.5rem 1.25rem 0 2.5rem
    }
  }

  .overlay-bg {
    position: absolute;
    inset: 0;
    height: 140px;
    background: linear-gradient(180deg, rgba(0, 0, 0, .75) 3.5%, transparent 60%);
  }

  .wallpaper {
    display: block;

    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%
  }
  .banner-container {
    padding: 0;
  }

}
