#product-media {
  position: relative;

  @media screen and (min-width: 769px) {
    position: sticky;
    top: 159px;
    height: max-content
  }

  .desktop-mansory {
    display: none;

    @media screen and (min-width: 769px) {

      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-content: flex-start;
    }

    .image-wrapper {
      position: relative;

      img {
        @media screen and (max-width: 769px) {
          aspect-ratio: 351/268;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }

      .image-item {
        border-radius: 4px;
        -o-object-fit: contain;
        object-fit: contain;
        z-index: 1;
        width: 100%;
        aspect-ratio: 1.6;

        @media screen and (min-width: 769px) {
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }

      #product-title {
        @media screen and (max-width: 769px) {
          margin-top: 12px;
        }
      }

      .image-award {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 22px;
        right: 23px;
        z-index: 2;
      }
    }

    .caption-container {
      margin-top: 10px;
      width: 100%;
      color: #000;
      background-color: #f7f7f7;
      border-radius: 4px;
      padding: 1.75rem;
    }

    &__item.full-width {
      grid-column: 1/span 2;
    }

    &__item.lead-item {
      position: relative;
    }
  }


  .media-carousel {
    display: grid;
    gap: 8px;

    @media screen and (min-width: 769px) {
      display: none;
    }

    .splide__track {
      padding: 0;
    }

    #main-carousel, #thumbnail-carousel {
      padding: 0;
    }

    #thumbnail-carousel .image-wrapper {
      border-radius: 4px;

      .image-award {
        @media screen and (min-width: 769px) {
          width: 150px;
          height: 150px;
        }

      }
    }

    #thumbnail-carousel .splide__pagination__page {
      height: 6px;
      width: 6px;
      background: #d2d3dd;
      opacity: .65;
    }

    #thumbnail-carousel .splide__pagination__page.is-active {
      background: #2e2f3c !important;
      border-radius: 8px;
      width: 12px;
      opacity: 1;
    }

    .splide__pagination {
      bottom: 0.5em !important;
    }


  }
}
