
.product-form__item {
  flex-basis: 100%
}


.quantity_wrapper {
  display: grid;
  gap: 24px;
  grid-template-columns: minmax(0, 1fr) minmax(0, auto);
  align-items: center;
  margin-bottom: 1rem;
}

.quantity_wrapper .input-container {
  display: flex;
}

.quantity_wrapper .input-container #minus, .quantity_wrapper .input-container #plus {
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: #e6e7ec;
  opacity: .5;
  border-radius: 100%
}

variant-selects {
  display: block;
}

.product-option {
  .form__label {
    display: block;
    margin-bottom: .6rem;
  }

  .select {
    display: inline-block;
    position: relative;
    width: 100%
  }

  .select .icon {
    height: .6rem;
    pointer-events: none;
    position: absolute;
    top: calc(50% - .2rem);
    right: 1.5rem;
  }

  .select__select {
    display: flex;
    width: 100%;
    min-height: 48px;
    max-height: 48px;
    padding: 0 16px;
    border: 1px solid #b3b3b3;
    border-radius: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px
  }
}

.product-form {
  position: relative;
  display: grid;
  gap: 16px;
  grid-template-columns: minmax(0, 1fr);
  align-content: flex-start;
  margin-bottom: 24px;
}

.product-form .overlay {
  z-index: 2;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.add-to-cart-btn {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, auto);
  height: 38px;
  min-height: initial;
  max-height: 50px;
  min-width: initial;
  margin: 0;
  padding: 0;
  border-radius: 50px !important;
  border: none;
  text-transform: none !important;
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 20px !important;
  background-color: #ff8900;
  color: #fff;
}

.add-to-cart-btn svg {
  width: 16px;
}

@media screen and (min-width: 768px) {
  .add-to-cart-btn {
    height: 50px;
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .add-to-cart-btn svg {
    width: 25px;
  }
}

.add-to-cart-btn svg path {
  fill: #fff;
}

.add-to-cart-btn .loading-overlay__spinner {
  display: none;
}

.add-to-cart-btn.loading {
  position: relative;
}

.add-to-cart-btn.loading > :not(.loading-overlay__spinner) {
  display: none;
}

.add-to-cart-btn.loading .loading-overlay__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  height: 100%
}

.attribute-configurator {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(0, .6fr) minmax(0, .4fr);
  align-items: flex-end;
  transition: 500ms;

  variant-selects {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &--single {
    gap: 0;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0);

    variant-selects {
      display: none;
    }
  }

  &--unavailable {
    gap: 0;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0);

    #quantity-selector {
      display: none !important;
    }
  }
}


.product-quantity-selector .quantity-input__button {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: #f1f1f1;
  opacity: 1;
  border-radius: 100%;
  color: #000
}

.product-quantity-selector {
  padding: 0;
  text-align: left;
  gap: 9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start
}

.product-quantity-selector .quantity-input {
  width: 100%;
  justify-content: space-between;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  min-height: 48px;
  max-height: 48px;
  padding: 10px
}

.product-quantity-selector .quantity-input__button {
  border: 0;
  font-size: 19px
}



product-buybox {
  #attribute-configurator {
    margin: 1rem 0;
  }
}
