product-card {
  position: relative;

  display: flex;
  height: 100%;
  background-color: #f7f7f9;
  border-radius: 8px;
  overflow: hidden;

  &.landscape {
    @media screen and (max-width: 769px) {
      .wrapper {
        gap: 8px;
        grid-template-rows: initial;
        grid-template-columns: minmax(0, 0.4fr) minmax(0, 0.6fr);
        max-width: 100%;
      }

      .product-card-media {
        height: 100%;
      }

      .product-card-detail {
        display: grid;
        gap: 8px;
        grid-template-rows: minmax(0, auto) minmax(0, 1fr);
        grid-template-columns: minmax(0, 1fr);
        align-content: space-between;
        justify-items: flex-start;

        padding: 8px 12px 8px 0;
      }

      .product-card-metadata {
        padding: 0;
      }

      .product-card-badge-container {
        position: static;
      }
    }
  }


  @media screen and (min-width: 769px) {
    position: relative;
  }

  .wrapper {
    display: grid;
    gap: 0.8rem;
    align-items: flex-start;
    grid-template-rows: minmax(0, auto) minmax(0, 1fr);
    width: 100%;
  }

  .product-card-media {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .product-card-media .product__image {
    aspect-ratio: 1.33;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .product-card-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 0 12px 8px;
  }

  .product-card-metadata {
    display: grid;
    gap: 4px;
    grid-template-columns: minmax(0, 1fr);
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
  }

  .product-card-badge-container {
    position: absolute;
    top: 8px;
    left: 8px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, minmax(0, auto));
    justify-content: flex-start;
  }

  .product-card-badge {
    color: #fff;
    max-height: 28px;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 12px;
  }

  @media screen and (min-width: 769px) {
    .product-card-badge {
      font-size: 14px;
    }
  }

  .product__name {
    font-weight: 500;
    font-size: 16px;
  }

  .product__short-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .product__price {
    font-weight: 400;
    font-size: 16px;
  }
}

