product-media {
  $this: ".product-media";
  flex: 1;

  display: grid;
  gap: 8px;
  grid-template-rows: repeat(2, minmax(0, auto));
  grid-template-columns: minmax(0, 1fr);

  .media-item {
    height: fit-content;
    aspect-ratio: 16/10;
    overflow: hidden;

    border-radius: 8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.lead-item {
      position: relative;
      flex: 1;
    }
  }


  .thumbnail-carousel {
    .media-item {
      border-radius: 4px;

      &.is-active {
        border: 3px solid #000;
      }
    }

    .splide__list {
      align-items: center;
      @media screen and (min-width: 769px) {
        justify-content: center;
      }
    }
  }

  .splide {
    &__track {
      padding: 0;
    }

    &__arrow {
      width: 30px;
      height: 30px;

      transform: none;

      @media screen and (min-width: 769px) {
        width: 40px;
        height: 40px;
      }

      &--prev {
        left: 10px;
      }

      &--next {
        right: 10px;
      }
    }
  }
}

