.rtf-viewer {
  all: inherit;

  p {
    all: inherit;
  }

  ul {
    margin: 8px 0 8px 15px;
    list-style: initial;
    font-size: 14px;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}
