{% assign yotpo_star_rating = section.blocks | where: 'type', 'yotpo_star_rating' | first %}

<h2 id="product-title" class="paragraph-24 font-inter font-semibold">
  {{ product.title }}
  {% comment %}{{ section.settings.title | default: product.title }}{% endcomment %}
  {% if section.settings.badge != blank %}
    <div
      class="inline-flex bg-scarlet text-white py-[5px] px-[8px] uppercase rounded text-[13px] ml-[10px] leading-normal"
    >
      {{ section.settings.badge }}
    </div>
  {% endif %}
</h2>

{% render 'yotpo_star_rating', settings: yotpo_star_rating.settings %}

<div class="product-description">
  {{ section.settings.desc | default: product.description }}
</div>
