{% assign campaignTeaser = section.blocks | where: 'type', 'campaign_teaser' | first %}


<div id="product-viewer">

    {% if campaignTeaser %}
        <div class="campaign-teaser">
            <h2 class="text-sm font-bold">{{ campaignTeaser.settings.title }}</h2>
            <div class="text-xs md:text-sm">
                {% render 'rtf-viewer', content: campaignTeaser.settings.content %}
            </div>
        </div>
    {% endif %}

    {% render 'product-media' %}
</div>
