<style>
  .rtf-viewer {
    all: inherit;
  }
  .rtf-viewer > p {
     all: inherit;
  }

  .rtf-viewer > ul {
    margin: 8px 0 8px 15px;
    list-style: initial;
    font-size: 14px;
  }
</style>

<div class="rtf-viewer">
  {{ content}}
</div>
