{% assign product = settings.product %}

<div class="yotpo-widget-instance"
     data-yotpo-instance-id="541219"
     data-yotpo-product-id="{{ product.id }}"
     data-yotpo-cart-product-id="{{ item.product.id }}"
     data-yotpo-section-id="{{ template.name }}">
</div>
