// cart-drawer.scss is for default style
// cart-drawer-override is for new style, that fix issue that default style has css class overlap with tailwind helper class, or element that got reset by tailwind

.cart-product {
  display: flex;

  &__image {
    width: 25%;
  }

  &__content {
    width: 75%;
    padding-left: 16px;
  }
}

.ajaxcart__inner {
  .grid {
    display: block;
  }
}

.prod_type .js-select2 {
  width: 100%;
  font-size: 1.28571em;
  border-color: transparent;
  background-color: #f7f7f7;
  color: #1c1d1d;
  -webkit-transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  -ms-transition: opacity .4s ease-out;
  -o-transition: opacity .4s ease-out;
  transition: opacity .4s ease-out;
  max-width: 100%;
  padding: 8px 10px;
  border-radius: 0;
}

.discount-input {
  border: 1px solid #212b57;
  max-width: 100%;
  padding: 8px 10px;
  border-radius: 0;
}

.contact {
  &--strong {
    font-size: 13px;
    font-weight: 600;
  }
}