@import "../abstracts/index";

#emma-sleep-footer {
  font-family: "body-text", sans-serif;
  color: #fff !important;
  padding: 67px 0 60px;
  background: #3C4196;

  @media (max-width: 1024px) {
    text-align: center;
  }

  ul {
    margin: 0;
  }

  .wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: 1300px) {
      min-width: 1300px;
    }

    @media (min-width: 1200px) {
      min-width: 1200px;
    }

    @media (min-width: 992px) {
      min-width: 960px;
    }

    @media (min-width: 1200px) {
      min-width: 1300px;
    }

    @media (min-width: 1400px) {
      min-width: 1350px !important;
    }

    @media screen and (min-width: 591px) {
      padding: 0 30px;
    }
  }

  .footer-top-row {
    margin-bottom: 66px;

    @media (max-width: 1024px) {
      margin-bottom: 50px;
    }

    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
    }

    .footer-logo {
      @media (max-width: 1024px) {
        margin: 0 auto 50px auto;
      }
    }

    .footer-social-wrapper {
      display: flex;
      align-items: center;

      @media (max-width: 1024px) {
        display: inline-flex;
        margin: 0 auto;
      }
    }

    .footer-icons-wrapper {
      display: flex;
      list-style-type: none;
      margin: 0 0 0 20px;
      padding: 0;
      text-rendering: optimizeLegibility;

      li:first-child {
        margin-right: 21px;
      }
    }
  }

  .footer-mid-row {
    margin-bottom: 119px;

    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
    }

    .newsletter-container {
      @media (max-width: 1024px) {
        margin-bottom: 46px;
      }

      form {
        display: flex;
        margin-top: 33px;
      }

      p {
        margin-bottom: 15px;
      }

      .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
      }

      .input-group-field {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
      }

      .hidden-label {
        clip: rect(0 0 0 0);
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
        position: absolute;
        height: 1px;
        width: 1px;
      }

      .newsletter--form {
        @media (max-width: 1024px) {
          width: 50%;
          margin: 0 auto;
        }

        @media (max-width: 600px) {
          width: 100%;
        }
      }

      .newsletter__input {
        height: 45px;
        font-size: 16px;
        padding: 13px 18px;
        box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
        border: 0;
        border-radius: 8px;
        width: 100%;
      }

      .newsletter__submit {
        width: 100%;
        height: 45px;
        padding: 8px 48px;
        font-family: 'body-text', sans-serif;
        text-transform: Capitalize;
        font-weight: 700;
        font-size: 16px;
        display: inline-block;
        margin: 0;
        line-height: 1.42;
        border-radius: 12px;
        letter-spacing: 0;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        white-space: normal;
        cursor: pointer;
        border: 1px solid transparent;
        user-select: none;
        -webkit-appearance: none;
        background-color: #ff8900;
        color: #fff;
        transition: background-color .4s ease-out;

        &:hover {
          transition: background-color .15s ease-out;
          background-color: #ffa53d;
          color: #fff;
        }
      }

      .newsletter__submit-text--large {
        @media screen and (max-width: 590px) {
          display: none;
        }

        @media screen and (min-width: 591px) {
          display: block;
        }
      }

      .newsletter__submit-text--small {
        @media screen and (min-width: 591px) {
          display: none;
        }

        .icon:before {
          display: inline;
          font-family: "icons";
          text-decoration: none;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        .icon-arrow-right:before {
          content: "\e901";
        }
      }
    }

    .footer-nav-container {
      @media (max-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
      }

      @media (min-width: 1200px) {
        display: flex;
      }

      .footer-nav-col {
        @media (max-width: 1024px) {
          width: 45%;
          margin-right: 3%;
          padding-left: 2%;
          margin-bottom: 20px;
          text-align: left;
        }

        @media (max-width: 1024px) and (min-width: 600px) {
          text-align: center;
        }

        @media (min-width: 1200px) {
          margin-right: 40px;
        }

        p {
          margin-bottom: 15px;

          @media (max-width: 1024px) {
            font-size: 9px;
          }
        }

        ul li {
          margin-bottom: 9px;

          a {
            transition: .3s ease-in;
            font-size: 12px;
            color: #fff;

            @media (max-width: 1024px) {
              font-size: 9px;
            }
          }
        }
      }
    }
  }

  .footer-bottom-row {
    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    p {
      @media (max-width: 1024px) {
        margin-bottom: 37px;
        font-size: 14px;
      }
    }

    .footer-payment-icons {
      @media (max-width: 1024px) {
        margin: 0 auto;
      }
    }
  }

  .text-white {
    color: #ffffff !important;
  }

  .text-lg {
    font-size: 18px;
  }

  .text-nm {
    font-size: 16px;
  }

  .font-weight-bold {
    font-weight: 700;
  }

  .form-success {
    color: #56ad6a;
    background-color: #ecfef0;
    border-color: #56ad6a;
  }

  .form-success a {
    color: #56ad6a;
    text-decoration: underline;
  }

  .form-success a:hover {
    text-decoration: none;
  }

  .note,
  .errors {
    border-radius: 0;
    padding: 6px 12px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    font-size: 0.9em;
    text-align: left;
  }

  .note ul,
  .note ol,
  .errors ul,
  .errors ol {
    margin-top: 0;
    margin-bottom: 0;
  }

  .note li:last-child,
  .errors li:last-child {
    margin-bottom: 0;
  }

  .note p,
  .errors p {
    margin-bottom: 0;
  }

  .note {
    border-color: #212b57;
  }

  .blog-menu-title {
    margin-top: 24px;
  }
}
