#feature-products-section {
  display: flex;
  justify-content: center;
  margin: 50px 16px;

  .wrapper {
    display: grid;
    gap: 16px;
    justify-items: center;
    max-width: initial;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

      width: 70%;
    }
  }

  .card {
    position: relative;

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;

    min-height: 375px;
    padding: 12px;
    background: linear-gradient(122.12deg, #FFF6EC 13.12%, #FFDEB7 109.41%);
    border-radius: 8px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      padding: 30px 50px;

    }

    &__image {
      --tw-scale-x: 1.1;
      --tw-scale-y: 0.7;

      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transform-origin: bottom right;
      transform: scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));


      @media (min-width: 768px) {
        --tw-scale-x: 1;
        --tw-scale-y: 1;
      }

      img {
        height: 100%;
      }
    }

    &__header {
      display: grid;
      gap: 10px;
      justify-items: center;
      text-align: center;
      @media screen and (min-width: 768px) {
        justify-items: flex-start;
        text-align: left;
      }
    }

    &__badge {

      padding: 0.25rem 0.5rem;

      font-size: 11px;
      color: white;
      background-color: rgb(25, 105, 86);
      border-radius: 4px;
      @media screen and (min-width: 768px) {
        font-size: 13px;
      }
    }

    .line-through {
      -webkit-text-decoration-line: line-through;
      text-decoration-line: line-through;
    }

    .font-semibold {
      font-weight: 600;
    }

    &__title {
      font-weight: 400;
      @media screen and (min-width: 768px) {
        font-size: 28px;
      }
    }


    &__btn {
      z-index: 2;

      display: flex;
      justify-content: center;

      padding: 11px 30px;
      width: 100%;
      color: white;
      background-color: rgb(60, 65, 150);
      border-radius: 60px;

      text-transform: uppercase;
      @media screen and (min-width: 768px) {
        width: auto;
      }
    }
  }
}
