#site-nav {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 110;

  display: none;

  align-items: center;
  justify-content: center;

  width: 100%;

  background-color: white;

  @media (min-width: 1024px) {
    position: static;
    display: flex;
  }
}

.site-nav {
  $this: &;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: center;
    height: 100%;
  }

  &--has-dropdown {
    > a:before {
      display: none !important;
    }
  }

  &__item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding: 0 12px;
    @media (min-width: 1024px) {
      position: inherit;
      width: initial;
      padding: 0;
    }
  }

  &__dropdown {
    position: static;
    opacity: 1;
    display: none;

    text-transform: none;
    box-shadow: none;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    pointer-events: all;

    @media (min-width: 1024px) {
      position: absolute;
      top: 100%;
      left: 0;

      display: flex;
      align-items: center;

      width: 100%;
      height: 20rem;

      padding: 0 4rem;

      box-shadow: none;
      opacity: 0;

      pointer-events: none;
    }
  }

  &__link--icon {
    padding: 9px 15px;
  }

  &--minimal {
    &.site-nav__item {
      @media (min-width: 1024px) {
        position: relative;
      }

    }

    #{$this}__dropdown {
      width: initial;
      height: initial;
      padding: 0;
      pointer-events: all;
    }
  }
}

.nav-link {
  $this: &;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 4rem;

  padding: 9px 15px;

  cursor: pointer;

  text-transform: capitalize;

  word-break: keep-all;
  white-space: nowrap;
  font-family: "body-text", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: 1024px) {
    width: initial;
    height: auto;
    padding: 0 12px;
  }

  &--is-open {
    #{$this}__title {
      pointer-events: all !important;
    }

    #{$this}__arrow {
      transform: rotate(180deg);
    }
  }

  &__url {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__title {
    position: absolute;
    left: 15px;

    z-index: 10;
    pointer-events: none;
    cursor: pointer;

    @media (min-width: 1024px) {
      position: static;
      pointer-events: all;
    }

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;

      background-color: #ff8900;

      transform: scaleX(0);
      transform-origin: bottom left;
      transition: transform 0.15s ease-out;
    }

    &:hover:after {
      transform: scaleX(1);
    }
  }

  &__arrow {
    transition: transform ease-in 200ms;

    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.site-subnav {
  $this: &;
  --cols: 2;
  --gap: 0.75rem;

  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
  width: 100%;
  margin: 0;
  padding: 0 var(--gap);


  @media (min-width: 1024px) {
    --cols: 3;
  }

  @media (min-width: 1400px) {
    --cols: 4;
  }

  &__item {
    width: 100%;

    margin: 0;
    padding: 0;
  }

  &__featured-image {
    display: flex;
    width: 100%;
    height: 11rem;
    max-height: 15rem;

    border-radius: 4px;
    overflow: hidden;

    img {
      width: 100%;

      object-fit: cover;
    }
  }

  &__link {
    display: grid;
    gap: 0.5rem;
    grid-auto-flow: row;
    grid-auto-rows: minmax(0, auto);
    height: 100%;
    text-align: left;

    @media (min-width: 1024px) {
      gap: 1rem;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
  }

  &__footer {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, auto);
    align-items: flex-end;
    @media (min-width: 1024px) {
      align-items: center;
    }
  }

  &__price {
    font-size: 0.75rem;
    line-height: 1rem;

    @media (min-width: 1024px) {
      display: grid;
      gap: 4px;
      grid-auto-flow: column;
      justify-content: flex-start;
    }

    &--sale {
      color: rgb(240, 51, 6);
      font-weight: bold;
    }

    &--original {
      text-decoration-line: line-through;
    }
  }

  &--minimal {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;

    #{$this}__link {
      padding: 9px 15px;

      word-break: keep-all;
      white-space: nowrap;
    }
  }
}
